1. Start the beeline command line environment for Hive: __$ beeline -u jdbc:hive2://__
2. As this lab will use the dualcore database, set it to be the current database, then display the tables in this database.
3. Describe the table customers to learn about its fields.

In [ ]:
[cloudera@quickstart ~]$ beeline -u jdbc:hive2://
scan complete in 5ms
Connecting to jdbc:hive2://
Connected to: Apache Hive (version 1.1.0-cdh5.10.0)
Driver: Hive JDBC (version 1.1.0-cdh5.10.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
Beeline version 1.1.0-cdh5.10.0 by Apache Hive
0: jdbc:hive2://> SHOW DATABASES;
OK
+----------------+--+
| database_name  |
+----------------+--+
| default        |
| dualcore       |
+----------------+--+
2 rows selected (4.215 seconds)
0: jdbc:hive2://> USE DUALCORE;
OK
No rows affected (0.132 seconds)
0: jdbc:hive2://>

In [ ]:
0: jdbc:hive2://> SHOW TABLES;
OK
+----------------+--+
|    tab_name    |
+----------------+--+
| customers      |
| employees      |
| order_details  |
| orders         |
| products       |
+----------------+--+
5 rows selected (0.163 seconds)
0: jdbc:hive2://>

In [ ]:
0: jdbc:hive2://> DESCRIBE CUSTOMERS;
OK
+-----------+------------+----------+--+
| col_name  | data_type  | comment  |
+-----------+------------+----------+--+
| cust_id   | int        |          |
| fname     | string     |          |
| lname     | string     |          |
| address   | string     |          |
| city      | string     |          |
| state     | string     |          |
| zipcode   | string     |          |
+-----------+------------+----------+--+
7 rows selected (0.391 seconds)
0: jdbc:hive2://>

4. All you know about the winner is that her name is Bridget and she lives in Kansas City. Use Hive’s LIKE operator to do a wildcard search for customers with first names (fname) such as “Bridget”, “Bridgette” or “Bridgitte”. Remember to filter on the customer’s city (city). Question : Which customer did your query identify as the winner of the $5,000 prize?
5. Exit the beeline shell and return to the command line.

In [ ]:
0: jdbc:hive2://> SELECT * FROM customers WHERE (fname LIKE '%Bridget%' OR fname LIKE '%Bridgette%' OR fname LIKE '%Bridgitte%') AND city = 'Kansas City';
OK
+--------------------+------------------+------------------+-----------------------+-----------------+------------------+--------------------+--+
| customers.cust_id  | customers.fname  | customers.lname  |   customers.address   | customers.city  | customers.state  | customers.zipcode  |
+--------------------+------------------+------------------+-----------------------+-----------------+------------------+--------------------+--+
| 1139477            | Bridget          | Burch            | 1644 East 7th Street  | Kansas City     | KS               | 66119              |
+--------------------+------------------+------------------+-----------------------+-----------------+------------------+--------------------+--+
1 row selected (1.598 seconds)

# 2. Running a Query Directly from the Command Line

In [ ]:
 SELECT price, brand, name FROM products ORDER BY
 price DESC LIMIT 3

# Step #4: Running a Query Through Hue and Beeswax

In [ ]:
SELECT COUNT(*) from customers;

# 53