In [2]:
%reload_ext ishbook
import pandas as pd
import datetime as dt
import plus
import iql
import numpy as np
from pytz import timezone
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [4]:
## Read in the master sales list and ONLY grab the reps that have been marked as "Current Employee" to get only the active reps on sales teams

sales_sheet = plus.read_google_sheet('1dTuz8gPQ8d1REKJ2wwoif34QczcfhkzDOhaW6ubkEJc',intype='key',sheet='Sales Roster')
current_sales_rep = sales_sheet['Current Employee'] == 'YES'
current_sales_sheet = sales_sheet[current_sales_rep]

In [16]:
current_sales_sheet.head()

,Name,New Team Names,Market,Title,Title,Current/Final Director,Current/Final Sr. Director,Current Office Location,Current Region,Past Office Location,...,HR/Indeed Teams Name,Indeed Assigned Name,QTR Name Change,Year Name Change,Notes,Top Gun 2016 Purposes (KP),,Market Old,Hire Date (m/d/y),Term Date (m/d/y)
ID,,,,,,,,,,,,,,,,,,,,,
21,Stan Berizzi,Agency-US-Northeast,US,Agency AM,SENIOR AGENCY ACCOUNT EXECUTIVE,Amanda Colonna,Michael Nasif,Remote,US/CA,,...,,sberizzi,,,Title updated 3/26/2015,Y,,Agency US,5/22/2006,
47,Santo Provenzano,NYC ALL,NYC,Senior Director NYC,SENIOR DIRECTOR OF SALES,,Santo Provenzano,NYC,US/CA,,...,,santo,,,,Y,,NYC,6/19/2007,
66,Joe Sgrulletta,US ALL,US,VP US Inside Sales,Vice President Inside Sales US,,,STM,US/CA,,...,,joes,,,,Y,,US,2/19/2008,
102,Amanda Colonna,Agency-US-East,Agency US,Agency Director Agency-US-East,DIRECTOR OF SALES Agency Relations,Amanda Colonna,Michael Nasif,Remote,US/CA,,...,,acolonna,,,,Y,,Agency US,9/22/2008,
101,Nolan Farris,ALL,ALL,SVP Sales,Senior Vice President Sales,,,STM,ALL,,...,,nolan,,,,Y,,ALL,9/27/2008,

In [17]:
## remove the blank values from the User ID field - this is what I'm going to use to create a list of IDs to feed into the index

remove_blanks = current_sales_sheet['User ID'] != ""
current_sales_sheet = current_sales_sheet[remove_blanks]
current_sales_sheet['User ID'] = current_sales_sheet['User ID'].astype(int)

In [18]:
## Since the User ID field comes in as a string object, I have to reassign each value in the column as integer in order to feed into the index
## this is why I had to drop the blank values in the previous cell - Python can't convert an empty string into an integer
## create a list of IDs & refine the sales_sheet so it only includes the fields that I want

sales_ids = tuple(current_sales_sheet['User ID'].tolist())
current_sales_sheet = current_sales_sheet[['Name', 'New Team Names', 'User ID']]

In [19]:
## Do the same steps as above for the CS Team list, pull in the current CS Reps

cs_teams = plus.read_google_sheet('1194g28N02sqVJMhHHQthdKItgzgbwWwaAfgC5YVVFko', intype = 'key', sheet = 'Current Team Info')

In [20]:
## Except in this step, I'm removing the "Non-Client Facing" reps/teams - this gets rid of a lot of the senior mgmt and teams that don't touch clients

remove_non_client_facing = cs_teams['Category'] != 'Non-Client Facing'
cs_teams = cs_teams[remove_non_client_facing]

In [21]:
## Same as above, filtering for only the columns that I need

cs_teams_filtered = cs_teams[['Common Name', 'Team', 'AdCentral ID']].copy()
cs_teams_filtered.reset_index(inplace = True)

In [22]:
drop_na = cs_teams_filtered['AdCentral ID'] != '#N/A'
cs_teams_filtered = cs_teams_filtered[drop_na]
cs_teams_filtered['AdCentral ID'] = cs_teams_filtered['AdCentral ID'].astype(int)

In [23]:
cs_ids = tuple(cs_teams_filtered['AdCentral ID'].tolist())

In [24]:
current_sales_sheet.tail(1)
current_sales_sheet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1322 entries, 21 to 6068
Data columns (total 3 columns):
Name              1322 non-null object
New Team Names    1322 non-null object
User ID           1322 non-null int64
dtypes: int64(1), object(2)
memory usage: 41.3+ KB

In [25]:
cs_teams_filtered.tail(1)

           Common Name                     Team  AdCentral ID
684    Zuzana Kovacova  CS-EMEA-UK-CSStaffingJB          6041

In [27]:
## for all the rep_ids associated to sales reps, go into the 'advertiserevent' index and grab any activity_types for 'CREATE_AD' & 'CREATE_JOB' for Hosted jobs
## grab the unixtime so I can correlate this to a date

%ish internal_jobs_sales = from advertiserevent 2016-05-01 2016-09-30 \
where rep_id in {sales_ids} activity_type in ('CREATE_AD', 'CREATE_JOB') activity_field=HOSTED_JOB \
group by rep_id, rep_username/*Sales Rep*/, advertiser_id, message, unixtime select counts/*Number of Created Jobs*/

Output = None

In [28]:
internal_jobs_sales.head(20)

,rep_id,Sales Rep,advertiser_id,message,unixtime,Number of Created Jobs
0,3409,manuels,6215939,[claudiavvc@mx.inditex.com] Created hosted job...,1462098415,1
1,3409,manuels,6215939,[claudiavvc@mx.inditex.com] Created hosted job...,1462098415,1
2,3409,manuels,6215939,[claudiavvc@mx.inditex.com] Created hosted job...,1462098415,1
3,3409,manuels,6215939,[claudiavvc@mx.inditex.com] Created hosted job...,1462098415,1
4,3409,manuels,6215939,[claudiavvc@mx.inditex.com] Created hosted job...,1462098415,1
5,3409,manuels,6215939,[claudiavvc@mx.inditex.com] Created hosted job...,1462098415,1
6,3409,manuels,6215939,[claudiavvc@mx.inditex.com] Created hosted job...,1462098436,1
7,3409,manuels,6215939,[claudiavvc@mx.inditex.com] Created hosted job...,1462098444,1
8,3409,manuels,6215939,[claudiavvc@mx.inditex.com] Created hosted job...,1462098473,1
9,3409,manuels,6215939,[claudiavvc@mx.inditex.com] Created hosted job...,1462098492,1
10,3409,manuels,6215939,[claudiavvc@mx.inditex.com] Created hosted job...,1462098509,1
11,3409,manuels,6215939,[claudiavvc@mx.inditex.com] Created hosted job...,1462098530,1
12,3409,manuels,6215939,[claudiavvc@mx.inditex.com] Created hosted job...,1462098545,1
13,3409,manuels,6215939,[claudiavvc@mx.inditex.com] Created hosted job...,1462098556,1
14,3409,manuels,6215939,[claudiavvc@mx.inditex.com] Created hosted job...,1462098566,1
15,3409,manuels,6215939,[claudiavvc@mx.inditex.com] Created hosted job...,1462098581,1
16,3409,manuels,6215939,[claudiavvc@mx.inditex.com] Created hosted job...,1462098597,1
17,3409,manuels,6215939,[claudiavvc@mx.inditex.com] Created hosted job...,1462098615,1
18,3409,manuels,338266,[fgomez@ilsp.com.mx] Created hosted job with t...,1462118468,1
19,2810,lindsayz,1419236,[hrembert@primecomms.com] Created hosted job w...,1462196090,1

In [29]:
test = internal_jobs_sales.copy()

In [30]:
test['Date (EST)'] = [dt.datetime.fromtimestamp(x).replace(tzinfo=timezone('EST')).strftime('%F') for x in test.unixtime]
test['Time (EST)'] = [dt.datetime.fromtimestamp(x).replace(tzinfo=timezone('EST')).strftime('%I:%M:%S %p') for x in test.unixtime]

In [35]:
test2 = test.groupby(['Date (EST)','Time (EST)', 'Sales Rep', 'rep_id', 'advertiser_id']).agg({'Number of Created Jobs': sum}).reset_index()

In [32]:
test2[test2['Number of Created Jobs'] == 274]

      Date (EST)   Time (EST) Sales Rep  advertiser_id  Number of Created Jobs
4052  2016-09-06  04:41:18 AM   acahill        1041163                     274

In [41]:
test2.merge(current_sales_sheet, how = 'left', left_on = 'rep_id', right_on = 'User ID')

,Date (EST),Time (EST),Sales Rep,rep_id,advertiser_id,Number of Created Jobs,Name,New Team Names,User ID
0,2016-05-01,06:26:55 AM,manuels,3409,6215939,6,Manuel Sanz,ES-IS-DUB,3409
1,2016-05-01,06:27:16 AM,manuels,3409,6215939,1,Manuel Sanz,ES-IS-DUB,3409
2,2016-05-01,06:27:24 AM,manuels,3409,6215939,1,Manuel Sanz,ES-IS-DUB,3409
3,2016-05-01,06:27:53 AM,manuels,3409,6215939,1,Manuel Sanz,ES-IS-DUB,3409
4,2016-05-01,06:28:12 AM,manuels,3409,6215939,1,Manuel Sanz,ES-IS-DUB,3409
5,2016-05-01,06:28:29 AM,manuels,3409,6215939,1,Manuel Sanz,ES-IS-DUB,3409
6,2016-05-01,06:28:50 AM,manuels,3409,6215939,1,Manuel Sanz,ES-IS-DUB,3409
7,2016-05-01,06:29:05 AM,manuels,3409,6215939,1,Manuel Sanz,ES-IS-DUB,3409
8,2016-05-01,06:29:16 AM,manuels,3409,6215939,1,Manuel Sanz,ES-IS-DUB,3409
9,2016-05-01,06:29:26 AM,manuels,3409,6215939,1,Manuel Sanz,ES-IS-DUB,3409
10,2016-05-01,06:29:41 AM,manuels,3409,6215939,1,Manuel Sanz,ES-IS-DUB,3409
11,2016-05-01,06:29:57 AM,manuels,3409,6215939,1,Manuel Sanz,ES-IS-DUB,3409
12,2016-05-01,06:30:15 AM,manuels,3409,6215939,1,Manuel Sanz,ES-IS-DUB,3409
13,2016-05-01,12:01:08 PM,manuels,3409,338266,1,Manuel Sanz,ES-IS-DUB,3409
14,2016-05-02,01:32:18 PM,johnab,3459,342748,1,John Abplanalp,MTV-DE3,3459
15,2016-05-02,01:47:17 PM,gromo,1208,5131762,1,Gerardo Romo-Gonzalez,US-StrategicAccounts,1208
16,2016-05-02,01:49:58 PM,gromo,1208,5601223,1,Gerardo Romo-Gonzalez,US-StrategicAccounts,1208
17,2016-05-02,01:55:35 PM,cmarsilio,1878,1368898,1,Christopher Marsilio,DCA3,1878
18,2016-05-02,02:16:05 PM,vincentd,2605,1628043,1,Vincent DeFrancesco,STM-DE9,2605
19,2016-05-02,02:16:15 PM,vincentd,2605,1628043,1,Vincent DeFrancesco,STM-DE9,2605
20,2016-05-02,02:16:33 PM,vincentd,2605,1628043,1,Vincent DeFrancesco,STM-DE9,2605
21,2016-05-02,02:20:30 PM,troyg,1650,131595,1,Troy Grimes,CA-IS-DE-TOR4,1650
22,2016-05-02,03:13:43 PM,marissa,1627,6425425,1,Marissa Lizza,NationalAccounts-NYMetro-DE,1627
23,2016-05-02,03:17:45 PM,wbertolino,4251,7066028,1,Will Bertolino,DCA4,4251
24,2016-05-02,03:18:27 PM,wbertolino,4251,7066028,1,Will Bertolino,DCA4,4251
25,2016-05-02,04:04:06 PM,kprior,3140,2770731,1,Krystal Prior,CA-IS-DE-TOR1,3140
26,2016-05-02,04:04:43 PM,kprior,3140,2770731,1,Krystal Prior,CA-IS-DE-TOR1,3140
27,2016-05-02,04:05:15 PM,kprior,3140,2770731,1,Krystal Prior,CA-IS-DE-TOR1,3140
28,2016-05-02,04:05:44 PM,kprior,3140,2770731,1,Krystal Prior,CA-IS-DE-TOR1,3140
29,2016-05-02,04:28:23 PM,johnab,3459,2920398,1,John Abplanalp,MTV-DE3,3459
...,...,...,...,...,...,...,...,...,...
4912,2016-09-29,04:02:54 PM,sabino,5107,7066856,1,Sabino Hernandez,STM-DE7,5107
4913,2016-09-29,04:13:15 PM,sabino,5107,7066856,1,Sabino Hernandez,STM-DE7,5107
4914,2016-09-29,04:14:34 PM,sabino,5107,7066856,1,Sabino Hernandez,STM-DE7,5107
4915,2016-09-29,04:20:34 PM,msantaniello,2321,2071445,1,Michael Santaniello,NYC-Index,2321
4916,2016-09-29,04:30:30 PM,abiemesderfer,2643,2804970,1,Alex Biemesderfer,STM-DE4,2643
4917,2016-09-29,04:31:49 PM,abiemesderfer,2643,2804970,1,Alex Biemesderfer,STM-DE4,2643
4918,2016-09-29,04:32:13 PM,abiemesderfer,2643,2804970,1,Alex Biemesderfer,STM-DE4,2643
4919,2016-09-29,04:32:52 PM,abiemesderfer,2643,2804970,1,Alex Biemesderfer,STM-DE4,2643
4920,2016-09-29,04:36:14 PM,emmae,1544,8072599,1,Emma Egelson,STM-DE6,1544
4921,2016-09-29,04:37:50 PM,sabino,5107,8951228,1,Sabino Hernandez,STM-DE7,5107
4922,2016-09-29,05:11:45 AM,alanm,3529,8399959,1,Alan Martyn,UK-IS-SA-DUB2,3529
4923,2016-09-29,05:12:12 AM,alanm,3529,8399959,1,Alan Martyn,UK-IS-SA-DUB2,3529
4924,2016-09-29,05:45:35 AM,pmcaleer,3875,1059474,1,Paul mcAleer,UK-DRADIS-DUB1,3875
4925,2016-09-29,06:20:37 AM,soleary,4165,9078401,1,Stephen O' Leary,UK-DRADIS-DUB2,4165
4926,2016-09-29,07:57:25 AM,jthorsell,4172,9192852,1,Johanna Thorsell,NOR-IS-DUB,4172
4927,2016-09-29,08:52:58 AM,ronen,3365,4286906,1,Ronen Kadosh,NYC-DE7,3365
4928,2016-09-29,09:01:15 AM,rmiclat,3352,1881358,1,Rochelle Miclat,CA-IS-DE-TOR4,3352
4929,2016-09-29,09:01:30 AM,rmiclat,3352,1881358,1,Rochelle Miclat,CA-IS-DE-TOR4,3352
4930,2016-09-29,09:01:56 AM,aslattery,5290,8183887,1,Alice Slattery,UK-IS-SA-DUB1,5290
4931,2016-09-29,09:38:15 AM,ronen,3365,4286906,1,Ronen Kadosh,NYC-DE7,3365
4932,2016-09-29,09:51:08 AM,dhall,2770,9190611,1,Denise Hall,Agency-DE,2770
4933,2016-09-29,09:52:09 AM,dhall,2770,9190611,1,Denise Hall,Agency-DE,2770
4934,2016-09-29,10:05:07 AM,ericv,1549,1497190,8,Eric Valdivieso,NYC-DE7,1549
4935,2016-09-29,10:06:00 AM,ericv,1549,1497190,1,Eric Valdivieso,NYC-DE7,1549
4936,2016-09-29,10:23:05 AM,tess,2276,3212668,1,Tess Osborne,ATX-DE1,2276
4937,2016-09-29,10:48:43 AM,stephenk,3303,5803333,3,Stephen Kavanagh,UK-DRADIS-DUB4,3303
4938,2016-09-29,11:45:25 AM,lianna,1231,290888,4,Lianna Robins,US-StrategicAccounts,1231
4939,2016-09-29,11:53:22 AM,sgilmore,5673,778659,1,Sam Gilmore,UK-DRADIS-DUB5,5673
4940,2016-09-29,12:10:36 PM,dmeenan,1032,1848711,1,Daniel Meenan,US-StrategicAccounts,1032
4941,2016-09-29,12:23:23 PM,shanna,891,3855822,1,Shanna Derry,NationalAccounts-Central-DE,891

In [38]:
current_sales_sheet

                          Name                 New Team Names  User ID
ID
21                Stan Berizzi            Agency-US-Northeast       21
47            Santo Provenzano                        NYC ALL       47
66              Joe Sgrulletta                         US ALL       66
102             Amanda Colonna                 Agency-US-East      102
101               Nolan Farris                            ALL      101
138                Quinn Smith                                     138
137            Brendan Pomeroy                      STM 2 ALL      137
149       Aline Eastwick-Field                  Sales Support      149
166              Ricky Fritsch       NationalAccounts-East-DE      166
191                Troy Nelson                      Agency-US      191
237             Emily Parmelee    NationalAccounts-Central-DE      237
240                   Per Roth                        MTV ALL      240
245          Stacey Chadderton  NationalAccounts-Southeast-DE      245
250                 Jessy Gold            Agency-US-Northeast      250
251             Brian Mullaney                        STM-DE2      251
261             Nicole Horvath                 Agency-US-West      261
262               Tracy Gillan                  Agency-US-NYC      262
276         Michael Bohmerwald                        STM-DE7      276
294          Steve Krumpelbeck           US-StrategicAccounts      294
303       Catherine O'Sullivan         Inside Sales US SA ALL      303
350            Stephen McManus                      STM-Index      350
356           Andrew Gasperini                        ATX-DE4      356
367            Michael Metzger                         US-JB1      367
412            Cameron MacLean                        STM-DE6      412
415              Kevin Russell                           DCA2      415
419             Michael Singer       NationalAccounts-East-DE      419
430         Masahiro Takeshima                          Japan      430
436      Anthony DiGiosaffatte                      NYC-Index      436
433                Chad Dinzes    NationalAccounts-NYMetro-DE      433
527               Alexa Alpert                        NYC-DE2      527
...                        ...                            ...      ...
5946                Taiyo Ohba                 JP-DRADIS-TYO1     5946
5945                Chie Saito                 JP-DRADIS-TYO1     5945
5944            Takahiro Uyama                 JP-DRADIS-TYO1     5944
6025                 Jun Sonoi                 JP-DRADIS-TYO1     6025
6117            Saptesh Savant                 IN-NAM-DE-BLR1     6117
6105  Vishwajith Tiruvail Bhat                 IN-NAM-DE-BLR1     6105
6101               Prabhu Teja                 IN-NAM-DE-BLR1     6101
6100   Prasad Shivashankaraiah                 IN-NAM-DE-BLR1     6100
6098     Syed ismail Saifullah                 IN-NAM-DE-BLR1     6098
6097               Sijo Joseph                 IN-NAM-DE-BLR1     6097
6096            Nirmal Murugan                 IN-NAM-DE-BLR1     6096
6092      Bhargava Mallampalli                  IN-IS-DE-BLR1     6092
6109           Ramnath Kuthala                  IN-IS-DE-BLR1     6109
6111      Akshay Kumar Jaiswal                  IN-IS-DE-BLR2     6111
6094                Amar Karve                  IN-IS-DE-BLR2     6094
6115                 Asif Khan                  IN-IS-DE-BLR2     6115
6093                Azfar Alam                  IN-IS-DE-BLR2     6093
6113              Prithwa Basu                  IN-IS-DE-BLR2     6113
6103        Rajesh Gurramgadda                  IN-IS-DE-BLR2     6103
6099      Reetam Bandyopadhyay                  IN-IS-DE-BLR2     6099
6102                Syed Ateab                  IN-IS-DE-BLR2     6102
6112             Amaljith Ajit                  IN-IS-SA-BLR1     6112
6104              Chitra Patil                  IN-IS-SA-BLR1     6104
6110               Jit Ganguly                  IN-IS-SA-BLR1     6110
6116            Manubhav Kumar                  IN-IS-SA-BLR1     6116
6107                 Richa Pal                  IN-IS-SA-BLR1     6107
6106      Shaikh Shakeer Basha                  IN-IS-SA-BLR1     6106
6146               Judd Ghobar                  AU-IS-SA-SYD1     6146
5759              Leslie Black                 Agency-US-West     5759
6068              Sabina Borko                      Agency-DE     6068

[1322 rows x 3 columns]

In [57]:
internal_jobs_sales['Date'] = [dt.datetime.fromtimestamp(x).strftime('%Y-%m-%d').replace(tzinfo=timezone('EST')) for x in internal_jobs_sales.unixtime]

TypeError: replace() takes no keyword arguments

In [65]:
## do the same query for CS Reps

%ish internal_jobs_cs = from advertiserevent 2016-05-01 2016-09-30 \
where rep_id in ({cs_ids}) activity_type in ('CREATE_AD', 'CREATE_JOB') activity_field=HOSTED_JOB \
group by rep_id, rep_username/*Sales Rep*/, advertiser_id, activity_type, activity_field, unixtime select counts/*Number of Created Jobs*/

Output = None

In [85]:
internal_jobs_cs.tail(10)

,rep_id,Sales Rep,advertiser_id,activity_type,activity_field,unixtime,Number of Created Jobs,Date
10149,5776,aurelie,171145,CREATE_AD,HOSTED_JOB,1475184233,1,2016-09-29
10150,5026,elizabethl,1813192,CREATE_AD,HOSTED_JOB,1475186191,1,2016-09-29
10151,2364,gbogan,1211061,CREATE_AD,HOSTED_JOB,1475187032,5,2016-09-29
10152,4312,mika,8535857,CREATE_AD,HOSTED_JOB,1475202551,1,2016-09-29
10153,4312,mika,8535857,CREATE_AD,HOSTED_JOB,1475202587,1,2016-09-29
10154,4312,mika,6564191,CREATE_AD,HOSTED_JOB,1475203467,2,2016-09-29
10155,4311,chie,8086118,CREATE_AD,HOSTED_JOB,1475211614,1,2016-09-30
10156,4311,chie,8086118,CREATE_AD,HOSTED_JOB,1475211622,1,2016-09-30
10157,4311,chie,8086118,CREATE_AD,HOSTED_JOB,1475211630,1,2016-09-30
10158,3662,tomokom,5419383,CREATE_AD,HOSTED_JOB,1475215183,1,2016-09-30

In [69]:
## create a date field based on the unix time - I'm going to keep the unixtime for my next query down below

internal_jobs_sales['Date'] = [dt.datetime.fromtimestamp(x).strftime('%Y-%m-%d') for x in internal_jobs_sales.unixtime]
internal_jobs_cs['Date'] = [dt.datetime.fromtimestamp(x).strftime('%Y-%m-%d') for x in internal_jobs_cs.unixtime]

In [77]:
## organize the data frame by grouping the dates, advertisers, reps
## we'll use this organized df to sync it up with the teams we pulled in earlier

sales_grouped = internal_jobs_sales.groupby(['Date', 'advertiser_id', 'rep_id', 'Sales Rep', 
                            'activity_field']).agg({'Number of Created Jobs' : sum}).reset_index()

In [80]:
sales_group_teams = sales_grouped.merge(current_sales_sheet, how = 'left', left_on = 'rep_id', right_on = 'User ID')

In [101]:
sales_group_teams.tail(1)

,Date,advertiser_id,rep_id,Sales Rep,activity_field,Number of Created Jobs,Name,New Team Names,User ID
2821,2016-09-29,9200491,2841,asclama,HOSTED_JOB,1,Andrew Sclama,NYC-DE3,2841

In [84]:
sales_group_teams.groupby(['Date', 'advertiser_id', 'New Team Names', 'Name', 'activity_field']).agg({'Number of Created Jobs' : sum}).to_clipboard()

In [89]:
## do the same organization for CS - it seems redundant to do this in separate frames but it's way cleaner to just have two frames and two outputs
## when I first ran through this, it took FOREVER because I tried to split them up after doing all this manipulation

cs_grouped = internal_jobs_cs.groupby(['Date', 'advertiser_id', 'rep_id', 'activity_field']).agg({'Number of Created Jobs' : sum}).reset_index()

In [91]:
cs_group_teams = cs_grouped.merge(cs_teams_filtered, how = 'left', left_on = 'rep_id', right_on = 'AdCentral ID')

In [94]:
cs_group_teams.tail(1)

,Date,advertiser_id,rep_id,activity_field,Number of Created Jobs,,Common Name,Team,AdCentral ID
6703,2016-09-30,8086118,4311,HOSTED_JOB,3,,Chie Furukawa,CSJapan,4311

In [131]:
cs_group_teams.groupby(['Date', 'advertiser_id', 'Team', 'Common Name', 'activity_field']).agg({'Number of Created Jobs' : sum}).reset_index().to_clipboard()

In [ ]:
## second part / component to this request
## we need to grab the ip addresses & instances where a rep logged into an advertiser's account
## and tie this back to the above data sets

In [4]:
%ish ip_address = from advertiserevent 2016-05-01 2016-09-30 \
where activity_type=LOGIN message=~".*(1.79.81.67|10.1.5.147|101.180.40.131|104.132.11.102|104.162.196.170|104.188.155.24|106.161.214.20|108.58.248.74|113.155.32.232|115.110.171.106|115.110.171.107|115.248.210.154|121.244.117.246|121.244.154.37|121.244.63.107|121.244.63.108|126.152.13.151|126.152.195.240|126.188.91.213|126.236.200.246|126.254.134.247|126.255.195.217|14.203.216.101|148.75.164.155|153.214.169.206|173.227.56.162|173.54.173.153|174.196.128.78|176.67.168.190|183.74.201.101|185.122.133.162|185.122.133.165|198.58.79.20|202.213.202.148|203.174.133.60|207.114.131.162|207.191.44.146|208.90.215.138|209.203.71.74|209.66.80.122|210.142.96.144|210.142.99.67|213.61.155.114|213.61.223.198|216.123.6.194|216.136.25.66|217.110.59.147|219.96.24.157|24.27.227.128|24.4.4.35|24.72.250.132|27.110.45.75|27.110.45.76|32.210.151.9|32.211.128.176|32.213.23.228|36.12.60.194|37.228.226.234|37.228.235.193|38.88.242.122|49.181.174.220|63.143.194.245|65.156.210.234|66.108.171.63|67.180.210.172|67.250.82.28|67.79.201.170|67.79.229.226|67.87.151.186|67.87.184.142|68.117.92.152|68.198.146.79|68.9.155.169|70.115.133.210|70.197.13.6|70.209.21.101|70.215.14.36|70.215.17.6|73.38.223.42|74.73.82.219|75.64.145.184|80.113.207.5|80.133.138.221|80.169.36.138|82.141.220.200|84.14.148.211|89.101.23.145|97.105.47.162).*" message!=~".*(@indeed.com|@indeedagency|via ).*" \
group by rep_id, advertiser_id, message, activity_type, unixtime

Output = None

In [10]:
len(ip_address)

4168

In [11]:
ip_address

,rep_id,advertiser_id,message,activity_type,unixtime,
0,0,1228212,[Yasmin@indeed.Com] Logged in from 203.174.133...,LOGIN,1462152661,1
1,0,3711173,[simona@responseconcepts.nl] Logged in from 89...,LOGIN,1462169805,1
2,0,6657629,[u.pfersich@hpp.de] Logged in from 198.58.79.2...,LOGIN,1462173085,1
3,0,6452691,[anthony.leat@centralfinances.fr] Logged in fr...,LOGIN,1462174511,1
4,0,6452691,[anthony.leat@centralfinances.fr] Logged in fr...,LOGIN,1462177162,1
5,0,6988678,[renault@4ventsgroup.com] Logged in from 198.5...,LOGIN,1462178395,1
6,0,3654324,[alex.urbals@web.de] Logged in from 198.58.79....,LOGIN,1462193125,1
7,0,7021268,[husemann@onapply.de] Logged in from 198.58.79...,LOGIN,1462194854,1
8,0,2801930,[imeoconseil@precontact.fr] Logged in from 198...,LOGIN,1462194946,1
9,0,7021268,[husemann@onapply.de] Logged in from 198.58.79...,LOGIN,1462195788,1
10,0,7021268,[husemann@onapply.de] Logged in from 198.58.79...,LOGIN,1462196236,1
11,0,6974325,[hrandfriends@westpress.de] Logged in from 198...,LOGIN,1462197434,1
12,0,5606319,[job@dfc-dialog.de] Logged in from 213.61.223....,LOGIN,1462199789,1
13,0,7061451,[ThieleGlas@onapply.de] Logged in from 198.58....,LOGIN,1462201106,1
14,0,7061897,[albell@my.bridgeport.edu] Logged in from 38.8...,LOGIN,1462201910,1
15,0,7062528,[jgross@consigli.com] Logged in from 209.66.80...,LOGIN,1462203932,1
16,0,6892116,[shield.dradis+prod001@gmail.com] Logged in fr...,LOGIN,1462208552,1
17,0,6506490,[ehle1031@gmail.com] Logged in from 38.88.242....,LOGIN,1462214035,1
18,0,6892116,[shield.dradis+prod001@gmail.com] Logged in fr...,LOGIN,1462214270,1
19,0,822955,[ami.vyas@edwardjones.com] Logged in from 216....,LOGIN,1462216579,1
20,0,5326904,[indeeddemo@gmail.com] Logged in from 38.88.24...,LOGIN,1462218660,1
21,0,5326904,[indeeddemo@gmail.com] Logged in from 38.88.24...,LOGIN,1462219552,1
22,0,822955,[ami.vyas@edwardjones.com] Logged in from 216....,LOGIN,1462219576,1
23,0,7024868,[ders1111@aol.com] Logged in from 38.88.242.12...,LOGIN,1462220409,1
24,0,5326904,[indeeddemo@gmail.com] Logged in from 38.88.24...,LOGIN,1462220687,1
25,0,5326904,[indeeddemo@gmail.com] Logged in from 38.88.24...,LOGIN,1462221412,1
26,0,4656508,[resumes@chucksroadhouse.com] Logged in from 1...,LOGIN,1462222170,1
27,0,6185580,[adriansangeorzan@yahoo.com] Logged in from 10...,LOGIN,1462228936,1
28,0,2811295,Logged in as SubAccount from 203.174.133.60 [M...,LOGIN,1462248904,1
29,0,3956474,Logged in as SubAccount from 203.174.133.60 [M...,LOGIN,1462253810,1
...,...,...,...,...,...,...
4138,0,8078180,[letiziatortorelli@hotmail.it] Logged in from ...,LOGIN,1475139601,1
4139,0,9078401,[kbarnaby@resolvehealthcare.org] Logged in fro...,LOGIN,1475144928,1
4140,0,8507398,[oliverraine+CIC@oliverraine.co.uk] Logged in ...,LOGIN,1475151821,1
4141,0,3958849,[koike@riei.co.jp] Logged in from 198.58.79.20...,LOGIN,1475152107,1
4142,0,2315733,[oliver.steele@wesser.co.uk] Logged in from 80...,LOGIN,1475152713,1
4143,0,2964156,[sbasha@lancesoft.com] Logged in from 115.110....,LOGIN,1475153388,1
4144,0,8497478,[kumiko580705@gmail.com] Logged in from 198.58...,LOGIN,1475154105,1
4145,0,6884040,[ben@gerecruitment.co.uk] Logged in from 89.10...,LOGIN,1475158865,1
4146,0,5159830,[marekzapletal.mz@gmail.com] Logged in from 19...,LOGIN,1475160148,1
4147,0,4289797,[t.redd419@gmail.com] Logged in from 207.191.4...,LOGIN,1475162872,1
4148,0,2315733,[oliver.steele@wesser.co.uk] Logged in from 80...,LOGIN,1475163328,1
4149,0,2280283,[brittany@edileaders.com] Logged in from 24.21...,LOGIN,1475163352,1
4150,0,1221376,[mike@pf1.com] Logged in from 38.88.242.122 [u...,LOGIN,1475163540,1
4151,0,1612002,[info@trademarkrecruitment.co.uk] Logged in fr...,LOGIN,1475164578,1
4152,0,6809670,[johnroads@gatsbyandmiller.co.uk] Logged in fr...,LOGIN,1475165555,1
4153,0,8329731,[karen@fivestarbc.ca] Logged in from 216.123.6...,LOGIN,1475169778,1
4154,0,9048104,[fredzie12@hotmail.com] Logged in from 209.66....,LOGIN,1475174501,1
4155,0,1117336,[taylorsontax@gmail.com] Logged in from 207.19...,LOGIN,1475175858,1
4156,0,8329731,[karen@fivestarbc.ca] Logged in from 216.123.6...,LOGIN,1475176527,1
4157,0,9156681,[hr@rightfitrecruitingofmass.com] Logged in fr...,LOGIN,1475176810,1
4158,0,9201717,[pdaws@thebutlerco.com] Logged in from 209.66....,LOGIN,1475177501,1
4159,0,5252344,[cehovin.matteo@gmail.com] Logged in from 207....,LOGIN,1475179586,1
4160,0,8158374,[marton.ungi@gmail.com] Logged in from 207.191...,LOGIN,1475180597,1
4161,0,8545315,[les@surecarecleaning.com] Logged in from 216....,LOGIN,1475181279,1
4162,0,8693536,[MHAGLER@TAYLORAUTOCREDIT.COM] Logged in from ...,LOGIN,1475181823,1
4163,0,6639533,[promeetmansata@gmail.com] Logged in from 173....,LOGIN,1475188198,1
4164,0,8861921,[otake@mash-holdings.com] Logged in from 202.2...,LOGIN,1475208939,1
4165,0,8781284,[suzuki@ariga10piki.com] Logged in from 202.21...,LOGIN,1475213872,1
4166,0,8781284,[suzuki@ariga10piki.com] Logged in from 202.21...,LOGIN,1475213938,1
4167,0,8800996,[chihirohonda924@gmail.com] Logged in from 202...,LOGIN,1475214688,1

In [123]:
internal_jobs_cs.merge(ip_address, how = 'inner', on = 'advertiser_id')#.groupby(['Date', 'advertiser_id', 'Sales Rep', 'message']).agg({'Number of Created Jobs' : sum})

,rep_id,Sales Rep,advertiser_id,activity_type,activity_field,unixtime_x,Number of Created Jobs,Date,unixtime_y,message,
0,2332,nana,2540837,CREATE_AD,HOSTED_JOB,1462173446,1,2016-05-02,1463734990,[recruit@aands-inc.co.jp] Logged in from 202.2...,1
1,2332,nana,2540837,CREATE_AD,HOSTED_JOB,1462173446,1,2016-05-02,1465203198,[recruit@aands-inc.co.jp] Logged in from 202.2...,1
2,2885,alienor,5769320,CREATE_AD,HOSTED_JOB,1462173618,22,2016-05-02,1464602257,[recrutement.causeaeffet@gmail.com] Logged in ...,1
3,2889,sashar,2811295,CREATE_JOB,HOSTED_JOB,1462248720,1,2016-05-03,1462248904,Logged in as SubAccount from 203.174.133.60 [M...,1
4,2889,sashar,2811295,CREATE_JOB,HOSTED_JOB,1462248720,1,2016-05-03,1462256969,Logged in as SubAccount from 203.174.133.60 [M...,1
5,3644,aisling,4585031,CREATE_AD,HOSTED_JOB,1462273504,1,2016-05-03,1474379945,[jamie.talbot@planetcaval.com] Logged in from ...,1
6,4417,maridawn,2266999,CREATE_AD,HOSTED_JOB,1462286869,4,2016-05-03,1464305167,[a@ring.com] Logged in from 207.114.131.162 [u...,1
7,4417,maridawn,2266999,CREATE_AD,HOSTED_JOB,1462286918,1,2016-05-03,1464305167,[a@ring.com] Logged in from 207.114.131.162 [u...,1
8,4417,maridawn,2266999,CREATE_AD,HOSTED_JOB,1462286964,1,2016-05-03,1464305167,[a@ring.com] Logged in from 207.114.131.162 [u...,1
9,4417,maridawn,2266999,CREATE_AD,HOSTED_JOB,1462286999,1,2016-05-03,1464305167,[a@ring.com] Logged in from 207.114.131.162 [u...,1
10,726,amy,2266999,CREATE_JOB,HOSTED_JOB,1473282483,1,2016-09-07,1464305167,[a@ring.com] Logged in from 207.114.131.162 [u...,1
11,4734,benjamin,6498145,CREATE_AD,HOSTED_JOB,1462302549,1,2016-05-03,1462297773,[YULembauche@foodtravelexperts.com] Logged in ...,1
12,4734,benjamin,6498145,CREATE_AD,HOSTED_JOB,1462302549,1,2016-05-03,1462298258,[YULembauche@foodtravelexperts.com] Logged in ...,1
13,4734,benjamin,6498145,CREATE_AD,HOSTED_JOB,1462302549,1,2016-05-03,1462304993,[YULembauche@foodtravelexperts.com] Logged in ...,1
14,4226,sabby,6498145,CREATE_AD,HOSTED_JOB,1469473519,6,2016-07-25,1462297773,[YULembauche@foodtravelexperts.com] Logged in ...,1
15,4226,sabby,6498145,CREATE_AD,HOSTED_JOB,1469473519,6,2016-07-25,1462298258,[YULembauche@foodtravelexperts.com] Logged in ...,1
16,4226,sabby,6498145,CREATE_AD,HOSTED_JOB,1469473519,6,2016-07-25,1462304993,[YULembauche@foodtravelexperts.com] Logged in ...,1
17,4226,sabby,6498145,CREATE_AD,HOSTED_JOB,1470055156,5,2016-08-01,1462297773,[YULembauche@foodtravelexperts.com] Logged in ...,1
18,4226,sabby,6498145,CREATE_AD,HOSTED_JOB,1470055156,5,2016-08-01,1462298258,[YULembauche@foodtravelexperts.com] Logged in ...,1
19,4226,sabby,6498145,CREATE_AD,HOSTED_JOB,1470055156,5,2016-08-01,1462304993,[YULembauche@foodtravelexperts.com] Logged in ...,1
20,4216,klangford,6498145,CREATE_AD,HOSTED_JOB,1473792704,19,2016-09-13,1462297773,[YULembauche@foodtravelexperts.com] Logged in ...,1
21,4216,klangford,6498145,CREATE_AD,HOSTED_JOB,1473792704,19,2016-09-13,1462298258,[YULembauche@foodtravelexperts.com] Logged in ...,1
22,4216,klangford,6498145,CREATE_AD,HOSTED_JOB,1473792704,19,2016-09-13,1462304993,[YULembauche@foodtravelexperts.com] Logged in ...,1
23,1852,cindy,4479416,CREATE_AD,HOSTED_JOB,1462370950,35,2016-05-04,1467232175,[lisa.mcmurtry@corizonhealth.com] Logged in fr...,1
24,1852,cindy,4479416,CREATE_AD,HOSTED_JOB,1462370951,64,2016-05-04,1467232175,[lisa.mcmurtry@corizonhealth.com] Logged in fr...,1
25,1852,cindy,4479416,CREATE_AD,HOSTED_JOB,1462371007,1,2016-05-04,1467232175,[lisa.mcmurtry@corizonhealth.com] Logged in fr...,1
26,1852,cindy,4479416,CREATE_AD,HOSTED_JOB,1462371029,1,2016-05-04,1467232175,[lisa.mcmurtry@corizonhealth.com] Logged in fr...,1
27,1852,cindy,4479416,CREATE_AD,HOSTED_JOB,1462371044,1,2016-05-04,1467232175,[lisa.mcmurtry@corizonhealth.com] Logged in fr...,1
28,1852,cindy,4479416,CREATE_AD,HOSTED_JOB,1462371065,1,2016-05-04,1467232175,[lisa.mcmurtry@corizonhealth.com] Logged in fr...,1
29,1852,cindy,4479416,CREATE_AD,HOSTED_JOB,1462371073,1,2016-05-04,1467232175,[lisa.mcmurtry@corizonhealth.com] Logged in fr...,1
...,...,...,...,...,...,...,...,...,...,...,...
2676,3494,koates,2315733,CREATE_AD,HOSTED_JOB,1475155638,1,2016-09-29,1474887572,[oliver.steele@wesser.co.uk] Logged in from 80...,1
2677,3494,koates,2315733,CREATE_AD,HOSTED_JOB,1475155638,1,2016-09-29,1474903837,[oliver.steele@wesser.co.uk] Logged in from 19...,1
2678,3494,koates,2315733,CREATE_AD,HOSTED_JOB,1475155638,1,2016-09-29,1475053586,[oliver.steele@wesser.co.uk] Logged in from 80...,1
2679,3494,koates,2315733,CREATE_AD,HOSTED_JOB,1475155638,1,2016-09-29,1475152713,[oliver.steele@wesser.co.uk] Logged in from 80...,1
2680,3494,koates,2315733,CREATE_AD,HOSTED_JOB,1475155638,1,2016-09-29,1475163328,[oliver.steele@wesser.co.uk] Logged in from 80...,1
2681,3494,koates,2315733,CREATE_AD,HOSTED_JOB,1475155642,1,2016-09-29,1463477549,[oliver.steele@wesser.co.uk] Logged in from 80...,1
2682,3494,koates,2315733,CREATE_AD,HOSTED_JOB,1475155642,1,2016-09-29,1463481412,[oliver.steele@wesser.co.uk] Logged in from 80...,1
2683,3494,koates,2315733,CREATE_AD,HOSTED_JOB,1475155642,1,2016-09-29,1474886985,[oliver.steele@wesser.co.uk] Logged in from 80...,1
2684,3494,koates,2315733,CREATE_AD,HOSTED_JOB,1475155642,1,2016-09-29,1474887572,[oliver.steele@wesser.co.uk] Logged in from 80...,1
2685,3494,koates,2315733,CREATE_AD,HOSTED_JOB,1475155642,1,2016-09-29,1474903837,[oliver.steele@wesser.co.uk] Logged in from 19...,1
2686,3494,koates,2315733,CREATE_AD,HOSTED_JOB,1475155642,1,2016-09-29,1475053586,[oliver.steele@wesser.co.uk] Logged in from 80...,1
2687,3494,koates,2315733,CREATE_AD,HOSTED_JOB,1475155642,1,2016-09-29,1475152713,[oliver.steele@wesser.co.uk] Logged in from 80...,1
2688,3494,koates,2315733,CREATE_AD,HOSTED_JOB,1475155642,1,2016-09-29,1475163328,[oliver.steele@wesser.co.uk] Logged in from 80...,1
2689,3494,koates,2315733,CREATE_AD,HOSTED_JOB,1475155646,1,2016-09-29,1463477549,[oliver.steele@wesser.co.uk] Logged in from 80...,1
2690,3494,koates,2315733,CREATE_AD,HOSTED_JOB,1475155646,1,2016-09-29,1463481412,[oliver.steele@wesser.co.uk] Logged in from 80...,1
2691,3494,koates,2315733,CREATE_AD,HOSTED_JOB,1475155646,1,2016-09-29,1474886985,[oliver.steele@wesser.co.uk] Logged in from 80...,1
2692,3494,koates,2315733,CREATE_AD,HOSTED_JOB,1475155646,1,2016-09-29,1474887572,[oliver.steele@wesser.co.uk] Logged in from 80...,1
2693,3494,koates,2315733,CREATE_AD,HOSTED_JOB,1475155646,1,2016-09-29,1474903837,[oliver.steele@wesser.co.uk] Logged in from 19...,1
2694,3494,koates,2315733,CREATE_AD,HOSTED_JOB,1475155646,1,2016-09-29,1475053586,[oliver.steele@wesser.co.uk] Logged in from 80...,1
2695,3494,koates,2315733,CREATE_AD,HOSTED_JOB,1475155646,1,2016-09-29,1475152713,[oliver.steele@wesser.co.uk] Logged in from 80...,1
2696,3494,koates,2315733,CREATE_AD,HOSTED_JOB,1475155646,1,2016-09-29,1475163328,[oliver.steele@wesser.co.uk] Logged in from 80...,1
2697,3494,koates,2315733,CREATE_AD,HOSTED_JOB,1475155652,1,2016-09-29,1463477549,[oliver.steele@wesser.co.uk] Logged in from 80...,1
2698,3494,koates,2315733,CREATE_AD,HOSTED_JOB,1475155652,1,2016-09-29,1463481412,[oliver.steele@wesser.co.uk] Logged in from 80...,1
2699,3494,koates,2315733,CREATE_AD,HOSTED_JOB,1475155652,1,2016-09-29,1474886985,[oliver.steele@wesser.co.uk] Logged in from 80...,1
2700,3494,koates,2315733,CREATE_AD,HOSTED_JOB,1475155652,1,2016-09-29,1474887572,[oliver.steele@wesser.co.uk] Logged in from 80...,1
2701,3494,koates,2315733,CREATE_AD,HOSTED_JOB,1475155652,1,2016-09-29,1474903837,[oliver.steele@wesser.co.uk] Logged in from 19...,1
2702,3494,koates,2315733,CREATE_AD,HOSTED_JOB,1475155652,1,2016-09-29,1475053586,[oliver.steele@wesser.co.uk] Logged in from 80...,1
2703,3494,koates,2315733,CREATE_AD,HOSTED_JOB,1475155652,1,2016-09-29,1475152713,[oliver.steele@wesser.co.uk] Logged in from 80...,1
2704,3494,koates,2315733,CREATE_AD,HOSTED_JOB,1475155652,1,2016-09-29,1475163328,[oliver.steele@wesser.co.uk] Logged in from 80...,1
2705,4225,alinap,1221376,CREATE_AD,HOSTED_JOB,1475173269,1,2016-09-29,1475163540,[mike@pf1.com] Logged in from 38.88.242.122 [u...,1

In [26]:
%ish sales_update_ads = from advertiserevent 2016-05-01 2016-09-30 \
where rep_id in {sales_ids} activity_type in ('UPDATE_AD_BUDGET', 'UPDATE_AD_BID') activity_field = 'HOSTED_JOB' \
group by rep_id/*User ID*/, rep_username, advertiser_id, message, unixtime

Output = None

In [27]:
sales_update_ads2 = sales_update_ads.copy()

In [28]:
sales_update_ads2['Date (EST)'] = [dt.datetime.fromtimestamp(x).replace(tzinfo=timezone('EST')).strftime('%F') for x in sales_update_ads2.unixtime]
sales_update_ads2['Time (EST)'] = [dt.datetime.fromtimestamp(x).replace(tzinfo=timezone('EST')).strftime('%I:%M:%S %p') for x in sales_update_ads2.unixtime]

In [29]:
sales_update_ads2

,User ID,rep_username,advertiser_id,message,unixtime,,Date (EST),Time (EST)
0,3409,manuels,4294817,[seleccion@grconsultoria.mx] Raised monthly bu...,1462098069,1,2016-05-01,06:21:09 AM
1,3409,manuels,4294817,[seleccion@grconsultoria.mx] Raised monthly bu...,1462098069,1,2016-05-01,06:21:09 AM
2,3409,manuels,4294817,[seleccion@grconsultoria.mx] Raised monthly bu...,1462098069,1,2016-05-01,06:21:09 AM
3,3409,manuels,4294817,[seleccion@grconsultoria.mx] Raised monthly bu...,1462098069,1,2016-05-01,06:21:09 AM
4,3409,manuels,641090,[aperalta@cmr.mx] Lowered monthly budget for h...,1462098110,1,2016-05-01,06:21:50 AM
5,3409,manuels,4579034,[sasoto@sears.com.mx] Raised monthly budget fo...,1462098197,1,2016-05-01,06:23:17 AM
6,3409,manuels,4579034,[sasoto@sears.com.mx] Raised monthly budget fo...,1462098209,1,2016-05-01,06:23:29 AM
7,3409,manuels,4579034,[sasoto@sears.com.mx] Raised monthly budget fo...,1462098221,1,2016-05-01,06:23:41 AM
8,3409,manuels,4579034,[sasoto@sears.com.mx] Raised monthly budget fo...,1462098236,1,2016-05-01,06:23:56 AM
9,3409,manuels,4579034,[sasoto@sears.com.mx] Raised monthly budget fo...,1462098250,1,2016-05-01,06:24:10 AM
10,3409,manuels,4579034,[sasoto@sears.com.mx] Raised monthly budget fo...,1462098270,1,2016-05-01,06:24:30 AM
11,3409,manuels,4579034,[sasoto@sears.com.mx] Raised monthly budget fo...,1462098282,1,2016-05-01,06:24:42 AM
12,3409,manuels,4579034,[sasoto@sears.com.mx] Raised monthly budget fo...,1462098294,1,2016-05-01,06:24:54 AM
13,3409,manuels,4579034,[sasoto@sears.com.mx] Raised monthly budget fo...,1462098307,1,2016-05-01,06:25:07 AM
14,3409,manuels,4579034,[sasoto@sears.com.mx] Raised monthly budget fo...,1462098320,1,2016-05-01,06:25:20 AM
15,3409,manuels,6411922,[miguel.martinezgarcia@oxxo.com] Raised monthl...,1462098354,1,2016-05-01,06:25:54 AM
16,3409,manuels,6215939,[claudiavvc@mx.inditex.com] Raised monthly bud...,1462098415,1,2016-05-01,06:26:55 AM
17,3409,manuels,6215939,[claudiavvc@mx.inditex.com] Raised lifetime bu...,1462098461,1,2016-05-01,06:27:41 AM
18,3066,arofsky,6560022,[bedwards@kaytonint.com] Raised monthly budget...,1462111818,1,2016-05-01,10:10:18 AM
19,1889,jmills,6725383,[shosseini@vmwexpress.com] Raised monthly budg...,1462113294,1,2016-05-01,10:34:54 AM
20,3409,manuels,338266,[fgomez@ilsp.com.mx] Lowered monthly budget fo...,1462118351,1,2016-05-01,11:59:11 AM
21,3409,manuels,338266,[fgomez@ilsp.com.mx] Lowered monthly budget fo...,1462118363,1,2016-05-01,11:59:23 AM
22,3409,manuels,338266,[fgomez@ilsp.com.mx] Lowered monthly budget fo...,1462118373,1,2016-05-01,11:59:33 AM
23,3409,manuels,338266,[fgomez@ilsp.com.mx] Lowered monthly budget fo...,1462118386,1,2016-05-01,11:59:46 AM
24,3409,manuels,338266,[fgomez@ilsp.com.mx] Lowered monthly budget fo...,1462118396,1,2016-05-01,11:59:56 AM
25,3409,manuels,338266,[fgomez@ilsp.com.mx] Lowered monthly budget fo...,1462118408,1,2016-05-01,12:00:08 PM
26,3409,manuels,338266,[fgomez@ilsp.com.mx] Lowered monthly budget fo...,1462118419,1,2016-05-01,12:00:19 PM
27,3409,manuels,338266,[fgomez@ilsp.com.mx] Lowered monthly budget fo...,1462118431,1,2016-05-01,12:00:31 PM
28,3409,manuels,338266,[fgomez@ilsp.com.mx] Lowered monthly budget fo...,1462118452,1,2016-05-01,12:00:52 PM
29,3409,manuels,338266,[fgomez@ilsp.com.mx] Lowered monthly budget fo...,1462118453,1,2016-05-01,12:00:53 PM
...,...,...,...,...,...,...,...,...
20606,1974,jlavigne,9079201,[indeed@24-7intouch.com] Raised monthly budget...,1475171214,1,2016-09-29,01:46:54 PM
20607,1696,august,7917366,[careers@eatstreet.com] Raised monthly budget ...,1475171502,1,2016-09-29,01:51:42 PM
20608,1696,august,7917366,[careers@eatstreet.com] Raised monthly budget ...,1475171513,1,2016-09-29,01:51:53 PM
20609,5396,justind,8732445,[nwilliams@capitolcityautomart.com] Lowered mo...,1475171654,1,2016-09-29,01:54:14 PM
20610,3903,jhorton,8407496,[debra.hill@lonestarwest.com] Raised monthly b...,1475173635,1,2016-09-29,02:27:15 PM
20611,3903,jhorton,8407496,[debra.hill@lonestarwest.com] Raised monthly b...,1475173647,1,2016-09-29,02:27:27 PM
20612,3904,crossi,7701840,[gjsarkis@tagoptics.com] Raised monthly budget...,1475174414,1,2016-09-29,02:40:14 PM
20613,3904,crossi,7701840,[gjsarkis@tagoptics.com] Raised monthly budget...,1475174425,1,2016-09-29,02:40:25 PM
20614,3904,crossi,7701840,[gjsarkis@tagoptics.com] Raised monthly budget...,1475174438,1,2016-09-29,02:40:38 PM
20615,4680,gkatoa,6837632,[katherineh@sunnyhealthfitness.com] Raised mon...,1475174503,1,2016-09-29,02:41:43 PM
20616,356,agasperini,6541951,[humanresources@optimalcares.com] Lowered mont...,1475174592,1,2016-09-29,02:43:12 PM
20617,356,agasperini,6541951,[humanresources@optimalcares.com] Lowered mont...,1475174592,1,2016-09-29,02:43:12 PM
20618,2225,pmenking,8313307,[jrj3514@gmail.com] Raised monthly budget for ...,1475176325,1,2016-09-29,03:12:05 PM
20619,5396,justind,8092153,[jimp@almartin.com] Lowered monthly budget for...,1475176948,1,2016-09-29,03:22:28 PM
20620,2419,erikakd,1881358,[careers@newbinnovation.ca] Lowered monthly bu...,1475177250,1,2016-09-29,03:27:30 PM
20621,2419,erikakd,1881358,[careers@newbinnovation.ca] Lowered monthly bu...,1475177261,1,2016-09-29,03:27:41 PM
20622,1208,gromo,5601223,[APajak@trinity-pm.com] Raised monthly budget ...,1475180258,1,2016-09-29,04:17:38 PM
20623,3552,mreilly,2892062,[chris@actrucking.com] Lowered monthly budget ...,1475181012,1,2016-09-29,04:30:12 PM
20624,3552,mreilly,2892062,[chris@actrucking.com] Lowered monthly budget ...,1475181012,1,2016-09-29,04:30:12 PM
20625,3552,mreilly,2892062,[chris@actrucking.com] Lowered monthly budget ...,1475181012,1,2016-09-29,04:30:12 PM
20626,3552,mreilly,2892062,[chris@actrucking.com] Lowered monthly budget ...,1475181012,1,2016-09-29,04:30:12 PM
20627,3552,mreilly,2892062,[chris@actrucking.com] Lowered monthly budget ...,1475181012,1,2016-09-29,04:30:12 PM
20628,3552,mreilly,2892062,[chris@actrucking.com] Lowered monthly budget ...,1475181012,1,2016-09-29,04:30:12 PM
20629,1544,emmae,8072599,[swenneborg@genequityco.com] Raised monthly bu...,1475181486,1,2016-09-29,04:38:06 PM
20630,3986,dioffe,4778909,[ryanbrown@allstorageonline.com] Raised monthl...,1475184624,1,2016-09-29,05:30:24 PM
20631,3986,dioffe,4778909,[ryanbrown@allstorageonline.com] Raised monthl...,1475184641,1,2016-09-29,05:30:41 PM
20632,1431,mbridgeman,1716693,[teachvip@vipkid.com.cn] Lowered monthly budge...,1475199236,1,2016-09-29,09:33:56 PM
20633,4501,cwatkins,8129192,[peter_wehr@bobevans.com] Raised monthly budge...,1475204311,1,2016-09-29,10:58:31 PM
20634,5796,kazukik,9010234,[bnakae@sakuranabe.com] Lowered lifetime budge...,1475209348,1,2016-09-30,12:22:28 AM
20635,5796,kazukik,9010234,[bnakae@sakuranabe.com] Lowered max bid for ho...,1475209348,1,2016-09-30,12:22:28 AM

In [30]:
test = sales_update_ads2.groupby(['Date (EST)', 'User ID', 'advertiser_id', 'message']).agg({'unixtime' : 'count'}).reset_index()

In [34]:
test.merge(current_sales_sheet, how = 'left' , on = 'User ID').to_csv('sales_bids.csv', encoding = 'UTF-8')

In [73]:
current_sales_sheet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1322 entries, 21 to 6068
Data columns (total 3 columns):
Name              1322 non-null object
New Team Names    1322 non-null object
User ID           1322 non-null object
dtypes: object(3)
memory usage: 41.3+ KB

In [ ]:
### TESTING AREA

In [125]:

%ish test_df = from advertiserevent 2016-05-01 2016-09-30 \
where rep_id in ({sales_ids}) activity_type in ('CREATE_AD', 'CREATE_JOB') activity_field=HOSTED_JOB \
group by rep_id, rep_username/*Sales Rep*/, advertiser_id, activity_type, activity_field, message, unixtime select counts/*Number of Created Jobs*/

Output = None

In [130]:
test_df

,rep_id,Sales Rep,advertiser_id,activity_type,activity_field,message,unixtime,Number of Created Jobs
0,3409,manuels,6215939,CREATE_AD,HOSTED_JOB,[claudiavvc@mx.inditex.com] Created hosted job...,1462098415,1
1,3409,manuels,6215939,CREATE_AD,HOSTED_JOB,[claudiavvc@mx.inditex.com] Created hosted job...,1462098415,1
2,3409,manuels,6215939,CREATE_AD,HOSTED_JOB,[claudiavvc@mx.inditex.com] Created hosted job...,1462098415,1
3,3409,manuels,6215939,CREATE_AD,HOSTED_JOB,[claudiavvc@mx.inditex.com] Created hosted job...,1462098415,1
4,3409,manuels,6215939,CREATE_AD,HOSTED_JOB,[claudiavvc@mx.inditex.com] Created hosted job...,1462098415,1
5,3409,manuels,6215939,CREATE_AD,HOSTED_JOB,[claudiavvc@mx.inditex.com] Created hosted job...,1462098415,1
6,3409,manuels,6215939,CREATE_AD,HOSTED_JOB,[claudiavvc@mx.inditex.com] Created hosted job...,1462098436,1
7,3409,manuels,6215939,CREATE_AD,HOSTED_JOB,[claudiavvc@mx.inditex.com] Created hosted job...,1462098444,1
8,3409,manuels,6215939,CREATE_AD,HOSTED_JOB,[claudiavvc@mx.inditex.com] Created hosted job...,1462098473,1
9,3409,manuels,6215939,CREATE_AD,HOSTED_JOB,[claudiavvc@mx.inditex.com] Created hosted job...,1462098492,1
10,3409,manuels,6215939,CREATE_AD,HOSTED_JOB,[claudiavvc@mx.inditex.com] Created hosted job...,1462098509,1
11,3409,manuels,6215939,CREATE_AD,HOSTED_JOB,[claudiavvc@mx.inditex.com] Created hosted job...,1462098530,1
12,3409,manuels,6215939,CREATE_AD,HOSTED_JOB,[claudiavvc@mx.inditex.com] Created hosted job...,1462098545,1
13,3409,manuels,6215939,CREATE_AD,HOSTED_JOB,[claudiavvc@mx.inditex.com] Created hosted job...,1462098556,1
14,3409,manuels,6215939,CREATE_AD,HOSTED_JOB,[claudiavvc@mx.inditex.com] Created hosted job...,1462098566,1
15,3409,manuels,6215939,CREATE_AD,HOSTED_JOB,[claudiavvc@mx.inditex.com] Created hosted job...,1462098581,1
16,3409,manuels,6215939,CREATE_AD,HOSTED_JOB,[claudiavvc@mx.inditex.com] Created hosted job...,1462098597,1
17,3409,manuels,6215939,CREATE_AD,HOSTED_JOB,[claudiavvc@mx.inditex.com] Created hosted job...,1462098615,1
18,3409,manuels,338266,CREATE_AD,HOSTED_JOB,[fgomez@ilsp.com.mx] Created hosted job with t...,1462118468,1
19,2810,lindsayz,1419236,CREATE_AD,HOSTED_JOB,[hrembert@primecomms.com] Created hosted job w...,1462196090,1
20,4191,linslee,954097,CREATE_AD,HOSTED_JOB,[freilly@ssg-llc.com] Created hosted job with ...,1462196232,1
21,2732,cdellavecchia,6674373,CREATE_AD,HOSTED_JOB,[angelica.burri@expresspros.com] Created hoste...,1462196458,1
22,3285,kellip,6749315,CREATE_AD,HOSTED_JOB,[sparker@honorhealthnetwork.com] Created hoste...,1462196704,1
23,3285,kellip,6749315,CREATE_AD,HOSTED_JOB,[sparker@honorhealthnetwork.com] Created hoste...,1462196704,1
24,3285,kellip,6749315,CREATE_AD,HOSTED_JOB,[sparker@honorhealthnetwork.com] Created hoste...,1462196704,1
25,3285,kellip,6749315,CREATE_AD,HOSTED_JOB,[sparker@honorhealthnetwork.com] Created hoste...,1462196727,1
26,3285,kellip,6749315,CREATE_AD,HOSTED_JOB,[sparker@honorhealthnetwork.com] Created hoste...,1462196754,1
27,701,jmuniz,3547105,CREATE_AD,HOSTED_JOB,[gnaumoff@coldwellbanker.com] Created hosted j...,1462196793,1
28,701,jmuniz,3547105,CREATE_AD,HOSTED_JOB,[gnaumoff@coldwellbanker.com] Created hosted j...,1462196793,4
29,701,jmuniz,3547105,CREATE_AD,HOSTED_JOB,[gnaumoff@coldwellbanker.com] Created hosted j...,1462196793,4
...,...,...,...,...,...,...,...,...
9997,1549,ericv,1497190,CREATE_AD,HOSTED_JOB,[seagatetrans@gmail.com] Created hosted job wi...,1475157907,1
9998,1549,ericv,1497190,CREATE_AD,HOSTED_JOB,[seagatetrans@gmail.com] Created hosted job wi...,1475157907,2
9999,1549,ericv,1497190,CREATE_AD,HOSTED_JOB,[seagatetrans@gmail.com] Created hosted job wi...,1475157960,1
10000,2276,tess,3212668,CREATE_JOB,HOSTED_JOB,[recruitment@sagainnovations.org] Dradis job '...,1475158985,1
10001,3303,stephenk,5803333,CREATE_AD,HOSTED_JOB,[l.verschueren@advancevauxhall.co.uk] Created ...,1475160523,1
10002,3303,stephenk,5803333,CREATE_AD,HOSTED_JOB,[l.verschueren@advancevauxhall.co.uk] Created ...,1475160523,1
10003,3303,stephenk,5803333,CREATE_AD,HOSTED_JOB,[l.verschueren@advancevauxhall.co.uk] Created ...,1475160523,1
10004,1231,lianna,290888,CREATE_AD,HOSTED_JOB,[jciardullo@unitex.com] Created hosted job wit...,1475163925,1
10005,1231,lianna,290888,CREATE_AD,HOSTED_JOB,[jciardullo@unitex.com] Created hosted job wit...,1475163925,1
10006,1231,lianna,290888,CREATE_AD,HOSTED_JOB,[jciardullo@unitex.com] Created hosted job wit...,1475163925,1
10007,1231,lianna,290888,CREATE_AD,HOSTED_JOB,[jciardullo@unitex.com] Created hosted job wit...,1475163925,1
10008,5673,sgilmore,778659,CREATE_AD,HOSTED_JOB,[mariusz@preci-spark.com] Created hosted job w...,1475164402,1
10009,1032,dmeenan,1848711,CREATE_JOB,HOSTED_JOB,[hwaitman@sdomhome.org] Dradis job 'test - Bro...,1475165436,1
10010,891,shanna,3855822,CREATE_JOB,HOSTED_JOB,[caitlin.clabots@nellc.com] Dradis job 'Test -...,1475166203,1
10011,688,davidb,8808557,CREATE_AD,HOSTED_JOB,[dransbottom@zingrecruiting.com] Created hoste...,1475171286,1
10012,2841,asclama,9200491,CREATE_JOB,HOSTED_JOB,[abbott@merrittgrp.com] Dradis job 'TEST - McL...,1475174202,1
10013,356,agasperini,6541951,CREATE_AD,HOSTED_JOB,[humanresources@optimalcares.com] Created host...,1475174592,1
10014,2346,kkoo,3370700,CREATE_JOB,HOSTED_JOB,[rocky@allaccesslogistics.com] Dradis job 'CDL...,1475178361,1
10015,2346,kkoo,3370700,CREATE_JOB,HOSTED_JOB,[rocky@allaccesslogistics.com] Dradis job 'CDL...,1475178461,1
10016,2346,kkoo,3370700,CREATE_JOB,HOSTED_JOB,[rocky@allaccesslogistics.com] Dradis job 'Loc...,1475178574,1
10017,5107,sabino,7066856,CREATE_JOB,HOSTED_JOB,[resume@brokerbrotherslogistics.com] Dradis jo...,1475179374,1
10018,5107,sabino,7066856,CREATE_JOB,HOSTED_JOB,[resume@brokerbrotherslogistics.com] Dradis jo...,1475179995,1
10019,5107,sabino,7066856,CREATE_JOB,HOSTED_JOB,[resume@brokerbrotherslogistics.com] Dradis jo...,1475180074,1
10020,2321,msantaniello,2071445,CREATE_AD,HOSTED_JOB,[john.eite@wyndhamcapital.com] Created hosted ...,1475180434,1
10021,2643,abiemesderfer,2804970,CREATE_AD,HOSTED_JOB,[hr@jjicc.com] Created hosted job with title '...,1475181030,1
10022,2643,abiemesderfer,2804970,CREATE_AD,HOSTED_JOB,[hr@jjicc.com] Created hosted job with title '...,1475181109,1
10023,2643,abiemesderfer,2804970,CREATE_AD,HOSTED_JOB,[hr@jjicc.com] Created hosted job with title '...,1475181133,1
10024,2643,abiemesderfer,2804970,CREATE_AD,HOSTED_JOB,[hr@jjicc.com] Created hosted job with title '...,1475181172,1
10025,1544,emmae,8072599,CREATE_AD,HOSTED_JOB,[swenneborg@genequityco.com] Created hosted jo...,1475181374,1
10026,5107,sabino,8951228,CREATE_JOB,HOSTED_JOB,[bblanton@hubbardhill.org] Dradis job 'Registe...,1475181470,1