In [3]:
import pandas as pd
from pandas import Series, DataFrame
import datetime as dt
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader.data as web
import pandas_datareader as pdr

In [45]:
'KO'+'.US'

'KO.US'

In [46]:
def get_stock_prices(ticker, start, end):
    
    symbol = ticker + '.US'

    stockprice_df = web.DataReader(symbol, 'quandl', start, end)
    
    stockprice_df = stockprice_df[['Close', 'Volume']]
    stockprice_df['Volume'] = round(stockprice_df['Volume'].astype(float)/1000000, 2)
    
    return stockprice_df.sort_index()

In [47]:
get_stock_prices('KO', '2017-8-7','2017-8-11')

            Close  Volume
Date
2017-08-07  45.64    6.19
2017-08-08  45.60    5.68
2017-08-09  45.59    9.62
2017-08-10  45.74    8.85
2017-08-11  45.59    8.35

In [35]:
stockprice_df = stockprice_df[['Close', 'Volume']]

In [40]:
stockprice_df['Volume'] = round(stockprice_df['Volume'].astype(float)/1000000, 2)

In [44]:
stockprice_df.sort_index()

            Close  Volume
Date
2017-08-07  45.64    6.19
2017-08-08  45.60    5.68
2017-08-09  45.59    9.62
2017-08-10  45.74    8.85
2017-08-11  45.59    8.35

In [19]:
import pandas_datareader.data as web

symbol = 'KO'  # or 'AAPL.US'

df = web.DataReader(symbol, 'quandl', '2015-08-07', '2015-08-11')

df

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2015-08-11,41.40,41.5700,41.17,41.48,11254885.0,0.0,1.0,38.472760,38.630740,38.259022,38.547103,11254885.0
2015-08-10,41.89,41.9928,41.58,41.68,9501775.0,0.0,1.0,38.928114,39.023645,38.640033,38.732962,9501775.0
2015-08-07,41.81,41.9700,41.53,41.77,10886719.0,0.0,1.0,38.853770,39.002457,38.593568,38.816598,10886719.0