In [1]:
import pandas as pd
from pandas import Series, DataFrame
import datetime as dt

In [154]:
def total_votes(filename):
    
    exercise_df = pd.read_html(filename, header = 0)[0]
    return (sum(exercise_df['vote_yes']), sum(exercise_df['vote_no']))

def num_states_passed(filename):
    exercise_df = pd.read_html(filename, header = 0)[0]
    by_state = exercise_df.groupby('state').sum()
    
    return len(by_state.where(by_state['vote_yes'] > by_state['vote_no']).dropna())

def highest_pct(filename):
    states_df = pd.read_html(filename, header = 0)[0]
    states_df = states_df.groupby('state').sum().reset_index()
    states_df['total_votes'] = states_df['vote_yes'] + states_df['vote_no']
    
    states_df['yes percentage'] = states_df['vote_yes'] / states_df['total_votes']
    states_df['no percentage'] = states_df['vote_no'] / states_df['total_votes']

    highest_yes = states_df[states_df['yes percentage'] == max(states_df['yes percentage'])].state.item()
    highest_no = states_df[states_df['no percentage'] == max(states_df['no percentage'])].state.item()
    
    return (highest_yes, highest_no)

def potential_fraud(filename):
    cities_df = pd.read_html(filename, header = 0)[0]
    return cities_df[cities_df['vote_yes'] + cities_df['vote_no'] > cities_df['population']]['city'].values

In [155]:
print(total_votes('exercise.html'))
print(num_states_passed('exercise.html'))
print(highest_pct('exercise.html'))
print(potential_fraud('exercise.html'))

(4740781, 4941778)
21
('MT', 'DE')
['BERKELEY' 'RAMSEUR' 'MANSFIELD' 'MILLERS CREEK' 'MAPLE SHADE' 'AGUADA'
 'BELLE RIVE' 'PROVO' 'GORDO' 'PHOENIX' 'OLATHE' 'BILLINGS' 'EVERETT'
 'MOBILE' 'CRANSTON' 'GRANT' 'TOMS RIVER' 'DOUGLASVILLE' 'CARBONDALE'
 'PALESTINE' 'MIAMI' 'RISING FAWN' 'UNION GROVE' 'PHENIX CITY' 'OPP'
 'QUEBRADILLAS' 'PEORIA' 'YORK' 'WOLCOTT' 'CHESTER' 'SENECA' 'FENTON'
 'NAPLES' 'MATAWAN' 'ALBANY' 'OAK LAWN' 'AVON' 'RIDGELY' 'OAK LAWN'
 'WORCESTER' 'BARRINGTON' 'VALLEY GRANDE' 'WEST SPRINGFIELD'
 'COLLINGSWOOD' 'BOYERTOWN' 'BRONX' 'RUSSELLVILLE' 'CAGUAS' 'ROCKVILLE'
 'HOLYOKE' 'GAINESVILLE' 'DEEP RIVER' 'PARRISH' 'SANTA FE' 'GARLAND'
 'PHIL CAMPBELL' 'SAN FRANCISCO' 'COVINGTON' 'COLUMBIA' 'MANISTIQUE'
 'YARDLEY' 'FALL RIVER' 'AMERICUS' 'HUNTSVILLE' 'INGLEWOOD' 'WINFIELD'
 'PRINCETON' 'SAN GERMAN' 'ATCO' 'MONROE' 'ADDISON' 'GORDO' 'SEALE'
 'TOA BAJA' 'WASHINGTON' 'KINGSTON' 'BRANSON' 'DEMOTTE' 'BENWOOD' 'ORONO'
 'PONTE VEDRA BEACH' 'ROANOKE' 'WILLIAMS' 'MADISON' 'PINE BLUFF'
 'CROSSVILLE' 'EATON RAPIDS' 'GREAT NECK' 'THURMAN' 'CEDARVILLE']

In [110]:
states_df = exercise_df

In [102]:
exercise_df[exercise_df['city'] == 'ALBANY']

       city state  vote_yes  vote_no  population
25   ALBANY    NY      7259     1009       26533
105  ALBANY    NY      6768     4968       19319
157  ALBANY    NY      8168     8481       18677
264  ALBANY    NY       322     3027       29622
402  ALBANY    NY      7980     7855       12574

In [133]:
states_df = states_df.groupby('state').sum().reset_index()

In [134]:
states_df['total_votes'] = states_df['vote_yes'] + states_df['vote_no']

In [153]:
(highest_yes, highest_no)

('MT', 'DE')

In [57]:
len(by_state.where(by_state['vote_yes'] > by_state['vote_no']).dropna())

21