In [1]:
%reload_ext ishbook
import pandas as pd
pd.options.mode.chained_assignment = None
import plus
from nltk.tokenize import word_tokenize
import nltk
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

# v1 Refund Report:

* Total volume of Refund Requests sent by SMB floor coaches to Finance
* Total completed Refund Amounts
* Raw data including advid, refunded amount, requestor (floor coach name)
* Volume of Accounts with a reassignment within 30 days of the refund being completed – if we find there is a significant volume of accounts changing hands, then we can look to include rep assignments.



*Methodology*

1. First find Credit/Refund Requests sent by SMB floor coaches using the 'Credit/Refund Request' category
2. Indicate which requests were Refunds, Credits or Refund & Credit requests (since we obviously wouldn't show a refunded amount for requests that are only credits) -- we can do this by creating a function and mapping it to the request note
3. Use plus to get the account_ids and insert a stringed list into the deathstar index in order to look for refunded accounts and amounts
4. Use plus to also obtain current account status and HAJ status info as well as current rep assignments

In [2]:
%%ish
requests = from repaccountnotes 2016-09-01 2016-09-28 where username IN (jdrosos,virginia,jcrocco,talia) category_name = 'Credit/Refund Request' group by username,advid,unixtime,note

output = None

In [3]:
requests_info = plus.get_advertiser_info(requests.advid,intype='advid')
requests_info.reset_index(inplace=True)

LDAP name:
abrar
Password:
········

In [4]:
requests['test']=requests.note.apply(word_tokenize)

In [5]:
requests.head(1)

,username,advid,unixtime,note,,test
0,virginia,8186357,1473708226,$26.92 Type of request: CreditAmt of Request:...,1,"[$, 26.92, Type, of, request, :, CreditAmt, of..."

In [6]:
writer = pd.ExcelWriter('check.xlsx', engine='xlsxwriter')
requests.to_excel(writer,sheet_name = 'contact')

In [7]:
# Create a regex

credits = "[cC]redit"
refunds = "[rR]efund|$R|R|$R|R:|"
both = "[cC]redit [rR]efund"

In [8]:
# Create function to specify refunds or credits

def refund(string_in):
    if 'credit refund' in string_in:
        return 'Both'
    elif 'Refund/Credit' in string_in:
        return 'Both'
    elif 'Credit' in string_in:
        return 'Credit'
    elif 'credit' in string_in:
        return 'Credit'
    elif 'refund' in string_in:
        return 'Refund'
    elif 'Refund' in string_in:
        return 'Refund'
    elif '$Refund' in string_in:
        return 'Refund'
    else:
        return 'Check'

In [9]:
# Apply the function and create a new column

requests['type'] = requests.note.map(refund).copy()

In [10]:
requests

,username,advid,unixtime,note,,test,type
0,virginia,8186357,1473708226,$26.92 Type of request: CreditAmt of Request:...,1,"[$, 26.92, Type, of, request, :, CreditAmt, of...",Credit
1,virginia,5509632,1474406277,$80.44Type of request: RefundAmt of Request: ...,1,"[$, 80.44Type, of, request, :, RefundAmt, of, ...",Refund
2,virginia,8659946,1473686934,C$111.43Type of request: CreditAmt of Request...,1,"[C, $, 111.43Type, of, request, :, CreditAmt, ...",Credit
3,virginia,1912394,1474915788,C$202.31Type of request: CreditAmt of Request...,1,"[C, $, 202.31Type, of, request, :, CreditAmt, ...",Credit
4,virginia,8239814,1473256325,C$444.72Type of request: Credit Amt of Reques...,1,"[C, $, 444.72Type, of, request, :, Credit, Amt...",Credit
5,virginia,7744905,1473256011,C$74.30 Type of request: Credit Amt of Reques...,1,"[C, $, 74.30, Type, of, request, :, Credit, Am...",Credit
6,virginia,3627018,1474652690,$ R $378.79Type of Request: RefundAmount of Re...,1,"[$, R, $, 378.79Type, of, Request, :, RefundAm...",Refund
7,talia,8769908,1474897559,"$1,456.80 / $265.48Type of request: Refund/Cre...",1,"[$, 1,456.80, /, $, 265.48Type, of, request, :...",Both
8,virginia,8759232,1473364457,$C $80.81Type of Request: CreditAmount of Requ...,1,"[$, C, $, 80.81Type, of, Request, :, CreditAmo...",Credit
9,virginia,4575678,1474982551,$R $27.22 $C 98.87Refund: $27.22 Credit $98.87...,1,"[$, R, $, 27.22, $, C, 98.87Refund, :, $, 27.2...",Credit
10,virginia,8291528,1473340093,$R 17.76Type of request: RefundAmount: $17.76C...,1,"[$, R, 17.76Type, of, request, :, RefundAmount...",Refund
11,virginia,8032260,1473708519,$R 53.51 (CAD)Type of Request: Refund Amount o...,1,"[$, R, 53.51, (, CAD, ), Type, of, Request, :,...",Refund
12,virginia,4293093,1474631377,/ C$ 43.63 Type of request: Credit Amt of Requ...,1,"[/, C, $, 43.63, Type, of, request, :, Credit,...",Credit
13,virginia,2153626,1473867964,C $11.42 Type of Request: Credit Campaigns Aff...,1,"[C, $, 11.42, Type, of, Request, :, Credit, Ca...",Credit
14,jdrosos,6684322,1474573039,C $116.23Type of request: CreditAmt of Request...,1,"[C, $, 116.23Type, of, request, :, CreditAmt, ...",Credit
15,virginia,8422174,1473358224,C $128.28Amount of Request: $128.28Campaign's ...,1,"[C, $, 128.28Amount, of, Request, :, $, 128.28...",Check
16,jdrosos,1112266,1474573318,C $128.38Type of request: CreditAmt of Request...,1,"[C, $, 128.38Type, of, request, :, CreditAmt, ...",Credit
17,virginia,8616766,1473687071,C $133.54Amount of request: $133.54Campaign's ...,1,"[C, $, 133.54Amount, of, request, :, $, 133.54...",Check
18,virginia,4135440,1474897763,C $148.31Type of request: Credit Amt of Reques...,1,"[C, $, 148.31Type, of, request, :, Credit, Amt...",Credit
19,virginia,6309279,1474404992,C $153.33Type of request: CreditAmt of Request...,1,"[C, $, 153.33Type, of, request, :, CreditAmt, ...",Credit
20,jdrosos,5904604,1474898304,C $166.93Campaigns Affected: Financial Service...,1,"[C, $, 166.93Campaigns, Affected, :, Financial...",Credit
21,jdrosos,2148055,1473283225,C $19.12Campaigns Affected: Licensed Insurance...,1,"[C, $, 19.12Campaigns, Affected, :, Licensed, ...",Check
22,virginia,3742760,1474894406,C $228.28Type of request: CreditAmt of Request...,1,"[C, $, 228.28Type, of, request, :, CreditAmt, ...",Credit
23,talia,8394851,1474895240,C $27.31 (CAD)Type of request: CreditAmt of Re...,1,"[C, $, 27.31, (, CAD, ), Type, of, request, :,...",Credit
24,virginia,8515052,1473682106,C $271.99Type of request: CreditAmt of Request...,1,"[C, $, 271.99Type, of, request, :, CreditAmt, ...",Credit
25,jdrosos,5068030,1474314440,"C $28.27Campaigns Affected: ""Pet Groomer with ...",1,"[C, $, 28.27Campaigns, Affected, :, ``, Pet, G...",Credit
26,virginia,7052084,1474915666,C $293.65Amount of request: $293.65Campaign's ...,1,"[C, $, 293.65Amount, of, request, :, $, 293.65...",Check
27,jdrosos,9093157,1474899236,C $3.07 Campaigns Affected: Fundraising Volunt...,1,"[C, $, 3.07, Campaigns, Affected, :, Fundraisi...",Credit
28,jdrosos,7739218,1474314939,C $34.96Campaigns Affected: Full Charge Bookke...,1,"[C, $, 34.96Campaigns, Affected, :, Full, Char...",Check
29,virginia,8298321,1474984036,C $400.26 Type of request: Credit Amt of Requ...,1,"[C, $, 400.26, Type, of, request, :, Credit, A...",Credit
...,...,...,...,...,...,...,...
419,virginia,8148687,1473874017,R$72.36Type of request: RefundAmt of Request: ...,1,"[R, $, 72.36Type, of, request, :, RefundAmt, o...",Refund
420,talia,8092819,1473182961,R$72.56 / C$3.59Type of request: refund/ credi...,1,"[R, $, 72.56, /, C, $, 3.59Type, of, request, ...",Credit
421,talia,8676949,1473347575,R$739.08 / C$176.12Type of request: Refund and...,1,"[R, $, 739.08, /, C, $, 176.12Type, of, reques...",Credit
422,talia,2234211,1473688514,R$757.74Type of request: RefundAmt of Request:...,1,"[R, $, 757.74Type, of, request, :, RefundAmt, ...",Refund
423,virginia,8557206,1474894753,R$767.00 / C$104.92Campaigns Affected: Kitchen...,1,"[R, $, 767.00, /, C, $, 104.92Campaigns, Affec...",Credit
424,talia,8489441,1473286387,R$77.82 / C$65.30Type of request: Refund & Cre...,1,"[R, $, 77.82, /, C, $, 65.30Type, of, request,...",Credit
425,virginia,8600042,1473867279,R$78.24 / C$117.50Type of request: Credit Amt ...,1,"[R, $, 78.24, /, C, $, 117.50Type, of, request...",Credit
426,virginia,7338248,1473708002,R$786.31Type of request: RefundAmt of Request:...,1,"[R, $, 786.31Type, of, request, :, RefundAmt, ...",Refund
427,virginia,169247,1473806248,R$801.17 / C$103.70Type of request: Refund/Cre...,1,"[R, $, 801.17, /, C, $, 103.70Type, of, reques...",Both
428,virginia,169247,1473806169,R$801.17 / C$103.70Type of request: Refund/Cre...,1,"[R, $, 801.17, /, C, $, 103.70Type, of, reques...",Both
429,talia,3112700,1473285883,R$802.44Type of request: Refund Amt of Request...,1,"[R, $, 802.44Type, of, request, :, Refund, Amt...",Credit
430,virginia,2061852,1474460115,R$802.99 / C$16.93Type of request: Refund/Cred...,1,"[R, $, 802.99, /, C, $, 16.93Type, of, request...",Both
431,talia,1917820,1473183690,R$803.39 / C$33.23TYPE OF REQUEST: refund/ cre...,1,"[R, $, 803.39, /, C, $, 33.23TYPE, OF, REQUEST...",Credit
432,jcrocco,8556571,1474662745,R$834.34 / C$496.65Type of request: Refund and...,1,"[R, $, 834.34, /, C, $, 496.65Type, of, reques...",Credit
433,talia,8543434,1474035449,R$880.35 / C$4.73Type of request: Refund & Cre...,1,"[R, $, 880.35, /, C, $, 4.73Type, of, request,...",Credit
434,talia,7825433,1473184694,R$896.42 / C$19.06Type of request: Refund / Cr...,1,"[R, $, 896.42, /, C, $, 19.06Type, of, request...",Credit
435,talia,1714196,1473775074,R$9.73Type of request: RefundAmt of Request: $...,1,"[R, $, 9.73Type, of, request, :, RefundAmt, of...",Credit
436,talia,7742938,1474662242,"R$901.34 / C $351.77Amount of Request: $1,253....",1,"[R, $, 901.34, /, C, $, 351.77Amount, of, Requ...",Credit
437,virginia,7769190,1473276532,R$94.75Type of request: RefundAmt of Request: ...,1,"[R, $, 94.75Type, of, request, :, RefundAmt, o...",Refund
438,talia,7494854,1473783592,R$942.09Type of request: Refund Amt of Request...,1,"[R, $, 942.09Type, of, request, :, Refund, Amt...",Refund
439,virginia,7772413,1473855369,R$965.01 / C$133.71Type of request: Refund and...,1,"[R, $, 965.01, /, C, $, 133.71Type, of, reques...",Credit
440,talia,7279305,1473340565,R$972.55 / C$90.30Type of request: Refund and ...,1,"[R, $, 972.55, /, C, $, 90.30Type, of, request...",Credit
441,talia,8047042,1474662003,R$992.20 / C$145.20Type of request: refund & c...,1,"[R, $, 992.20, /, C, $, 145.20Type, of, reques...",Credit
442,jcrocco,1683205,1474663551,R450.14/C110.81 Type of request: Refund/Credit...,1,"[R450.14/C110.81, Type, of, request, :, Refund...",Both
443,talia,2572460,1473785610,"R: $1,104.37/C: $62.71 Type of request: R&C Am...",1,"[R, :, $, 1,104.37/C, :, $, 62.71, Type, of, r...",Refund
444,talia,5920519,1473780393,"R: $1,585.76 C: $128.03Type of request: Refund...",1,"[R, :, $, 1,585.76, C, :, $, 128.03Type, of, r...",Credit
445,jcrocco,6967656,1474984157,Type of request: Credit Amt of Request: $856.8...,1,"[Type, of, request, :, Credit, Amt, of, Reques...",Credit
446,virginia,4135440,1474980407,hi team - client has added the CC to get charg...,1,"[hi, team, -, client, has, added, the, CC, to,...",Refund
447,virginia,2668348,1473276323,r 433.00 c 20.82 Type of request: Refund and C...,1,"[r, 433.00, c, 20.82, Type, of, request, :, Re...",Credit
448,virginia,2668348,1473276438,r 433.00 c 20.82 Type of request: Refund and C...,1,"[r, 433.00, c, 20.82, Type, of, request, :, Re...",Credit

In [11]:
# String together accountids to insert into deathstar IQL query

acctids = ','.join(str(x) for x in requests_info.account_id)

In [12]:
%%ish

refunds = from deathstar 2016-01-01 today where accountid IN ({acctids}) requesttype = refundprofile group by accountid/*account_id*/ select amount/100/*refund_amount*/
output = None

In [13]:
# Convert unixtimes to datetimes

requests['request_date']=pd.to_datetime(requests.unixtime,unit='s')

In [14]:
# Merge request info with account id info with refund info

refund_requests = requests.merge(requests_info,how='left',on='advid').merge(refunds,how='left',on='account_id')

In [15]:
# Narrow down to categories I care about

Refunds = refund_requests[['advid','account_id','username','request_date','active','showHostedJobs','service_rep','sales_rep','refund_amount','type_x','note']]

In [16]:
# Replace 'active' column (account status) with understandable terms

Refunds.active.replace({0:'Disabled',1:'Approved',2:'Awaiting Authorization'},inplace=True)

In [17]:
# Get back service and sales rep assignments

service_rep = plus.get_user_info(Refunds.service_rep.unique())
service_rep.reset_index(inplace=True)

sales_rep = plus.get_user_info(Refunds.sales_rep.unique())
sales_rep.reset_index(inplace=True)

In [18]:
# Merge service and sales rep dataframes together

refund_reps = Refunds.merge(service_rep,how='left',left_on=['service_rep'],right_on=['index']).merge(sales_rep,how='left',left_on=['sales_rep'],right_on=['index'])

In [19]:
# Once more, narrow down to columns I care about

Final = refund_reps[['advid','username_x','request_date','refund_amount','type_x','active_x','showHostedJobs','username_y','username']]

# Rename columns

Final.columns=['Advertiser ID','SMB Floor Coach','Request Date','Refunded Amount','Request Type','Current Account Status','Current HAJ Status','Current Service Rep','Current Sales Rep']

In [20]:
# Replace NAs with 0

Final['Refunded Amount'].fillna(0,inplace=True)

In [21]:
# Remove duplicates

Final.drop_duplicates(inplace=True)
Final.head(2)

,Advertiser ID,SMB Floor Coach,Request Date,Refunded Amount,Request Type,Current Account Status,Current HAJ Status,Current Service Rep,Current Sales Rep
0,8186357,virginia,2016-09-12 19:23:46,0.0,Credit,1,verified,CAsharedsupport,lchalmers
1,5509632,virginia,2016-09-20 21:17:57,0.0,Refund,1,verified,smbsupp,na

In [22]:
Final.to_csv('Refundv1.csv')

In [23]:
new = pd.read_csv('refund.csv')
new.head(2)

,Advid,Date,Type,Refund $,Credit $,Free Click $,Reason,Notes,Initials
0,NaN,9/1/2016,Refund,$459.11,NaN,NaN,Bid Opt Overspend,NaN,CL
1,NaN,9/1/2016,Refund/Credit,$500.40,$94.29,NaN,Daily Budget - Free,Unintended budgets on ads- started spending wh...,CG

In [24]:
new['Advid'].fillna(0, inplace=True)

In [25]:
new['Advid'] = new['Advid'].astype(int)

In [26]:
new1 = new.rename(columns={'Advid': 'Advertiser ID'})

In [27]:
new1.head(2)

,Advertiser ID,Date,Type,Refund $,Credit $,Free Click $,Reason,Notes,Initials
0,0,9/1/2016,Refund,$459.11,NaN,NaN,Bid Opt Overspend,NaN,CL
1,0,9/1/2016,Refund/Credit,$500.40,$94.29,NaN,Daily Budget - Free,Unintended budgets on ads- started spending wh...,CG

In [28]:
finaldf = Final.merge(new1, on = 'Advertiser ID', how = 'left')
finaldf.head(2)

,Advertiser ID,SMB Floor Coach,Request Date,Refunded Amount,Request Type,Current Account Status,Current HAJ Status,Current Service Rep,Current Sales Rep,Date,Type,Refund $,Credit $,Free Click $,Reason,Notes,Initials
0,8186357,virginia,2016-09-12 19:23:46,0.0,Credit,1,verified,CAsharedsupport,lchalmers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5509632,virginia,2016-09-20 21:17:57,0.0,Refund,1,verified,smbsupp,na,9/20/2016,Refund,$80.44,NaN,NaN,Recurring Budget,NaN,VF

In [29]:
finaldf = finaldf[['Advertiser ID','SMB Floor Coach', 'Request Date', 'Refunded Amount', 'Request Type', 'Current Account Status', 'Current HAJ Status', 'Current Service Rep', 'Reason ']]

In [30]:
finaldf.to_csv('refundnew.csv')

# Reason

In [31]:
leave = "new owner.*|.*account owner.*|.*new contact.*|.*former employee.*|.*contact change.*|.*left company.*"
openCC = "old jobs.*|.*open jobs.*|.*resume database.*|.*old job.*"
salesrep = "sales rep.*|.*sales.*|.*AE.*|.*account executive.*|.*account executive/.*|.*/sales.*|.*/Sales.*|.*Account Executive.*"
overspend = "over spend.*|.*overspend.*|.*Recurring budget.*|.*recurring budget.*|.*over budget.*|.*spent over.*|.*spend over.*"
clienterror = "accident.*|.*daily.*|.*no idea.*|.*thought.*|confused|.*forgot.*|.*unaware.*|.*misunderstood.*|intended|Intended|.*lack of education.*"
hacked = "hacked.*|.*Hacked.*|.*hacking.*|.*Hacking.*"
salaryfield = "salary field.*|.*Salary Field.*|.*Salary field.*"

In [32]:
# Create function to specify refunds or credits

def note1(string_in):
    if 'leave' in string_in:
        return 'Account Owner Changed'
    elif 'openCC' in string_in:
        return 'Added CC with Open Jobs'
    elif 'sales rep' in string_in:
        return 'AE'
    elif 'overspend' in string_in:
        return 'Budget Overspend'
    elif 'clienterror' in string_in:
        return 'Client Error'
    elif 'hacked' in string_in:
        return 'Account Hacked'
    elif 'salaryfield' in string_in:
        return 'Salary Field'
    else:
        return 'Other'

In [33]:
requests['reason'] = requests.note.map(note1).copy()

In [34]:
requests

,username,advid,unixtime,note,,test,type,request_date,reason
0,virginia,8186357,1473708226,$26.92 Type of request: CreditAmt of Request:...,1,"[$, 26.92, Type, of, request, :, CreditAmt, of...",Credit,2016-09-12 19:23:46,Other
1,virginia,5509632,1474406277,$80.44Type of request: RefundAmt of Request: ...,1,"[$, 80.44Type, of, request, :, RefundAmt, of, ...",Refund,2016-09-20 21:17:57,Other
2,virginia,8659946,1473686934,C$111.43Type of request: CreditAmt of Request...,1,"[C, $, 111.43Type, of, request, :, CreditAmt, ...",Credit,2016-09-12 13:28:54,Other
3,virginia,1912394,1474915788,C$202.31Type of request: CreditAmt of Request...,1,"[C, $, 202.31Type, of, request, :, CreditAmt, ...",Credit,2016-09-26 18:49:48,Other
4,virginia,8239814,1473256325,C$444.72Type of request: Credit Amt of Reques...,1,"[C, $, 444.72Type, of, request, :, Credit, Amt...",Credit,2016-09-07 13:52:05,Other
5,virginia,7744905,1473256011,C$74.30 Type of request: Credit Amt of Reques...,1,"[C, $, 74.30, Type, of, request, :, Credit, Am...",Credit,2016-09-07 13:46:51,Other
6,virginia,3627018,1474652690,$ R $378.79Type of Request: RefundAmount of Re...,1,"[$, R, $, 378.79Type, of, Request, :, RefundAm...",Refund,2016-09-23 17:44:50,Other
7,talia,8769908,1474897559,"$1,456.80 / $265.48Type of request: Refund/Cre...",1,"[$, 1,456.80, /, $, 265.48Type, of, request, :...",Both,2016-09-26 13:45:59,Other
8,virginia,8759232,1473364457,$C $80.81Type of Request: CreditAmount of Requ...,1,"[$, C, $, 80.81Type, of, Request, :, CreditAmo...",Credit,2016-09-08 19:54:17,Other
9,virginia,4575678,1474982551,$R $27.22 $C 98.87Refund: $27.22 Credit $98.87...,1,"[$, R, $, 27.22, $, C, 98.87Refund, :, $, 27.2...",Credit,2016-09-27 13:22:31,Other
10,virginia,8291528,1473340093,$R 17.76Type of request: RefundAmount: $17.76C...,1,"[$, R, 17.76Type, of, request, :, RefundAmount...",Refund,2016-09-08 13:08:13,Other
11,virginia,8032260,1473708519,$R 53.51 (CAD)Type of Request: Refund Amount o...,1,"[$, R, 53.51, (, CAD, ), Type, of, Request, :,...",Refund,2016-09-12 19:28:39,Other
12,virginia,4293093,1474631377,/ C$ 43.63 Type of request: Credit Amt of Requ...,1,"[/, C, $, 43.63, Type, of, request, :, Credit,...",Credit,2016-09-23 11:49:37,Other
13,virginia,2153626,1473867964,C $11.42 Type of Request: Credit Campaigns Aff...,1,"[C, $, 11.42, Type, of, Request, :, Credit, Ca...",Credit,2016-09-14 15:46:04,Budget Overspend
14,jdrosos,6684322,1474573039,C $116.23Type of request: CreditAmt of Request...,1,"[C, $, 116.23Type, of, request, :, CreditAmt, ...",Credit,2016-09-22 19:37:19,Other
15,virginia,8422174,1473358224,C $128.28Amount of Request: $128.28Campaign's ...,1,"[C, $, 128.28Amount, of, Request, :, $, 128.28...",Check,2016-09-08 18:10:24,Other
16,jdrosos,1112266,1474573318,C $128.38Type of request: CreditAmt of Request...,1,"[C, $, 128.38Type, of, request, :, CreditAmt, ...",Credit,2016-09-22 19:41:58,Other
17,virginia,8616766,1473687071,C $133.54Amount of request: $133.54Campaign's ...,1,"[C, $, 133.54Amount, of, request, :, $, 133.54...",Check,2016-09-12 13:31:11,Other
18,virginia,4135440,1474897763,C $148.31Type of request: Credit Amt of Reques...,1,"[C, $, 148.31Type, of, request, :, Credit, Amt...",Credit,2016-09-26 13:49:23,Other
19,virginia,6309279,1474404992,C $153.33Type of request: CreditAmt of Request...,1,"[C, $, 153.33Type, of, request, :, CreditAmt, ...",Credit,2016-09-20 20:56:32,Other
20,jdrosos,5904604,1474898304,C $166.93Campaigns Affected: Financial Service...,1,"[C, $, 166.93Campaigns, Affected, :, Financial...",Credit,2016-09-26 13:58:24,Other
21,jdrosos,2148055,1473283225,C $19.12Campaigns Affected: Licensed Insurance...,1,"[C, $, 19.12Campaigns, Affected, :, Licensed, ...",Check,2016-09-07 21:20:25,Other
22,virginia,3742760,1474894406,C $228.28Type of request: CreditAmt of Request...,1,"[C, $, 228.28Type, of, request, :, CreditAmt, ...",Credit,2016-09-26 12:53:26,Other
23,talia,8394851,1474895240,C $27.31 (CAD)Type of request: CreditAmt of Re...,1,"[C, $, 27.31, (, CAD, ), Type, of, request, :,...",Credit,2016-09-26 13:07:20,Other
24,virginia,8515052,1473682106,C $271.99Type of request: CreditAmt of Request...,1,"[C, $, 271.99Type, of, request, :, CreditAmt, ...",Credit,2016-09-12 12:08:26,Other
25,jdrosos,5068030,1474314440,"C $28.27Campaigns Affected: ""Pet Groomer with ...",1,"[C, $, 28.27Campaigns, Affected, :, ``, Pet, G...",Credit,2016-09-19 19:47:20,Other
26,virginia,7052084,1474915666,C $293.65Amount of request: $293.65Campaign's ...,1,"[C, $, 293.65Amount, of, request, :, $, 293.65...",Check,2016-09-26 18:47:46,Other
27,jdrosos,9093157,1474899236,C $3.07 Campaigns Affected: Fundraising Volunt...,1,"[C, $, 3.07, Campaigns, Affected, :, Fundraisi...",Credit,2016-09-26 14:13:56,Other
28,jdrosos,7739218,1474314939,C $34.96Campaigns Affected: Full Charge Bookke...,1,"[C, $, 34.96Campaigns, Affected, :, Full, Char...",Check,2016-09-19 19:55:39,Other
29,virginia,8298321,1474984036,C $400.26 Type of request: Credit Amt of Requ...,1,"[C, $, 400.26, Type, of, request, :, Credit, A...",Credit,2016-09-27 13:47:16,Other
...,...,...,...,...,...,...,...,...,...
419,virginia,8148687,1473874017,R$72.36Type of request: RefundAmt of Request: ...,1,"[R, $, 72.36Type, of, request, :, RefundAmt, o...",Refund,2016-09-14 17:26:57,Other
420,talia,8092819,1473182961,R$72.56 / C$3.59Type of request: refund/ credi...,1,"[R, $, 72.56, /, C, $, 3.59Type, of, request, ...",Credit,2016-09-06 17:29:21,Other
421,talia,8676949,1473347575,R$739.08 / C$176.12Type of request: Refund and...,1,"[R, $, 739.08, /, C, $, 176.12Type, of, reques...",Credit,2016-09-08 15:12:55,Other
422,talia,2234211,1473688514,R$757.74Type of request: RefundAmt of Request:...,1,"[R, $, 757.74Type, of, request, :, RefundAmt, ...",Refund,2016-09-12 13:55:14,Other
423,virginia,8557206,1474894753,R$767.00 / C$104.92Campaigns Affected: Kitchen...,1,"[R, $, 767.00, /, C, $, 104.92Campaigns, Affec...",Credit,2016-09-26 12:59:13,Budget Overspend
424,talia,8489441,1473286387,R$77.82 / C$65.30Type of request: Refund & Cre...,1,"[R, $, 77.82, /, C, $, 65.30Type, of, request,...",Credit,2016-09-07 22:13:07,Other
425,virginia,8600042,1473867279,R$78.24 / C$117.50Type of request: Credit Amt ...,1,"[R, $, 78.24, /, C, $, 117.50Type, of, request...",Credit,2016-09-14 15:34:39,Other
426,virginia,7338248,1473708002,R$786.31Type of request: RefundAmt of Request:...,1,"[R, $, 786.31Type, of, request, :, RefundAmt, ...",Refund,2016-09-12 19:20:02,Other
427,virginia,169247,1473806248,R$801.17 / C$103.70Type of request: Refund/Cre...,1,"[R, $, 801.17, /, C, $, 103.70Type, of, reques...",Both,2016-09-13 22:37:28,Other
428,virginia,169247,1473806169,R$801.17 / C$103.70Type of request: Refund/Cre...,1,"[R, $, 801.17, /, C, $, 103.70Type, of, reques...",Both,2016-09-13 22:36:09,Other
429,talia,3112700,1473285883,R$802.44Type of request: Refund Amt of Request...,1,"[R, $, 802.44Type, of, request, :, Refund, Amt...",Credit,2016-09-07 22:04:43,Other
430,virginia,2061852,1474460115,R$802.99 / C$16.93Type of request: Refund/Cred...,1,"[R, $, 802.99, /, C, $, 16.93Type, of, request...",Both,2016-09-21 12:15:15,Other
431,talia,1917820,1473183690,R$803.39 / C$33.23TYPE OF REQUEST: refund/ cre...,1,"[R, $, 803.39, /, C, $, 33.23TYPE, OF, REQUEST...",Credit,2016-09-06 17:41:30,Other
432,jcrocco,8556571,1474662745,R$834.34 / C$496.65Type of request: Refund and...,1,"[R, $, 834.34, /, C, $, 496.65Type, of, reques...",Credit,2016-09-23 20:32:25,Other
433,talia,8543434,1474035449,R$880.35 / C$4.73Type of request: Refund & Cre...,1,"[R, $, 880.35, /, C, $, 4.73Type, of, request,...",Credit,2016-09-16 14:17:29,Other
434,talia,7825433,1473184694,R$896.42 / C$19.06Type of request: Refund / Cr...,1,"[R, $, 896.42, /, C, $, 19.06Type, of, request...",Credit,2016-09-06 17:58:14,Other
435,talia,1714196,1473775074,R$9.73Type of request: RefundAmt of Request: $...,1,"[R, $, 9.73Type, of, request, :, RefundAmt, of...",Credit,2016-09-13 13:57:54,Other
436,talia,7742938,1474662242,"R$901.34 / C $351.77Amount of Request: $1,253....",1,"[R, $, 901.34, /, C, $, 351.77Amount, of, Requ...",Credit,2016-09-23 20:24:02,Other
437,virginia,7769190,1473276532,R$94.75Type of request: RefundAmt of Request: ...,1,"[R, $, 94.75Type, of, request, :, RefundAmt, o...",Refund,2016-09-07 19:28:52,Other
438,talia,7494854,1473783592,R$942.09Type of request: Refund Amt of Request...,1,"[R, $, 942.09Type, of, request, :, Refund, Amt...",Refund,2016-09-13 16:19:52,Other
439,virginia,7772413,1473855369,R$965.01 / C$133.71Type of request: Refund and...,1,"[R, $, 965.01, /, C, $, 133.71Type, of, reques...",Credit,2016-09-14 12:16:09,Other
440,talia,7279305,1473340565,R$972.55 / C$90.30Type of request: Refund and ...,1,"[R, $, 972.55, /, C, $, 90.30Type, of, request...",Credit,2016-09-08 13:16:05,Other
441,talia,8047042,1474662003,R$992.20 / C$145.20Type of request: refund & c...,1,"[R, $, 992.20, /, C, $, 145.20Type, of, reques...",Credit,2016-09-23 20:20:03,Budget Overspend
442,jcrocco,1683205,1474663551,R450.14/C110.81 Type of request: Refund/Credit...,1,"[R450.14/C110.81, Type, of, request, :, Refund...",Both,2016-09-23 20:45:51,Other
443,talia,2572460,1473785610,"R: $1,104.37/C: $62.71 Type of request: R&C Am...",1,"[R, :, $, 1,104.37/C, :, $, 62.71, Type, of, r...",Refund,2016-09-13 16:53:30,Other
444,talia,5920519,1473780393,"R: $1,585.76 C: $128.03Type of request: Refund...",1,"[R, :, $, 1,585.76, C, :, $, 128.03Type, of, r...",Credit,2016-09-13 15:26:33,Other
445,jcrocco,6967656,1474984157,Type of request: Credit Amt of Request: $856.8...,1,"[Type, of, request, :, Credit, Amt, of, Reques...",Credit,2016-09-27 13:49:17,Other
446,virginia,4135440,1474980407,hi team - client has added the CC to get charg...,1,"[hi, team, -, client, has, added, the, CC, to,...",Refund,2016-09-27 12:46:47,Other
447,virginia,2668348,1473276323,r 433.00 c 20.82 Type of request: Refund and C...,1,"[r, 433.00, c, 20.82, Type, of, request, :, Re...",Credit,2016-09-07 19:25:23,Other
448,virginia,2668348,1473276438,r 433.00 c 20.82 Type of request: Refund and C...,1,"[r, 433.00, c, 20.82, Type, of, request, :, Re...",Credit,2016-09-07 19:27:18,Other

In [35]:
writer = pd.ExcelWriter('check1.xlsx', engine='xlsxwriter')
requests.to_excel(writer,sheet_name = 'idc2')
writer.save()