In [1]:
%reload_ext ishbook
import pandas as pd
import numpy as np
import datetime as dt
import time
import iql
import plus
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [43]:
%%ish
spending = from adcrev 2016-01-01 2016-04-01 where serviceRep = smbsupp cost > 0 GROUP BY advId
Output = None

In [22]:
spending_list = ','.join(str(x) for x in pd.unique(spending['advId']))

In [42]:
spending_list.count(',')

162437

In [44]:
spending.tail(1)

         advId
162437  999913  88

In [34]:
full_list = spending["advId"].tolist()

In [41]:
len(full_list)

162438

In [35]:
chunks = [full_list[x:x+100000] for x in xrange(0, len(full_list), 100000)]

In [47]:
first_list = str(chunks[0]).strip('[]')

In [49]:
second_list = str(chunks[1]).strip('[]')

In [50]:
%%ish
churned1 = from advertiserevent 2016-04-01 2016-07-01 where activity_type = "90D_AFTER_LAST_REVENUE" advertiser_id in ({first_list}) SELECT count()
churned2 = from advertiserevent 2016-04-01 2016-07-01 where activity_type = "90D_AFTER_LAST_REVENUE" advertiser_id in ({second_list}) SELECT count()
Output = None

In [80]:
(1 - float(churned1 + churned2) / float(len(full_list))) * 100

56.875854172053344

In [81]:
float(churned1 + churned2)

70050.0

In [59]:
%%ish

april_spending = from adcrev 2016-04-01 2016-04-30 where serviceRep = smbsupp cost > 0 GROUP BY advId
Output = None

In [25]:
april_list = ','.join(str(x) for x in pd.unique(april_spending['advId']))

In [61]:
len(april_spending)

100633

In [2]:
%%ish

jan_spending = from adcrev 2016-01-01 2016-02-01 where serviceRep = smbsupp cost > 0 GROUP BY advId
feb_spending = from adcrev 2016-02-01 2016-03-01 where serviceRep = smbsupp cost > 0 GROUP BY advId
mar_spending = from adcrev 2016-03-01 2016-04-01 where serviceRep = smbsupp cost > 0 GROUP BY advId

Output = None

In [3]:
jan_list = ','.join(str(x) for x in pd.unique(jan_spending['advId']))
feb_list = ','.join(str(x) for x in pd.unique(feb_spending['advId']))
mar_list = ','.join(str(x) for x in pd.unique(mar_spending['advId']))

In [4]:
%%ish

jan_churned = from advertiserevent 2016-02-01 2016-03-01 where activity_type = "90D_AFTER_LAST_REVENUE" advertiser_id in ({jan_list}) SELECT count()
feb_churned = from advertiserevent 2016-03-01 2016-04-01 where activity_type = "90D_AFTER_LAST_REVENUE" advertiser_id in ({feb_list}) SELECT count()
mar_churned = from advertiserevent 2016-04-01 2016-05-01 where activity_type = "90D_AFTER_LAST_REVENUE" advertiser_id in ({mar_list}) SELECT count()

Output = None

In [89]:
print (1 - (float(jan_churned) / float(len(jan_spending)))) * 100
print (1 - (float(feb_churned) / float(len(feb_spending)))) * 100
print (1 - (float(mar_churned) / float(len(mar_spending)))) * 100
print (69.85 + 64.99 + 68.06) / 3

69.8575090143
64.994579479
68.0632818389
67.6333333333

In [6]:
print len(jan_spending)
print len(feb_spending)
print len(mar_spending)

print jan_churned
print feb_churned
print mar_churned

92076
98699
104801
0.0
0.0
0.0