In [ ]:
avg_price_gt('products.csv','manufacturers.csv',150)

In [26]:
import pandas as pd

from pandas import Series, DataFrame

import datetime as dt
import numpy as np

def avg_price_gt(products, manufacturers, p):
    
    products_df = pd.read_csv(products)
    manufacturers_df = pd.read_csv(manufacturers)
    
    merged_df = products_df.merge(manufacturers_df, left_on = 'mfr_id', right_on = 'mfr_id')
    
    prices = merged_df.groupby(['mfr_name']).mean()['price']
    
    return prices[prices > p]

In [27]:
avg_price_gt('products.csv', 'manufacturers.csv', 150)

mfr_name
Fujitsu            240.0
Hewlett-Packard    168.0
Sony               240.0
Name: price, dtype: float64

In [28]:
avg_price_gt('products.csv', 'manufacturers.csv', 200)

mfr_name
Fujitsu    240.0
Sony       240.0
Name: price, dtype: float64

In [5]:
products_df = pd.read_csv('products.csv')
manufacturers_df = pd.read_csv('manufacturers.csv')

In [11]:
merged_df = products_df.merge(manufacturers_df, left_on = 'mfr_id', right_on = 'mfr_id')

In [21]:
prices = merged_df.groupby(['mfr_name']).mean()['price']

In [22]:
prices[prices > n]

mfr_name
Fujitsu            240.0
Hewlett-Packard    168.0
Sony               240.0
Name: price, dtype: float64

In [4]:
pd.read_csv('manufacturers.csv')

   mfr_id         mfr_name
0       1             Sony
1       2    Creative Labs
2       3  Hewlett-Packard
3       4           Iomega
4       5          Fujitsu
5       6       Winchester

In [34]:
def misspellings(filename, n):
    
    misspellings =pd.read_csv(filename)
    
    misspellings = misspellings['corrected word'].value_counts()
    
    return np.array(misspellings[misspellings == n].sort_index().index)

In [35]:
misspellings('misspellings_r.csv', 4)

array(['acquaintance', 'because', 'constitution', 'definitely',
       'essential', 'going', 'harassed', 'independently', 'maintenance',
       'necessarily', 'perhaps', 'privileges', 'successful', 'the',
       'unnecessary', 'very', 'with'], dtype=object)

In [36]:
misspellings('misspellings_r.csv', 5)

array(['have', 'immediately', 'know', 'occasionally', 'occurrence',
       'parallel', 'parallelly', 'privilege', 'really', 'rhythm', 'that',
       'think', 'which', 'years'], dtype=object)

In [37]:
misspellings('misspellings_r.csv', 6)

array(['successfully'], dtype=object)

In [3]:
misspellings = pd.read_csv('misspellings_r.csv')

In [12]:
misspellings = misspellings['corrected word'].value_counts()

In [33]:
np.array(misspellings[misspellings == 4].sort_index().index)

array(['acquaintance', 'because', 'constitution', 'definitely',
       'essential', 'going', 'harassed', 'independently', 'maintenance',
       'necessarily', 'perhaps', 'privileges', 'successful', 'the',
       'unnecessary', 'very', 'with'], dtype=object)