In [ ]:
team_avg('baseball.csv',.200,.250)

In [25]:
import pandas as pd
from pandas import Series, DataFrame
import datetime as dt

cols = ['name', 'team', 'at bats', 'hits']

def team_avg(filename, start_avg, end_avg):
    
    baseball_df = pd.read_csv(filename, header = None, names = cols)
    
    team_batt_avgs = round(baseball_df.groupby('team')['hits'].sum() / baseball_df.groupby('team')['at bats'].sum(), 3)
    
    return team_batt_avgs[team_batt_avgs.between(start_avg, end_avg)]

In [26]:
team_avg('baseball.csv', .200, .250)

team
Mariners    0.242
Phillies    0.250
Rays        0.241
Reds        0.249
dtype: float64

In [27]:
team_avg('baseball.csv', .250, .275)

team
Athletics    0.253
Blue Jays    0.251
Braves       0.266
Cubs         0.266
Dodgers      0.273
Indians      0.270
Nationals    0.272
Orioles      0.255
Padres       0.269
Phillies     0.250
Red Sox      0.270
Royals       0.270
White Sox    0.263
dtype: float64

In [7]:
baseball_df['avg'] = round(baseball_df['hits'] / baseball_df['at bats'], 3)

In [18]:
team_batt_avgs = round(baseball_df.groupby('team')['hits'].sum() / baseball_df.groupby('team')['at bats'].sum(), 3)

In [24]:
team_batt_avgs[team_batt_avgs.between(start_avg, end_avg)]

team
Mariners    0.242
Phillies    0.250
Rays        0.241
Reds        0.249
dtype: float64

In [17]:
team_players = baseball_df.groupby('team')['name'].count()

In [24]:
np.array(team_players[team_players == 7].index)

array(['Cardinals', 'Rangers', 'Tigers', 'Twins', 'Yankees'], dtype=object)

In [ ]:
baseball_df = pd.read_csv(filename, header = None, names = cols)

In [1]:
import pandas as pd
from pandas import Series, DataFrame
import datetime as dt
import numpy as np

cols = ['name', 'team', 'at bats', 'hits']

def teams_w_n_players(filename, n):
    
    baseball_df = pd.read_csv(filename, header = None, names = cols)
    
    team_players = baseball_df.groupby('team')['name'].count()
    
    return np.array(team_players[team_players == n].index)

In [26]:
teams_w_n_players('baseball.csv', 7)

array(['Cardinals', 'Rangers', 'Tigers', 'Twins', 'Yankees'], dtype=object)

In [27]:
teams_w_n_players('baseball.csv', 6)

array(['Diamondbacks', 'Royals'], dtype=object)

In [26]:
import pandas as pd
from pandas import Series, DataFrame
import datetime as dt

def avg_price_gt(products, manufacturers, p):
    
    products_df = pd.read_csv(products)
    manufacturers_df = pd.read_csv(manufacturers)
    
    merged_df = products_df.merge(manufacturers_df, left_on = 'mfr_id', right_on = 'mfr_id')
    
    prices = merged_df.groupby(['mfr_name']).mean()['price']
    
    return prices[prices > p]

In [27]:
avg_price_gt('products.csv', 'manufacturers.csv', 150)

mfr_name
Fujitsu            240.0
Hewlett-Packard    168.0
Sony               240.0
Name: price, dtype: float64

In [28]:
avg_price_gt('products.csv', 'manufacturers.csv', 200)

mfr_name
Fujitsu    240.0
Sony       240.0
Name: price, dtype: float64

In [5]:
products_df = pd.read_csv('products.csv')
manufacturers_df = pd.read_csv('manufacturers.csv')

In [11]:
merged_df = products_df.merge(manufacturers_df, left_on = 'mfr_id', right_on = 'mfr_id')

In [21]:
prices = merged_df.groupby(['mfr_name']).mean()['price']

In [22]:
prices[prices > n]

mfr_name
Fujitsu            240.0
Hewlett-Packard    168.0
Sony               240.0
Name: price, dtype: float64

In [4]:
pd.read_csv('manufacturers.csv')

   mfr_id         mfr_name
0       1             Sony
1       2    Creative Labs
2       3  Hewlett-Packard
3       4           Iomega
4       5          Fujitsu
5       6       Winchester

In [34]:
def misspellings(filename, n):
    
    misspellings =pd.read_csv(filename)
    
    misspellings = misspellings['corrected word'].value_counts()
    
    return np.array(misspellings[misspellings == n].sort_index().index)

In [35]:
misspellings('misspellings_r.csv', 4)

array(['acquaintance', 'because', 'constitution', 'definitely',
       'essential', 'going', 'harassed', 'independently', 'maintenance',
       'necessarily', 'perhaps', 'privileges', 'successful', 'the',
       'unnecessary', 'very', 'with'], dtype=object)

In [36]:
misspellings('misspellings_r.csv', 5)

array(['have', 'immediately', 'know', 'occasionally', 'occurrence',
       'parallel', 'parallelly', 'privilege', 'really', 'rhythm', 'that',
       'think', 'which', 'years'], dtype=object)

In [37]:
misspellings('misspellings_r.csv', 6)

array(['successfully'], dtype=object)

In [3]:
misspellings = pd.read_csv('misspellings_r.csv')

In [12]:
misspellings = misspellings['corrected word'].value_counts()

In [33]:
np.array(misspellings[misspellings == 4].sort_index().index)

array(['acquaintance', 'because', 'constitution', 'definitely',
       'essential', 'going', 'harassed', 'independently', 'maintenance',
       'necessarily', 'perhaps', 'privileges', 'successful', 'the',
       'unnecessary', 'very', 'with'], dtype=object)