In [ ]:
pct_by_age_group('bank.csv',[20,30,40,50,60])
Out[1]:
age_group
(30, 40] 0.157895
(40, 50] 0.125000
(20, 30] 0.121212
(50, 60] 0.049180

In [1]:
import pandas as pd
from pandas import Series, DataFrame
import datetime as dt

In [32]:
import pandas as pd
from pandas import Series, DataFrame
import datetime as dt

def pct_by_age_group(filename, list_of_ages):
    
    bins = list_of_ages
    
    bank_df = pd.read_csv(filename)
    
    categories = pd.cut(bank_df['Age'].values, bins)
    
    return bank_df.groupby(categories)['Personal Loan'].sum() / bank_df.groupby(categories)['Personal Loan'].count()

In [33]:
pct_by_age_group('bank.csv', [20,30,40,50,60])

(20, 30]    0.121212
(30, 40]    0.157895
(40, 50]    0.125000
(50, 60]    0.049180
Name: Personal Loan, dtype: float64

In [10]:
bins = [20,30,40,50,60]

bank_df = pd.read_csv('bank.csv')

In [24]:
categories = pd.cut(bank_df['Age'].values, bins)

In [31]:
bank_df.groupby(categories)['Personal Loan'].sum() / bank_df.groupby(categories)['Personal Loan'].count()

(20, 30]    0.121212
(30, 40]    0.157895
(40, 50]    0.125000
(50, 60]    0.049180
Name: Personal Loan, dtype: float64

In [25]:
pd.value_counts(categories)

(30, 40]    133
(50, 60]    122
(40, 50]    120
(20, 30]     66
dtype: int64

In [96]:
def loan_by_zip(filename, n, loan_approval_rate):
    
    bank_df = pd.read_csv(filename)

    zip_code_count = DataFrame(bank_df.groupby('ZIP Code')['Personal Loan'].count())
    zip_code_count.rename(index=str, columns = {'Personal Loan':'size'}, inplace = True)

    approved_loans = DataFrame(bank_df.groupby('ZIP Code')['Personal Loan'].sum())
    approved_loans.rename(index=str, columns = {'Personal Loan':'approved loans'}, inplace = True)

    merged_df = zip_code_count.merge(approved_loans, left_index = True, right_index = True)

    merged_df['mean'] = round(merged_df['approved loans'] / merged_df['size'], 1).values

    return merged_df[(merged_df['size'] >= n) & (merged_df['mean'] >= loan_approval_rate)][['mean', 'size']]

In [97]:
loan_by_zip('bank.csv', 2, .5)

          mean  size
ZIP Code
90210      0.5     2
90254      0.5     2
91355      0.5     2
94131      0.5     2
94501      0.5     2
94704      0.5     2
94928      0.5     4
95054      1.0     2
95070      0.5     2
95211      0.5     2
95818      1.0     2

In [28]:
zip_code_count = DataFrame(bank_df.groupby('ZIP Code')['Personal Loan'].count())
zip_code_count.rename(index=str, columns = {'Personal Loan':'size'}, inplace = True)

In [44]:
approved_loans = DataFrame(bank_df.groupby('ZIP Code')['Personal Loan'].sum())
approved_loans.rename(index=str, columns = {'Personal Loan':'approved loans'}, inplace = True)

In [48]:
merged_df = zip_code_count.merge(approved_loans, left_index = True, right_index = True)

In [91]:
merged_df['mean'] = round(merged_df['approved loans'] / merged_df['size'], 1).values

In [95]:
merged_df[(merged_df['size'] >= 2) & (merged_df['mean'] >= .5)][['mean', 'size']]

          mean  size
ZIP Code
90210      0.5     2
90254      0.5     2
91355      0.5     2
94131      0.5     2
94501      0.5     2
94704      0.5     2
94928      0.5     4
95054      1.0     2
95070      0.5     2
95211      0.5     2
95818      1.0     2

In [27]:
team_avg('baseball.csv', .250, .275)

team
Athletics    0.253
Blue Jays    0.251
Braves       0.266
Cubs         0.266
Dodgers      0.273
Indians      0.270
Nationals    0.272
Orioles      0.255
Padres       0.269
Phillies     0.250
Red Sox      0.270
Royals       0.270
White Sox    0.263
dtype: float64

In [58]:
round(merged_df['approved loans'] / merged_df['size'], 2).values

array([0.  , 0.  , 0.25, 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.14, 0.5 , 0.2 , 0.5 , 0.  , 0.  , 0.  , 0.33, 0.  ,
       1.  , 0.  , 0.  , 1.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.5 , 0.  , 0.  , 0.33, 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.25, 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.33, 0.  , 0.4 , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.33, 0.  , 0.  , 0.  , 0.  , 0.25,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 1.  ,
       0.33, 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.33, 0.  , 0.  , 0.25,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 1.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.2 , 1.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.25, 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 1.  , 0.  , 0.  , 0.  , 0.  , 1.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.5 , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.4 , 0.23, 0.  , 0.  , 0.5 , 0.  , 0.  , 0.  , 0.  , 0.  ,
       1.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.5 , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.25, 0.  , 0.  , 0.  , 0.  , 0.5 , 0.  , 0.  , 0.  , 0.25,
       0.  , 0.  , 0.  , 1.  , 0.  , 0.  , 0.33, 0.  , 1.  , 0.33, 0.  ,
       0.5 , 0.  , 1.  , 0.  , 0.5 , 1.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.12, 0.  , 1.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  ])

In [7]:
baseball_df['avg'] = round(baseball_df['hits'] / baseball_df['at bats'], 3)

In [18]:
team_batt_avgs = round(baseball_df.groupby('team')['hits'].sum() / baseball_df.groupby('team')['at bats'].sum(), 3)

In [24]:
team_batt_avgs[team_batt_avgs.between(start_avg, end_avg)]

team
Mariners    0.242
Phillies    0.250
Rays        0.241
Reds        0.249
dtype: float64

In [17]:
team_players = baseball_df.groupby('team')['name'].count()

In [24]:
np.array(team_players[team_players == 7].index)

array(['Cardinals', 'Rangers', 'Tigers', 'Twins', 'Yankees'], dtype=object)

In [ ]:
baseball_df = pd.read_csv(filename, header = None, names = cols)

In [1]:
import pandas as pd
from pandas import Series, DataFrame
import datetime as dt
import numpy as np

cols = ['name', 'team', 'at bats', 'hits']

def teams_w_n_players(filename, n):
    
    baseball_df = pd.read_csv(filename, header = None, names = cols)
    
    team_players = baseball_df.groupby('team')['name'].count()
    
    return np.array(team_players[team_players == n].index)

In [26]:
teams_w_n_players('baseball.csv', 7)

array(['Cardinals', 'Rangers', 'Tigers', 'Twins', 'Yankees'], dtype=object)

In [27]:
teams_w_n_players('baseball.csv', 6)

array(['Diamondbacks', 'Royals'], dtype=object)

In [26]:
import pandas as pd
from pandas import Series, DataFrame
import datetime as dt

def avg_price_gt(products, manufacturers, p):
    
    products_df = pd.read_csv(products)
    manufacturers_df = pd.read_csv(manufacturers)
    
    merged_df = products_df.merge(manufacturers_df, left_on = 'mfr_id', right_on = 'mfr_id')
    
    prices = merged_df.groupby(['mfr_name']).mean()['price']
    
    return prices[prices > p]

In [27]:
avg_price_gt('products.csv', 'manufacturers.csv', 150)

mfr_name
Fujitsu            240.0
Hewlett-Packard    168.0
Sony               240.0
Name: price, dtype: float64

In [28]:
avg_price_gt('products.csv', 'manufacturers.csv', 200)

mfr_name
Fujitsu    240.0
Sony       240.0
Name: price, dtype: float64

In [5]:
products_df = pd.read_csv('products.csv')
manufacturers_df = pd.read_csv('manufacturers.csv')

In [11]:
merged_df = products_df.merge(manufacturers_df, left_on = 'mfr_id', right_on = 'mfr_id')

In [21]:
prices = merged_df.groupby(['mfr_name']).mean()['price']

In [22]:
prices[prices > n]

mfr_name
Fujitsu            240.0
Hewlett-Packard    168.0
Sony               240.0
Name: price, dtype: float64

In [4]:
pd.read_csv('manufacturers.csv')

   mfr_id         mfr_name
0       1             Sony
1       2    Creative Labs
2       3  Hewlett-Packard
3       4           Iomega
4       5          Fujitsu
5       6       Winchester

In [34]:
def misspellings(filename, n):
    
    misspellings =pd.read_csv(filename)
    
    misspellings = misspellings['corrected word'].value_counts()
    
    return np.array(misspellings[misspellings == n].sort_index().index)

In [35]:
misspellings('misspellings_r.csv', 4)

array(['acquaintance', 'because', 'constitution', 'definitely',
       'essential', 'going', 'harassed', 'independently', 'maintenance',
       'necessarily', 'perhaps', 'privileges', 'successful', 'the',
       'unnecessary', 'very', 'with'], dtype=object)

In [36]:
misspellings('misspellings_r.csv', 5)

array(['have', 'immediately', 'know', 'occasionally', 'occurrence',
       'parallel', 'parallelly', 'privilege', 'really', 'rhythm', 'that',
       'think', 'which', 'years'], dtype=object)

In [37]:
misspellings('misspellings_r.csv', 6)

array(['successfully'], dtype=object)

In [3]:
misspellings = pd.read_csv('misspellings_r.csv')

In [12]:
misspellings = misspellings['corrected word'].value_counts()

In [33]:
np.array(misspellings[misspellings == 4].sort_index().index)

array(['acquaintance', 'because', 'constitution', 'definitely',
       'essential', 'going', 'harassed', 'independently', 'maintenance',
       'necessarily', 'perhaps', 'privileges', 'successful', 'the',
       'unnecessary', 'very', 'with'], dtype=object)