In [ ]:
In [1]: most_delayed_flights('flight_delays.csv')
Out[1]:
CARRIER FL_NUM
CO 814 0.600000
DH 7211 0.600000
7215 0.428571
7302 0.333333
7303 0.714286
7304 0.333333
7307 0.600000
7812 0.285714

In [51]:
import pandas as pd
from pandas import Series, DataFrame
import datetime as dt
import time

def most_delayed_flights(filename):
    
        flight_delays_df = pd.read_csv(filename)
        
        flight_delays_df['FL_DATE'] = pd.to_timedelta(flight_delays_df['FL_DATE'], unit = 'D') + dt.datetime(1899, 12, 30)
        flight_delays_df.set_index(['FL_DATE'], inplace = True)
        
        eligible_flights = flight_delays_df.groupby(['CARRIER', 'FL_NUM']).resample('W-Sun')['Flight Status'].count().reset_index()
        eligible_flights = eligible_flights[eligible_flights['Flight Status'] >= 3]
        
        flights = eligible_flights['FL_NUM']
        
        flight_delays_df = flight_delays_df[flight_delays_df['FL_NUM'].isin(flights)]
        
        carriers_cnt = pd.crosstab([flight_delays_df.CARRIER], flight_delays_df['Flight Status']).reset_index()
        
        carriers_cnt['sum of flights'] = carriers_cnt['ontime'] + carriers_cnt['delayed']
        carriers_cnt['average'] = carriers_cnt['delayed'] / carriers_cnt['sum of flights']
        carriers_cnt = carriers_cnt[['CARRIER', 'average']]
        
        flight_delays_cnt = pd.crosstab([flight_delays_df.CARRIER, flight_delays_df.FL_NUM] , flight_delays_df['Flight Status']).reset_index()

        flight_delays_cnt['sum of flights'] = flight_delays_cnt['ontime'] + flight_delays_cnt['delayed']
        flight_delays_cnt['mean'] = flight_delays_cnt['delayed'] / flight_delays_cnt['sum of flights']
        
        output_df = flight_delays_cnt.merge(carriers_cnt, left_on = 'CARRIER', right_on = 'CARRIER', how = 'inner')
        output_df = output_df[output_df['mean'] >= output_df['average']]

        return output_df.groupby(['CARRIER', 'FL_NUM'])['mean'].sum().rename(index = None)

In [52]:
most_delayed_flights('flight_delays.csv')

CARRIER  FL_NUM
CO       814       0.600000
DH       7211      0.600000
         7215      0.428571
         7302      0.333333
         7303      0.714286
         7304      0.333333
         7307      0.600000
         7812      0.285714
         7814      0.571429
DL       746       0.142857
         1766      0.333333
MQ       4752      0.285714
         4784      0.333333
         4968      0.600000
         4970      0.666667
         4976      0.600000
OH       5935      0.333333
RU       2156      0.571429
         2216      0.285714
         2261      0.400000
         2303      0.428571
         2336      0.500000
         2385      0.600000
         2403      0.333333
         2703      0.285714
UA       846       0.000000
US       1479      0.333333
         2176      0.142857
         2178      0.250000
         2186      0.250000
dtype: float64

In [1]:
import numpy as np

In [168]:
flight_delays_df = pd.read_csv('flight_delays.csv')

flight_delays_df['FL_DATE'] = pd.to_timedelta(flight_delays_df['FL_DATE'], unit = 'D') + dt.datetime(1899, 12, 30)

flight_delays_df.set_index(['FL_DATE'], inplace = True)

In [105]:
flight_delays_df.groupby(['FL_DATE', 'CARRIER', 'FL_NUM'])['Flight Status'].value_counts().head()

FL_DATE     CARRIER  FL_NUM  Flight Status
2004-01-01  CO       808     ontime           1
                     814     ontime           1
            DH       6155    ontime           1
                     7208    ontime           1
                     7215    ontime           1
Name: Flight Status, dtype: int64

In [2]:
flight_delays_df = pd.read_csv('flight_delays.csv')
        
flight_delays_df['FL_DATE'] = pd.to_timedelta(flight_delays_df['FL_DATE'], unit = 'D') + dt.datetime(1899, 12, 30)
flight_delays_df.set_index(['FL_DATE'], inplace = True)
        
eligible_flights = flight_delays_df.groupby(['CARRIER', 'FL_NUM']).resample('W-Sun')['Flight Status'].count().reset_index()
eligible_flights = eligible_flights[eligible_flights['Flight Status'] >= 3]
        
flights = eligible_flights['FL_NUM']
        
flight_delays_df = flight_delays_df[flight_delays_df['FL_NUM'].isin(flights)]

In [4]:
flight_delays_df.groupby('CARRIER')['Flight Status'].value_counts()

CARRIER  Flight Status
CO       ontime           12
         delayed           4
DH       ontime           88
         delayed          32
DL       ontime           68
         delayed           2
MQ       ontime           44
         delayed          12
OH       ontime            4
         delayed           2
RU       ontime           58
         delayed          23
UA       ontime            7
US       ontime           78
         delayed           4
Name: Flight Status, dtype: int64

In [18]:
carriers_cnt = pd.crosstab([flight_delays_df.CARRIER], flight_delays_df['Flight Status']).reset_index()

In [28]:
carriers_cnt['sum of flights'] = carriers_cnt['ontime'] + carriers_cnt['delayed']

carriers_cnt['average'] = carriers_cnt['delayed'] / carriers_cnt['sum of flights']

carriers_cnt = carriers_cnt[['CARRIER', 'average']]

In [8]:
flight_delays_cnt

Flight Status CARRIER  delayed  ontime  sum of flights      mean
0                  CO        4      12              16  0.250000
1                  DH       32      88             120  0.266667
2                  DL        2      68              70  0.028571
3                  MQ       12      44              56  0.214286
4                  OH        2       4               6  0.333333
5                  RU       23      58              81  0.283951
6                  UA        0       7               7  0.000000
7                  US        4      78              82  0.048780

In [20]:
flight_delays_cnt = pd.crosstab([flight_delays_df.CARRIER, flight_delays_df.FL_NUM] , flight_delays_df['Flight Status']).reset_index()

flight_delays_cnt['sum of flights'] = flight_delays_cnt['ontime'] + flight_delays_cnt['delayed']

flight_delays_cnt['mean'] = flight_delays_cnt['delayed'] / flight_delays_cnt['sum of flights']

In [29]:
carriers_cnt.head()

Flight Status CARRIER   average
0                  CO  0.250000
1                  DH  0.266667
2                  DL  0.028571
3                  MQ  0.214286
4                  OH  0.333333

In [22]:
flight_delays_cnt.head()

Flight Status CARRIER  FL_NUM  delayed  ontime  sum of flights      mean
0                  CO     806        0       4               4  0.000000
1                  CO     808        1       6               7  0.142857
2                  CO     814        3       2               5  0.600000
3                  DH    6155        1       4               5  0.200000
4                  DH    7208        1       6               7  0.142857

In [31]:
output_df = flight_delays_cnt.merge(carriers_cnt, left_on = 'CARRIER', right_on = 'CARRIER', how = 'inner')

In [36]:
output_df = output_df[output_df['mean'] > output_df['average']]

In [48]:
output_df.groupby(['CARRIER', 'FL_NUM'])['mean'].sum().rename(index = None)

CARRIER  FL_NUM
CO       814       0.600000
DH       7211      0.600000
         7215      0.428571
         7302      0.333333
         7303      0.714286
         7304      0.333333
         7307      0.600000
         7812      0.285714
         7814      0.571429
DL       746       0.142857
         1766      0.333333
MQ       4752      0.285714
         4784      0.333333
         4968      0.600000
         4970      0.666667
         4976      0.600000
RU       2156      0.571429
         2216      0.285714
         2261      0.400000
         2303      0.428571
         2336      0.500000
         2385      0.600000
         2403      0.333333
         2703      0.285714
US       1479      0.333333
         2176      0.142857
         2178      0.250000
         2186      0.250000
dtype: float64