In [3]:
import pandas as pd
from pandas import Series, DataFrame
import datetime as dt
import time

In [149]:
def most_delayed_flights(filename):
    
    flight_delays_df = pd.read_csv(filename)
    
    flight_delays_df['FL_DATE'] = pd.to_timedelta(flight_delays_df['FL_DATE'], unit = 'D') + dt.datetime(1899, 12, 30)
    flight_delays_df.set_index(['FL_DATE'], inplace = True)
    
    carrier_delays = flight_delays_df.groupby(['CARRIER', 'Flight Status']).size().unstack().fillna(0)
    carrier_delays['avg'] = carrier_delays['delayed'] / (carrier_delays['delayed'] + carrier_delays['ontime'])
    carrier_delays.reset_index(inplace = True)
    
    flights_df = flight_delays_df.groupby([pd.Grouper(freq = '7D'),'CARRIER', 'FL_NUM', 'Flight Status']).size().unstack().fillna(0)
    flights_df['total flights'] = flights_df['delayed'] + flights_df['ontime']
    
    flights_df = flights_df.where(flights_df['total flights'] >= 3).dropna().reset_index()
    
    flights_df['mean'] = flights_df['delayed'] / flights_df['total flights']
    merged_df = flights_df.merge(carrier_delays, left_on = 'CARRIER', right_on = 'CARRIER', how = 'inner')

    final_df = merged_df[merged_df['mean'] > merged_df['avg']]
    return final_df.groupby(['CARRIER', 'FL_NUM'])['mean'].sum().rename(index = None)

In [150]:
most_delayed_flights('flight_delays.csv')

CARRIER  FL_NUM
CO       814       0.600000
DH       7211      0.600000
         7215      0.428571
         7302      0.333333
         7303      0.714286
         7304      0.333333
         7307      0.600000
         7812      0.285714
         7814      0.571429
DL       746       0.142857
         1766      0.333333
MQ       4752      0.285714
         4784      0.333333
         4968      0.600000
         4970      0.666667
         4976      0.600000
RU       2156      0.571429
         2261      0.400000
         2303      0.428571
         2336      0.500000
         2385      0.600000
         2403      0.333333
US       1479      0.333333
         2176      0.142857
         2178      0.250000
         2186      0.250000
dtype: float64

In [8]:
flight_delays_df = pd.read_csv('flight_delays.csv')
        
flight_delays_df['FL_DATE'] = pd.to_timedelta(flight_delays_df['FL_DATE'], unit = 'D') + dt.datetime(1899, 12, 30)
flight_delays_df.set_index(['FL_DATE'], inplace = True)

In [112]:
flight_delays_df.head(1)

,CRS_DEP_TIME,CARRIER,DEP_TIME,DEST,DISTANCE,FL_NUM,ORIGIN,Weather,DAY_WEEK,DAY_OF_MONTH,TAIL_NUM,Flight Status
FL_DATE,,,,,,,,,,,,
2004-01-01,1455,OH,1455,JFK,184,5935,BWI,0,4,1,N940CA,ontime

In [23]:
test_1_df = flight_delays_df.groupby(['CARRIER', 'FL_NUM']).resample('W-Sun').count()

In [55]:
#pd.Grouper(key='Date', freq='W-MON')
carrier_delays = flight_delays_df.groupby(['CARRIER', 'Flight Status']).size().unstack().fillna(0)

In [63]:
flight_delays_df.groupby(['CARRIER', 'Flight Status']).size().unstack().fillna(0)

Flight Status  delayed  ontime
CARRIER
CO                 7.0    12.0
DH                32.0    93.0
DL                 2.0    72.0
MQ                12.0    52.0
OH                 2.0     4.0
RU                28.0    67.0
UA                 0.0     7.0
US                 4.0    78.0

In [65]:
carrier_delays['avg'] = carrier_delays['delayed'] / (carrier_delays['delayed'] + carrier_delays['ontime'])

In [83]:
carrier_delays.reset_index(inplace = True)

In [106]:
testdf1 = flight_delays_df.groupby([pd.Grouper(freq = 'W-Sun'), 'CARRIER', 'FL_NUM', 'Flight Status']).size().unstack().fillna(0).reset_index()

In [107]:
testdf1[testdf1['FL_NUM'] == 814]

Flight Status    FL_DATE CARRIER  FL_NUM  delayed  ontime
3             2004-01-04      CO     814      0.0     2.0
84            2004-01-11      CO     814      3.0     0.0

In [134]:
#flight_delays_df.resample('7D').count()

,CRS_DEP_TIME,CARRIER,DEP_TIME,DEST,DISTANCE,FL_NUM,ORIGIN,Weather,DAY_WEEK,DAY_OF_MONTH,TAIL_NUM,Flight Status
FL_DATE,,,,,,,,,,,,
2004-01-01,472,472,472,472,472,472,472,472,472,472,472,472

In [93]:
pd.crosstab([flight_delays_df.CARRIER, flight_delays_df.FL_NUM] , flight_delays_df['Flight Status']).reset_index()

Flight Status CARRIER  FL_NUM  delayed  ontime
0                  CO     806        0       4
1                  CO     808        1       6
2                  CO     810        1       0
3                  CO     814        3       2
4                  CO     816        2       0
5                  DH    6155        1       4
6                  DH    7208        1       6
7                  DH    7211        3       2
8                  DH    7215        3       4
9                  DH    7299        1       6
10                 DH    7302        2       4
11                 DH    7303        5       2
12                 DH    7304        2       4
13                 DH    7305        0       1
14                 DH    7307        3       2
15                 DH    7371        0       4
16                 DH    7790        1       5
17                 DH    7792        1       6
18                 DH    7800        1       6
19                 DH    7806        1       6
20                 DH    7808        0       5
21                 DH    7810        0       7
22                 DH    7812        2       5
23                 DH    7814        4       3
24                 DH    7816        1       5
25                 DH    7924        0       6
26                 DL     746        1       6
27                 DL    1740        0       3
28                 DL    1742        0       2
29                 DL    1744        0       5
..                ...     ...      ...     ...
67                 RU    2403        2       4
68                 RU    2497        0       5
69                 RU    2582        1       5
70                 RU    2603        1       0
71                 RU    2664        0       1
72                 RU    2675        0       3
73                 RU    2692        1       1
74                 RU    2703        2       5
75                 RU    2761        0       5
76                 RU    2855        1       4
77                 RU    2879        1       3
78                 RU    3276        0       3
79                 RU    3372        2       0
80                 UA     846        0       7
81                 US    1479        1       2
82                 US    2160        0       5
83                 US    2162        0       3
84                 US    2164        0       7
85                 US    2166        0       4
86                 US    2168        0       7
87                 US    2170        0       4
88                 US    2172        0       7
89                 US    2174        0       4
90                 US    2176        1       6
91                 US    2178        1       3
92                 US    2180        0       7
93                 US    2182        0       4
94                 US    2184        0       6
95                 US    2186        1       3
96                 US    2188        0       6

[97 rows x 4 columns]

In [135]:
flights_df = flight_delays_df.groupby([pd.Grouper(freq = '7D'),'CARRIER', 'FL_NUM', 'Flight Status']).size().unstack().fillna(0)

In [136]:
flights_df['total flights'] = flights_df['delayed'] + flights_df['ontime']

In [137]:
flights_df = flights_df.where(flights_df['total flights'] >= 3).dropna().reset_index()

CARRIER  FL_NUM
CO       814       0.600000
DH       7211      0.600000
         7215      0.428571
         7302      0.333333
         7303      0.714286
         7304      0.333333
         7307      0.600000
         7812      0.285714
         7814      0.571429
DL       746       0.142857
         1766      0.333333
MQ       4752      0.285714
         4784      0.333333
         4968      0.600000
         4970      0.666667
         4976      0.600000
RU       2156      0.571429
         2261      0.400000
         2303      0.428571
         2336      0.500000
         2385      0.600000
         2403      0.333333
US       1479      0.333333
         2176      0.142857
         2178      0.250000
         2186      0.250000
dtype: float64