In [1]:
from pandas import Series, DataFrame

import pandas as pd

In [2]:
final_results('teams.csv','winloss.csv')
Out[1]:
(0
Rams 4
Cubs 3
Jazz 3
Owls 2
Jets 2
Zips 1
dtype: int64,
0
Jazz Jets Owls Rams Cubs Zips
Jazz X W W L L W
Jets L X W W L L
Owls L L X L W W
Rams W L W X W W
Cubs W W L L X W
Zips L W L L L X)

SyntaxError: invalid syntax (<ipython-input-2-628d0eba89f3>, line 2)

In [3]:
teams = list(pd.read_csv("teams.csv", header = None, squeeze = True))

In [13]:
pd.read_csv("teams.csv", header = None, squeeze = True)

0    Jazz
1    Jets
2    Owls
3    Rams
4    Cubs
5    Zips
Name: 0, dtype: object

In [4]:
firstdf = pd.read_csv('winloss.csv',
            names = teams,
                      index_col = False
           )

In [5]:
seconddf = firstdf.set_index([teams])

In [11]:
seconddf.apply(pd.value_counts).T['W'].sort_values(ascending = False)

Zips    4
Owls    3
Jets    3
Cubs    2
Jazz    2
Rams    1
Name: W, dtype: int64

In [42]:
firstdf.insert(0, 0,teams)

In [44]:
firstdf.set_index(0, inplace = True)

In [181]:
scores = firstdf.apply(Series.value_counts).T["W"].sort_values(ascending = False)

In [182]:
scores

Zips    4
Owls    3
Jets    3
Cubs    2
Jazz    2
Rams    1
Name: W, dtype: int64

In [74]:
scores2 = firstdf.apply(Series.value_counts).T

In [97]:
firstdf.apply(Series.value_counts).T

      L  W  X
Jazz  3  2  1
Jets  2  3  1
Owls  2  3  1
Rams  4  1  1
Cubs  3  2  1
Zips  1  4  1

In [82]:
firstdf

     Jazz Jets Owls Rams Cubs Zips
0
Jazz    X    W    W    L    L    W
Jets    L    X    W    W    L    L
Owls    L    L    X    L    W    W
Rams    W    L    W    X    W    W
Cubs    W    W    L    L    X    W
Zips    L    W    L    L    L    X

In [86]:
scores.name = 0

In [87]:
scores

Zips    4
Owls    3
Jets    3
Cubs    2
Jazz    2
Rams    1
Name: 0, dtype: int64

      0
0  Jazz
1  Jets
2  Owls
3  Rams
4  Cubs
5  Zips

In [116]:
test2 = pd.read_csv("teams.csv", header = None)

In [131]:
test3 = pd.read_csv('winloss.csv',
            header = None,
                    names = teams,
                      index_col = False
           )

In [136]:
test4 = pd.merge(test2, test3, left_index = True, right_index = True).set_index(0)

In [178]:
test5 = test4.apply(Series.value_counts)[1:2].reset_index().T[1:7].sort_values(by = [0], ascending = False)

In [199]:
test4.apply(Series.value_counts).iloc[1, :].sort_values(ascending = False)

Zips    4
Owls    3
Jets    3
Cubs    2
Jazz    2
Rams    1
Name: W, dtype: int64

In [224]:
test6 = test4.apply(Series.value_counts)[1:2].T.sort_values(by = "W", ascending = False)[0:6]

In [234]:
test6

      W
Zips  4
Jets  3
Owls  3
Jazz  2
Cubs  2
Rams  1

In [31]:
teams = pd.read_csv("teams.csv", header = None, squeeze = True)

In [59]:
firstdf

  Jazz Jets Owls Rams Cubs Zips
0    X    W    W    L    L    W
1    L    X    W    W    L    L
2    L    L    X    L    W    W
3    W    L    W    X    W    W
4    W    W    L    L    X    W
5    L    W    L    L    L    X

In [245]:
from pandas import Series, DataFrame

import pandas as pd

def final_results(teams, win_loss):
      
    def create_dfs(teams, win_loss):
    
        teams_df = pd.read_csv(teams, header = None)
        scores_df = pd.read_csv(win_loss,
                header = None,
                        names = list(pd.read_csv(teams, header = None, squeeze = True)),
                          index_col = False
               )

        return teams_df, scores_df
    
    
    def create_merged_df(teams_df, scores_df):
        merged_df = pd.merge(teams_df, scores_df, left_index = True, right_index = True).set_index(0)
        
        return merged_df
    
    def calc_scores(merged_df):
        final_scores = merged_df.apply(Series.value_counts).iloc[1, :].sort_values(ascending = False)
    
    create_dfs(teams, win_loss)
    create_merged_df(teams_df, scores_df)
    calc_scores(merged_df)
    
    return (merged_df, final_scores)

In [246]:
final_results("teams.csv", 'winloss.csv')

NameError: name 'teams_df' is not defined

In [256]:
def create_dfs(teams, win_loss):
    
    teams_df = pd.read_csv(teams, header = None)
    scores_df = pd.read_csv(win_loss,
                header = None,
                        names = list(pd.read_csv(teams, header = None, squeeze = True)),
                          index_col = False
               )
    
    return teams_df, scores_df

    def create_merged_df(teams_df, scores_df):
        merged_df = pd.merge(teams_df, scores_df, left_index = True, right_index = True).set_index(0)
        
    return merged_df

In [257]:
create_dfs("teams.csv", 'winloss.csv')

(      0
 0  Jazz
 1  Jets
 2  Owls
 3  Rams
 4  Cubs
 5  Zips,   Jazz Jets Owls Rams Cubs Zips
 0    X    W    W    L    L    W
 1    L    X    W    W    L    L
 2    L    L    X    L    W    W
 3    W    L    W    X    W    W
 4    W    W    L    L    X    W
 5    L    W    L    L    L    X)

In [1]:
from pandas import Series, DataFrame

import pandas as pd

def final_results(teams, win_loss):

    teams_df = pd.read_csv(teams, header = None)
    scores_df = pd.read_csv(win_loss,
                header = None,
                        names = list(pd.read_csv(teams, header = None, squeeze = True)),
                          index_col = False
               )
        
    merged_df = pd.merge(teams_df, scores_df, left_index = True, right_index = True).set_index(0)
    
    final_scores = merged_df.apply(Series.value_counts).iloc[1, :].sort_values(ascending = False)
    
    return (final_scores, merged_df)

In [2]:
final_results("teams.csv", 'winloss.csv')

(Zips    4
 Owls    3
 Jets    3
 Cubs    2
 Jazz    2
 Rams    1
 Name: W, dtype: int64,      Jazz Jets Owls Rams Cubs Zips
 0
 Jazz    X    W    W    L    L    W
 Jets    L    X    W    W    L    L
 Owls    L    L    X    L    W    W
 Rams    W    L    W    X    W    W
 Cubs    W    W    L    L    X    W
 Zips    L    W    L    L    L    X)