In [4]:
import pandas as pd

from pandas import Series, DataFrame

import numpy as np

In [ ]:
years_w_no_appointments('justices.csv')
Out[1]:
3 1792
5 1794
6 1795
8 1797
11 1800

In [10]:
import pandas as pd

from pandas import Series, DataFrame

import numpy as np

def years_w_no_appointments(filename):
    
    justices = pd.read_csv(filename, header = None)
    
    all_years = Series(np.arange(min(justices[4]), max(justices[4] + 1)))
    
    return all_years[~all_years.isin(justices[4])]

In [11]:
years_w_no_appointments('justices.csv')

3      1792
5      1794
6      1795
8      1797
11     1800
13     1802
14     1803
16     1805
19     1808
20     1809
21     1810
23     1812
24     1813
25     1814
26     1815
27     1816
28     1817
29     1818
30     1819
31     1820
32     1821
33     1822
35     1824
36     1825
38     1827
39     1828
42     1831
43     1832
44     1833
45     1834
       ...
175    1964
177    1966
179    1968
182    1971
184    1973
185    1974
187    1976
188    1977
189    1978
190    1979
191    1980
193    1982
194    1983
195    1984
196    1985
199    1988
200    1989
203    1992
206    1995
207    1996
208    1997
209    1998
210    1999
211    2000
212    2001
213    2002
214    2003
215    2004
218    2007
219    2008
Length: 132, dtype: int32

In [ ]:
years_w_no_appointments(filename)

In [5]:
justices = pd.read_csv("justices.csv", header = None, squeeze = True)

In [8]:
all_years = Series(np.arange(min(justices[4]), max(justices[4] + 1)))

In [9]:
all_years[~all_years.isin(justices[4])]

3      1792
5      1794
6      1795
8      1797
11     1800
13     1802
14     1803
16     1805
19     1808
20     1809
21     1810
23     1812
24     1813
25     1814
26     1815
27     1816
28     1817
29     1818
30     1819
31     1820
32     1821
33     1822
35     1824
36     1825
38     1827
39     1828
42     1831
43     1832
44     1833
45     1834
       ...
175    1964
177    1966
179    1968
182    1971
184    1973
185    1974
187    1976
188    1977
189    1978
190    1979
191    1980
193    1982
194    1983
195    1984
196    1985
199    1988
200    1989
203    1992
206    1995
207    1996
208    1997
209    1998
210    1999
211    2000
212    2001
213    2002
214    2003
215    2004
218    2007
219    2008
Length: 132, dtype: int32

In [18]:
justices[5].sort_values()

0         0
52        0
53        0
37        0
83        0
85        0
11        0
96        0
78        0
50     1793
49     1795
80     1795
5      1796
109    1798
46     1799
32     1800
68     1804
72     1806
26     1810
21     1811
56     1823
98     1826
99     1828
104    1829
51     1834
58     1835
31     1836
2      1841
97     1843
1      1844
       ...
16     1942
79     1945
89     1946
81     1949
69     1949
101    1953
48     1954
66     1956
76     1957
14     1958
35     1962
108    1962
38     1965
22     1967
34     1969
103    1969
42     1971
3      1971
30     1975
88     1981
75     1987
13     1987
9      1990
59     1992
106    1993
4      1994
77     2005
71     2005
86     2009
87     2010
Name: 5, Length: 112, dtype: int64