In [2]:
import pandas as pd

from pandas import Series, DataFrame

def states_w_n_vowels(filename, n):
    
    states = pd.read_csv(filename, header = None)
    
    states['vowel_count'] = states[0].str.lower().map(set).map(str).str.count(r'[aeoiu]')
    
    return states[states['vowel_count'] == n][0].values

In [96]:
states_w_n_vowels('usstates.csv', 3)

array(['Pennsylvania', 'Massachusetts', 'New Hampshire', 'North Carolina',
       'Maine', 'Missouri', 'Florida', 'Iowa', 'California',
       'West Virginia', 'South Dakota', 'Washington', 'Idaho',
       'New Mexico', 'Arizona'], dtype=object)

In [19]:
In [1]: states_w_n_vowels('usstates.csv', 3)
Out[1]:
array(['Pennsylvania', 'Massachusetts', 'New Hampshire', ..., 'Idaho',
'New Mexico', 'Arizona'], dtype=object)

array(['South Carolina', 'North Carolina'], dtype=object)

In [77]:
states = pd.read_csv('usstates.csv', header = None)

In [82]:
states['vowel_count'] = states[0].str.lower().map(set).map(str).str.count(r'[aeoiu]')

In [94]:
states[states['vowel_count'] == 3][0].values

array(['Pennsylvania', 'Massachusetts', 'New Hampshire', 'North Carolina',
       'Maine', 'Missouri', 'Florida', 'Iowa', 'California',
       'West Virginia', 'South Dakota', 'Washington', 'Idaho',
       'New Mexico', 'Arizona'], dtype=object)

In [30]:
states[0].str.lower().map(set).map(str).str.count(r'[aeoiu]')

0     2
1     3
2     1
3     4
4     4
5     3
6     1
7     4
8     3
9     2
10    2
11    3
12    4
13    2
14    2
15    1
16    2
17    4
18    2
19    1
20    2
21    1
22    3
23    3
24    1
25    2
26    3
27    2
28    3
29    2
30    3
31    4
32    2
33    1
34    3
35    2
36    2
37    2
38    2
39    3
40    2
41    3
42    3
43    2
44    2
45    2
46    3
47    3
48    1
49    2
Name: 0, dtype: int64

In [32]:
states = pd.read_csv("usstates.csv", header = None)
state_series = states[0]

state_series[state_series.map(set).map(str).str.count(r'[aeiou]') == 3]
#states_series

1       Pennsylvania
5      Massachusetts
8      New Hampshire
11    North Carolina
12      Rhode Island
22             Maine
23          Missouri
26           Florida
30        California
34     West Virginia
39      South Dakota
41        Washington
46        New Mexico
47           Arizona
Name: 0, dtype: object

In [37]:
states_series.map(list)

0                       [D, e, l, a, w, a, r, e]
1           [P, e, n, n, s, y, l, v, a, n, i, a]
2                 [N, e, w,  , J, e, r, s, e, y]
3                          [G, e, o, r, g, i, a]
4              [C, o, n, n, e, c, t, i, c, u, t]
5        [M, a, s, s, a, c, h, u, s, e, t, t, s]
6                       [M, a, r, y, l, a, n, d]
7     [S, o, u, t, h,  , C, a, r, o, l, i, n, a]
8        [N, e, w,  , H, a, m, p, s, h, i, r, e]
9                       [V, i, r, g, i, n, i, a]
10                      [N, e, w,  , Y, o, r, k]
11    [N, o, r, t, h,  , C, a, r, o, l, i, n, a]
12          [R, h, o, d, e,  , I, s, l, a, n, d]
13                         [V, e, r, m, o, n, t]
14                      [K, e, n, t, u, c, k, y]
15                   [T, e, n, n, e, s, s, e, e]
16                                  [O, h, i, o]
17                   [L, o, u, i, s, i, a, n, a]
18                         [I, n, d, i, a, n, a]
19             [M, i, s, s, i, s, s, i, p, p, i]
20                      [I, l, l, i, n, o, i, s]
21                         [A, l, a, b, a, m, a]
22                               [M, a, i, n, e]
23                      [M, i, s, s, o, u, r, i]
24                      [A, r, k, a, n, s, a, s]
25                      [M, i, c, h, i, g, a, n]
26                         [F, l, o, r, i, d, a]
27                               [T, e, x, a, s]
28                                  [I, o, w, a]
29                   [W, i, s, c, o, n, s, i, n]
30                [C, a, l, i, f, o, r, n, i, a]
31                   [M, i, n, n, e, s, o, t, a]
32                            [O, r, e, g, o, n]
33                            [K, a, n, s, a, s]
34       [W, e, s, t,  , V, i, r, g, i, n, i, a]
35                            [N, e, v, a, d, a]
36                      [N, e, b, r, a, s, k, a]
37                      [C, o, l, o, r, a, d, o]
38          [N, o, r, t, h,  , D, a, k, o, t, a]
39          [S, o, u, t, h,  , D, a, k, o, t, a]
40                         [M, o, n, t, a, n, a]
41                [W, a, s, h, i, n, g, t, o, n]
42                               [I, d, a, h, o]
43                         [W, y, o, m, i, n, g]
44                                  [U, t, a, h]
45                      [O, k, l, a, h, o, m, a]
46                [N, e, w,  , M, e, x, i, c, o]
47                         [A, r, i, z, o, n, a]
48                            [A, l, a, s, k, a]
49                            [H, a, w, a, i, i]
Name: 0, dtype: object

In [37]:
vowels

{'a', 'e', 'i'}

In [68]:
states['vowel_count'] = states[0].map(set).map(str).str.count(r'[aeoiu]')

In [76]:
states[states['vowel_count'] == 3]

                 0   1       2         3  vowel_count
1     pennsylvania  PA   44817  12296000            3
5    massachusetts  MA    7840   5950000            3
8    new hampshire  NH    8968   1165000            3
11  north carolina  NC   48711   7617000            3
22           maine  ME   60862   1240000            3
23        missouri  MO   69704   5458562            3
26         florida  FL   53927  15313000            3
28            iowa  IA   55869   2930000            3
30      california  CA  155959  34888000            3
34   west virginia  WV   24078   1840000            3
39    south dakota  SD   77121    770000            3
41      washington  WA   71303   6070000            3
42           idaho  ID   83574   1290000            3
46      new mexico  NM  121598   1823000            3
47         arizona  AZ  113635   4437000            3