In [1]:
import pandas as pd

from pandas import Series, DataFrame

In [ ]:
In [1]: highest_avg('baseball.csv')
Out[1]:
name team at bats hits avg
32 Buster Posey Giants 530 178 0.336

In [14]:
columns = ['name', 'team', 'at bats', 'hits']
highest_avg_df = pd.read_csv("baseball.csv", names = columns)

In [15]:
highest_avg_df['avg'] = round(highest_avg_df['hits'] / highest_avg_df['at bats'], 3)

In [16]:
highest_avg_df[highest_avg_df['avg'] == max(highest_avg_df['avg'])]

                       name     team  at bats  hits    avg
32             Buster Posey   Giants      530   178  0.336
144  Eduardo Chavez Herrera  Dodgers      530   178  0.336

In [17]:
import pandas as pd

from pandas import Series, DataFrame

def highest_avg(filename):
    
    columns = ['name', 'team', 'at bats', 'hits']
    
    highest_avg_df = pd.read_csv(filename, names = columns)
    
    highest_avg_df['avg'] = round(highest_avg_df['hits'] / highest_avg_df['at bats'], 3)
    
    return highest_avg_df[highest_avg_df['avg'] == max(highest_avg_df['avg'])]

In [18]:
highest_avg("baseball.csv")

                       name     team  at bats  hits    avg
32             Buster Posey   Giants      530   178  0.336
144  Eduardo Chavez Herrera  Dodgers      530   178  0.336