In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

# Part II

# A. Short Answers

#### 1. MapReduce

In [ ]:
128.1.1.2 shopping_basket.html
128.1.1.3 checkout.html
128.1.1.2 search.html
128.1.1.2 product.html
128.1.1.3 shopping_basket.html
128.1.1.4 homepage.html
128.1.1.5 product.html
128.1.1.8 search.html

## _map_ function

* __input__: "128.1.1.2 shopping_basket.html", "128.1.1.3 checkout.html", "128.1.1.2 search.html", "128.1.1.2 product.html", "128.1.1.3 shopping_basket.html", etc.

* __output__:

In [ ]:
("shopping_basket.html",1), ("checkout.html",1), ("search.html",1), ("product.html",1), ("shopping_basket.html",1), ("homepage.html",1), ("product.html",1), ("search.html",1)

* __logic__: Split each row (as a STRING) of the web log into two parts, the server IP address & the web page visited.  Then for each web page in the list, output the (web page, 1) pair.

## _reduce_ function

* __input__: ("shopping_basket.html", (1,1)), ("checkout.html",(1)), ("search.html",(1,1)), ("product.html",(1,1)), ("homepage.html",(1))

* __output__:

In [ ]:
shopping_basket.html 2
checkout.html 1
search.html 2
product.html 2
homepage.html 1

* __logic__: Takes list of values for every web page, and sum them to get the number of times each page was requested in the web log.

#### 2. List three main advantages of data lakes based on big data technologies and explain why.  What are the main disadvantages (at least two) and why?

Based on the learnings from the course so far, there are many advantages to having data lakes for doing analysis and obtaining information.  My arguments for:

1.  A traditional data mart or data ware house is like a store of bottled water.  A "data lake" is a large body of water in a more natual state.  The contents to that data lake stream in from MULTIPLE sources to fill that lake, and let various users, analysts, and data scientists examine its contents, "dive in" and do exploratory analysis, or "take samples" and do an analysis on a subset of data.  You can serve a huge population of users across different countries, time zones, offices, etc.  A data warehouse/RDBMS is pretty limited in what it can take in for input, the scope of what it can produce, and distributing that information for a large population.
<br/>

2.  You have more analytic capablities and can work with more data types than you normally could with just a SQL database/ware house.  The MapReduce framework of (key, value) pairs accommodates different kinds of structured/unstructured data.  For example, if you work for a retailer than tracks tradition transactional data like daily sales while at the same time capturing web traffic information, having a tool like Hadoop is extremely helpful because you can store the mixture of structured and unstructured data side by side.  As a compnay, having this flexibility is extremely important as more data (five exabytes every two days) is being generated across the world.
<br/>

3.  Traditional storing of big data is really expensive, and normally we have to Extract, Transform, and Load data in order to summarize and archive results in a data warehouse.  However, you lose the _detail_ in that data when you aggregate it, and there are a lot of \*nuggets* to derive from that information.  Data lakes allow us to store that data cheaply and more effectively.  Using Hadoop provides analysts and data scientists reliable distributed storage and a framework for parallel processing at a low cost.  We can actually process this data as we're consuming it, when previously we could not.  Another point that I have learned in the course thus far is it's not the best algorithm that wins, it's whoever has the most data.  A data lake helps companies aggregate that information more effectively.
<br/>

However, this does not mean this technology does not have disadvantages.  Here are some examples:

1.  With the sheer volume of data that could be placed in the data lake, if it is not indexed or sorted correctly, it will be almost impossible to find anything.  Data governance is extremely important in that sense; if there isn't a stable process to confirm how the data is getting placed into the centralized location, it will quickly become a mess or what is known as a "data swamp".
<br/>

2.  The latency of the technology is extremely slow.  It is not meant businesses or companies that deal with strictly transactional data because querying that type of information with a data lake would be very cumbersome.
<br/>

3.  Analysts and users of the tool need to be made aware of the proper way to access information.  I learned in this midterm that writing a query that would normally take no time in SQL takes a huge amount of time in Hive because it is structured differently.  A lack of general awareness of how the infrastructure, technology, and languages work together makes it a significant challenge to teach others how to use it properly.

# B. Hands on

# Step 1: Get the data into the system and explore it.

In [ ]:
# 3.

[cloudera@quickstart ~]$ mkdir midterm

[cloudera@quickstart ~]$ ls -l
total 556
drwxrwxr-x  2 cloudera cloudera   4096 Jul 20 11:39 midterm

In [ ]:
# 4.

[cloudera@quickstart ~]$ cd midterm
[cloudera@quickstart midterm]$ pwd
/home/cloudera/midterm
[cloudera@quickstart midterm]$ wget http://idsdl.csom.umn.edu/c/share/counties.csv--2019-07-20 11:41:31--  http://idsdl.csom.umn.edu/c/share/counties.csv
Resolving idsdl.csom.umn.edu... 134.84.138.46, 2607:ea00:101:480a:250:56ff:febb:e76b
Connecting to idsdl.csom.umn.edu|134.84.138.46|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 235544 (230K) [text/csv]
Saving to: “counties.csv”

100%[=====================================================================================================================================================================================================================================>] 235,544     --.-K/s   in 0.01s

2019-07-20 11:41:31 (17.8 MB/s) - “counties.csv” saved [235544/235544]

[cloudera@quickstart midterm]$ wget http://idsdl.csom.umn.edu/c/share/election16.csv
--2019-07-20 11:41:43--  http://idsdl.csom.umn.edu/c/share/election16.csv
Resolving idsdl.csom.umn.edu... 134.84.138.46, 2607:ea00:101:480a:250:56ff:febb:e76b
Connecting to idsdl.csom.umn.edu|134.84.138.46|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 790867 (772K) [text/csv]
Saving to: “election16.csv”

100%[=====================================================================================================================================================================================================================================>] 790,867     --.-K/s   in 0.09s

2019-07-20 11:41:43 (8.81 MB/s) - “election16.csv” saved [790867/790867]

[cloudera@quickstart midterm]$ ls -l
total 1008
-rw-rw-r-- 1 cloudera cloudera 235544 Nov  7  2017 counties.csv
-rw-rw-r-- 1 cloudera cloudera 790867 Jul 19 21:34 election16.csv

In [ ]:
# 5.

[cloudera@quickstart midterm]$ hadoop fs -mkdir /user/cloudera/counties

[cloudera@quickstart midterm]$ hadoop fs -ls /user/cloudera
Found 10 items
drwxr-xr-x   - cloudera cloudera          0 2019-07-20 11:45 /user/cloudera/counties

In [ ]:
# 6.

[cloudera@quickstart midterm]$ hadoop fs -put /home/cloudera/midterm/counties.csv /user/cloudera/counties

In [ ]:
# 7.

[cloudera@quickstart midterm]$ hadoop fs -ls /user/cloudera/counties
Found 1 items
-rw-r--r--   1 cloudera cloudera     235544 2019-07-20 11:49 /user/cloudera/counties/counties.csv

In [ ]:
# 8.

## HDFS counties.csv file has 3195 lines.

[cloudera@quickstart midterm]$ hadoop fs -cat /user/cloudera/counties/* | wc -l
3195


## Local host counties.csv file has 3195 lines

[cloudera@quickstart midterm]$ wc -l counties.csv
3195 counties.csv

In [ ]:
# 9.

[cloudera@quickstart midterm]$ hadoop fs -cat /user/cloudera/counties/* | head -200 > /home/cloudera/midterm/counties_sample.csv
cat: Unable to write to output stream.

In [ ]:
# 10.

## counties_sample.csv file is 14820 bytes.

[cloudera@quickstart midterm]$ ls -l *sample*
-rw-rw-r-- 1 cloudera cloudera 14820 Jul 20 12:03 counties_sample.csv

In [ ]:
# 11.

## Looks like a normal CSV, comma separated values

[cloudera@quickstart midterm]$ head -10 *sample*
0,United States,,318857056,308745538,23.1,14.5,50.8,77.4,13.2,1.2,53046,28.8
1000,Alabama,,4849377,4779736,22.8,15.3,51.5,69.7,26.7,0.7,43253,22.6
1001,Autauga County,AL,55395,54571,25.2,13.8,51.4,77.9,18.7,0.5,53682,20.9
1003,Baldwin County,AL,200111,182265,22.2,18.7,51.2,87.1,9.6,0.7,50221,27.7
1005,Barbour County,AL,26887,27457,21.2,16.5,46.6,50.2,47.6,0.6,32911,13.4
1007,Bibb County,AL,22506,22915,21,14.8,45.9,76.3,22.1,0.4,36447,12.1
1009,Blount County,AL,57719,57322,23.6,17,50.5,96,1.8,0.6,44145,12.1
1011,Bullock County,AL,10764,10914,21.4,14.9,45.3,26.9,70.1,0.8,32033,12.5
1013,Butler County,AL,20296,20947,23.6,18,53.6,53.9,44,0.4,29918,14
1015,Calhoun County,AL,115916,118572,22.2,16,51.8,75.8,21.1,0.5,39962,16.1

# Step 2: Use Hive to create [election] database and [counties] table

In [ ]:
# 12.

0: jdbc:hive2://> CREATE DATABASE election;
OK
No rows affected (10.631 seconds)

0: jdbc:hive2://> USE election;
OK
No rows affected (0.264 seconds)

0: jdbc:hive2://> SHOW DATABASES;
OK
+----------------+--+
| database_name  |
+----------------+--+
| default        |
| dualcore       |
| election       |
| tmdb_movies    |
| tweets         |
+----------------+--+
5 rows selected (1.705 seconds)

In [ ]:
# 13.

0: jdbc:hive2://> CREATE EXTERNAL TABLE counties (FIPS INT, AREA_NAME STRING, STATE_ABBREVIATION STRING, POPULATION INT, POPULATION2010 INT, AGE18 FLOAT, AGE65 FLOAT, FEMALEPCT FLOAT, WHITEPCT FLOAT, BLACKPCT FLOAT, 
                                                  NATIVEPCT FLOAT, INC INT, COLLEGEPCT FLOAT) 
            ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde' 
            WITH SERDEPROPERTIES ("separatorChar" = ",", "quoteChar" = "\"") 
            LOCATION '/user/cloudera/counties/';
OK
No rows affected (0.936 seconds)

In [ ]:
# 14.

0: jdbc:hive2://> SELECT * FROM counties LIMIT 10;

    
## Table loaded successfully.
+----------------+---------------------+------------------------------+----------------------+--------------------------+-----------------+-----------------+---------------------+--------------------+--------------------+---------------------+---------------+----------------------+--+
| counties.fips  | counties.area_name  | counties.state_abbreviation  | counties.population  | counties.population2010  | counties.age18  | counties.age65  | counties.femalepct  | counties.whitepct  | counties.blackpct  | counties.nativepct  | counties.inc  | counties.collegepct  |
+----------------+---------------------+------------------------------+----------------------+--------------------------+-----------------+-----------------+---------------------+--------------------+--------------------+---------------------+---------------+----------------------+--+
| 0              | United States       |                              | 318857056            | 308745538                | 23.1            | 14.5            | 50.8                | 77.4               | 13.2               | 1.2                 | 53046         | 28.8                 |
| 1000           | Alabama             |                              | 4849377              | 4779736                  | 22.8            | 15.3            | 51.5                | 69.7               | 26.7               | 0.7                 | 43253         | 22.6                 |
| 1001           | Autauga County      | AL                           | 55395                | 54571                    | 25.2            | 13.8            | 51.4                | 77.9               | 18.7               | 0.5                 | 53682         | 20.9                 |
| 1003           | Baldwin County      | AL                           | 200111               | 182265                   | 22.2            | 18.7            | 51.2                | 87.1               | 9.6                | 0.7                 | 50221         | 27.7                 |
| 1005           | Barbour County      | AL                           | 26887                | 27457                    | 21.2            | 16.5            | 46.6                | 50.2               | 47.6               | 0.6                 | 32911         | 13.4                 |
| 1007           | Bibb County         | AL                           | 22506                | 22915                    | 21              | 14.8            | 45.9                | 76.3               | 22.1               | 0.4                 | 36447         | 12.1                 |
| 1009           | Blount County       | AL                           | 57719                | 57322                    | 23.6            | 17              | 50.5                | 96                 | 1.8                | 0.6                 | 44145         | 12.1                 |
| 1011           | Bullock County      | AL                           | 10764                | 10914                    | 21.4            | 14.9            | 45.3                | 26.9               | 70.1               | 0.8                 | 32033         | 12.5                 |
| 1013           | Butler County       | AL                           | 20296                | 20947                    | 23.6            | 18              | 53.6                | 53.9               | 44                 | 0.4                 | 29918         | 14                   |
| 1015           | Calhoun County      | AL                           | 115916               | 118572                   | 22.2            | 16              | 51.8                | 75.8               | 21.1               | 0.5                 | 39962         | 16.1                 |
+----------------+---------------------+------------------------------+----------------------+--------------------------+-----------------+-----------------+---------------------+--------------------+--------------------+---------------------+---------------+----------------------+--+
10 rows selected (1.707 seconds)

# Step 3: Use Hive to ingest and analyze election16.csv

In [ ]:
# 15.

## Not delimited by commas (',') but by pipes ('|').  And there is a header row.

[cloudera@quickstart midterm]$ head -10 election*

county|state|fips|party|candidate|votes
Autauga|AL|1001|Democrat|Bernie Sanders|544
Autauga|AL|1001|Democrat|Hillary Clinton|2387
Baldwin|AL|1003|Democrat|Bernie Sanders|2694
Baldwin|AL|1003|Democrat|Hillary Clinton|5290
Barbour|AL|1005|Democrat|Bernie Sanders|222
Barbour|AL|1005|Democrat|Hillary Clinton|2567
Bibb|AL|1007|Democrat|Bernie Sanders|246
Bibb|AL|1007|Democrat|Hillary Clinton|942
Blount|AL|1009|Democrat|Bernie Sanders|395

In [ ]:
# 16.

## Made a new dir in HDFS for elections data (probably not needed but it is easier to manage).  Verified file was copied over correctly.
[cloudera@quickstart midterm]$ hadoop fs -mkdir /user/cloudera/elections
[cloudera@quickstart midterm]$ hadoop fs -put /home/cloudera/midterm/elect* /user/cloudera/elections
[cloudera@quickstart midterm]$ hadoop fs -cat /user/cloudera/elections/* | wc -l
17480
[cloudera@quickstart midterm]$ wc -l electio*
17480 election16.csv

## Created 2 tables, one to grab the CSV data, and the second using ORC storage format.

0: jdbc:hive2://> CREATE TABLE election_csv (COUNTY STRING, STATE_ABBREVIATION STRING, FIPS INT, PARTY STRING, CANDIDATE STRING, VOTES INT) 
            ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde' 
            WITH SERDEPROPERTIES ("separatorChar" = "|") 
            LOCATION '/user/cloudera/election/' 
            TBLPROPERTIES("skip.header.line.count"="1");
OK
No rows affected (0.452 seconds)

## Checking to see if the CSV table loaded, it did not.

0: jdbc:hive2://> SELECT * from election_csv LIMIT 1;
OK
+----------------------+----------------------------------+--------------------+---------------------+-------------------------+---------------------+--+
| election_csv.county  | election_csv.state_abbreviation  | election_csv.fips  | election_csv.party  | election_csv.candidate  | election_csv.votes  |
+----------------------+----------------------------------+--------------------+---------------------+-------------------------+---------------------+--+
+----------------------+----------------------------------+--------------------+---------------------+-------------------------+---------------------+--+
No rows selected (0.326 seconds)

## LOAD the CSV table first
0: jdbc:hive2://> LOAD DATA LOCAL INPATH '/home/cloudera/midterm/election16.csv' INTO TABLE election_csv;
Loading data to table election.election_csv
Table election.election_csv stats: [numFiles=1, totalSize=790867]
OK
No rows affected (1.327 seconds)

## Confirmed that data loaded this time.
0: jdbc:hive2://> SELECT * from election_csv LIMIT 1;
OK
+----------------------+----------------------------------+--------------------+---------------------+-------------------------+---------------------+--+
| election_csv.county  | election_csv.state_abbreviation  | election_csv.fips  | election_csv.party  | election_csv.candidate  | election_csv.votes  |
+----------------------+----------------------------------+--------------------+---------------------+-------------------------+---------------------+--+
| Autauga              | AL                               | 1001               | Democrat            | Bernie Sanders          | 544                 |
+----------------------+----------------------------------+--------------------+---------------------+-------------------------+---------------------+--+
1 row selected (0.31 seconds)

## Create the election_orc table with a different format, and load it using the CSV table created above.

0: jdbc:hive2://> CREATE TABLE election_orc (COUNTY STRING, STATE_ABBREVIATION STRING, FIPS INT, PARTY STRING, CANDIDATE STRING, VOTES INT) STORED AS ORC;
OK
No rows affected (0.239 seconds)

## Confirm table is empty after being created.
0: jdbc:hive2://> SELECT * FROM election_orc;
OK
+----------------------+----------------------------------+--------------------+---------------------+-------------------------+---------------------+--+
| election_orc.county  | election_orc.state_abbreviation  | election_orc.fips  | election_orc.party  | election_orc.candidate  | election_orc.votes  |
+----------------------+----------------------------------+--------------------+---------------------+-------------------------+---------------------+--+
+----------------------+----------------------------------+--------------------+---------------------+-------------------------+---------------------+--+
No rows selected (0.276 seconds)

## Load the table using csv table - SUCCESS!

0: jdbc:hive2://> INSERT INTO TABLE election_orc SELECT * FROM election_csv;
Query ID = cloudera_20190720131212_a3c88aa2-87a1-4a29-8c56-e5d6872e301d
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks is set to 0 since there's no reduce operator
19/07/20 13:13:01 [HiveServer2-Background-Pool: Thread-95]: WARN mapreduce.JobResourceUploader: Hadoop command-line option parsing not performed. Implement the Tool interface and execute your application with ToolRunner to remedy this.
Starting Job = job_1563637283469_0001, Tracking URL = http://quickstart.cloudera:8088/proxy/application_1563637283469_0001/
Kill Command = /usr/lib/hadoop/bin/hadoop job  -kill job_1563637283469_0001
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
19/07/20 13:13:49 [HiveServer2-Background-Pool: Thread-95]: WARN mapreduce.Counters: Group org.apache.hadoop.mapred.Task$Counter is deprecated. Use org.apache.hadoop.mapreduce.TaskCounter instead
2019-07-20 13:13:49,005 Stage-1 map = 0%,  reduce = 0%
2019-07-20 13:14:20,890 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 11.54 sec
MapReduce Total cumulative CPU time: 11 seconds 540 msec
Ended Job = job_1563637283469_0001
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to: hdfs://quickstart.cloudera:8020/user/hive/warehouse/election.db/election_orc/.hive-staging_hive_2019-07-20_13-12-57_883_5457467358191804834-1/-ext-10000
Loading data to table election.election_orc
Table election.election_orc stats: [numFiles=1, numRows=17479, totalSize=60900, rawDataSize=6502188]
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 11.54 sec   HDFS Read: 794975 HDFS Write: 60985 SUCCESS
Total MapReduce CPU Time Spent: 11 seconds 540 msec
OK
No rows affected (86.313 seconds)

In [ ]:
# 17.

0: jdbc:hive2://> SELECT * FROM election_orc LIMIT 5;
OK
+----------------------+----------------------------------+--------------------+---------------------+-------------------------+---------------------+--+
| election_orc.county  | election_orc.state_abbreviation  | election_orc.fips  | election_orc.party  | election_orc.candidate  | election_orc.votes  |
+----------------------+----------------------------------+--------------------+---------------------+-------------------------+---------------------+--+
| Autauga              | AL                               | 1001               | Democrat            | Bernie Sanders          | 544                 |
| Autauga              | AL                               | 1001               | Democrat            | Hillary Clinton         | 2387                |
| Baldwin              | AL                               | 1003               | Democrat            | Bernie Sanders          | 2694                |
| Baldwin              | AL                               | 1003               | Democrat            | Hillary Clinton         | 5290                |
| Barbour              | AL                               | 1005               | Democrat            | Bernie Sanders          | 222                 |
+----------------------+----------------------------------+--------------------+---------------------+-------------------------+---------------------+--+
5 rows selected (0.643 seconds)

In [ ]:
# 18.

## 790867 bytes or 790.867 KB on local file system 
[cloudera@quickstart midterm]$ ls -l election*
-rw-rw-r-- 1 cloudera cloudera 790867 Jul 19 21:34 election16.csv

## 59.5 K!  Much smaller compared to the CSV file - literally 7.5% of the original size!

[cloudera@quickstart midterm]$ hadoop fs -du -h /user/hive/warehouse/election.db
59.5 K  59.5 K  /user/hive/warehouse/election.db/election_orc

In [ ]:
# 19.

## The total three candidates by total votes were Hillary Clinton (Democrat), Donald Frump (Republican), and Bernie Sanders (Democrat).  Didn't really help us!

0: jdbc:hive2://> SELECT candidate, party, SUM(votes) AS total_votes FROM election_orc GROUP BY candidate, party ORDER BY total_votes DESC LIMIT 3;
Total MapReduce CPU Time Spent: 19 seconds 270 msec
OK
+------------------+-------------+--------------+--+
|    candidate     |    party    | total_votes  |
+------------------+-------------+--------------+--+
| Hillary Clinton  | Democrat    | 14122335     |
| Donald Trump     | Republican  | 12559572     |
| Bernie Sanders   | Democrat    | 10332812     |
+------------------+-------------+--------------+--+
3 rows selected (144.886 seconds)

In [ ]:
# 20.

0: jdbc:hive2://> SELECT t1.candidate, t1.state_abbreviation, t1.total_votes, t1.total_votes / t2.total_pop * 100 AS percentage_of_votes FROM 
            (SELECT e.candidate, e.state_abbreviation, sum(e.votes) as total_votes FROM election_orc e GROUP BY e.candidate, e.state_abbreviation ORDER BY total_votes DESC) t1 
            LEFT JOIN (SELECT c.state_abbreviation, sum(c.population) AS total_pop FROM counties c GROUP BY c.state_abbreviation ORDER BY total_pop) t2 
            ON (t1.state_abbreviation = t2.state_abbreviation) 
            LIMIT 1;

OK
+------------------+------------------------+-----------------+----------------------+--+
|   t1.candidate   | t1.state_abbreviation  | t1.total_votes  | percentage_of_votes  |
+------------------+------------------------+-----------------+----------------------+--+
| Hillary Clinton  | CA                     | 1940580         | 5.0011726048579339    |
+------------------+------------------------+-----------------+----------------------+--+
1 row selected (540.614 seconds)

# Step 4: Clean up

In [ ]:
# 21.

0: jdbc:hive2://> DROP DATABASE election CASCADE;
OK
No rows affected (0.814 seconds)
0: jdbc:hive2://> SHOW DATABASES;
OK
+----------------+--+
| database_name  |
+----------------+--+
| default        |
| dualcore       |
| tmdb_movies    |
| tweets         |
+----------------+--+
4 rows selected (0.058 seconds)

## Delete all filesystems recurisvely in hadoop and local fs

[cloudera@quickstart midterm]$ hadoop fs -rm -r /user/cloudera/elections
Deleted /user/cloudera/elections

[cloudera@quickstart midterm]$ hadoop fs -rm -r /user/cloudera/counties
Deleted /user/cloudera/counties

[cloudera@quickstart ~]$ rm -r midterm

rm -r /home/cloudera/midterm

[cloudera@quickstart ~]$ ls -l
total 552
drwxrwxr-x 20 cloudera cloudera   4096 Nov 12  2017 anaconda2
-rwxrwxr-x  1 cloudera cloudera   5387 Apr  5  2017 cloudera-manager
-rwxrwxr-x  1 cloudera cloudera   9964 Apr  5  2017 cm_api.py
drwxrwxr-x  3 cloudera cloudera   4096 Jul 31  2017 deprecated_usr_lib
-rw-rw-r--  1 cloudera cloudera  20387 Nov 12  2017 derby.log
drwxrwxr-x  2 cloudera cloudera   4096 Apr  5  2017 Desktop
drwxrwxr-x  4 cloudera cloudera   4096 Apr  5  2017 Documents
drwxr-xr-x  2 cloudera cloudera   4096 Jun  3 11:05 Downloads
drwxrwsr-x  9 cloudera cloudera   4096 Jul 31  2017 eclipse
-rw-rw-r--  1 cloudera cloudera  53655 Apr  5  2017 enterprise-deployment.json
-rw-rw-r--  1 cloudera cloudera      0 Jul  8 10:53 exit
-rw-rw-r--  1 cloudera cloudera  50515 Apr  5  2017 express-deployment.json
-rw-rw-r--  1 cloudera cloudera    684 Aug  2  2017 hive_create_statements.hql
-rwxrwxr-x  1 cloudera cloudera   5007 Apr  5  2017 kerberos
drwxrwxr-x  2 cloudera cloudera   4096 Apr  5  2017 lib
drwxrwxr-x  5 cloudera cloudera   4096 Nov 12  2017 metastore_db
drwxr-xr-x  2 cloudera cloudera   4096 Jul 20  2017 Music
-rwxrwxr-x  1 cloudera cloudera   4228 Apr  5  2017 parcels
drwxr-xr-x  2 cloudera cloudera   4096 Jul 20  2017 Pictures
drwxr-xr-x  2 cloudera cloudera   4096 Jul 20  2017 Public
drwxrwxr-x  5 cloudera cloudera   4096 Jul 31  2017 scripts
-rw-r--r--  1 cloudera cloudera 268140 Jul 31  2017 shakepoems.txt
drwxr-xr-x  2 cloudera cloudera   4096 Jul 20  2017 Templates
drwxrwxr-x  2 cloudera cloudera   4096 Jul 12 12:58 tmdb_movies
drwxrwxr-x  6 cloudera cloudera   4096 Nov 12  2017 training_materials
-rw-rw-r--  1 cloudera cloudera  41002 Jul  8 10:54 tweets.java
-rw-rw-r--  1 cloudera cloudera     72 Nov 12  2017 Untitled.ipynb
drwxr-xr-x  2 cloudera cloudera   4096 Jul 20  2017 Videos
drwxrwxr-x 23 cloudera cloudera   4096 Jul 31  2017 workspace
drwxrwxr-x  4 cloudera cloudera   4096 Jul 31  2017 workspace.save.dev

# AND WE'RE DONE!  THANKS PROFESSOR!