In [ ]:
In [1]: loan_by_zip('bank.csv',2,.5)
Out[1]:
mean size
ZIP Code
90210 0.5 2
90254 0.5 2
91355 0.5 2
94131 0.5 2

In [1]:
import pandas as pd
from pandas import Series, DataFrame
import datetime as dt

def loan_by_zip(filename, n, loan_apprvl_rate):
    
    baseball_df = pd.read_csv(filename, header = None, names = cols)
    
import pandas as pd
from pandas import Series, DataFrame
import datetime as dt

In [1]:
import pandas as pd
from pandas import Series, DataFrame
import datetime as dt

def loan_by_zip(filename, n, loan_approval_rate):
    
    bank_df = pd.read_csv(filename)

    zip_code_count = DataFrame(bank_df.groupby('ZIP Code')['Personal Loan'].count())
    zip_code_count.rename(index=str, columns = {'Personal Loan':'size'}, inplace = True)

    approved_loans = DataFrame(bank_df.groupby('ZIP Code')['Personal Loan'].sum())
    approved_loans.rename(index=str, columns = {'Personal Loan':'approved loans'}, inplace = True)

    merged_df = zip_code_count.merge(approved_loans, left_index = True, right_index = True)

    merged_df['mean'] = round(merged_df['approved loans'] / merged_df['size'], 1).values

    return merged_df[(merged_df['size'] >= n) & (merged_df['mean'] >= loan_approval_rate)][['mean', 'size']]

In [4]:
loan_by_zip('bank.csv', 2, .5)

          mean  size
ZIP Code
90210      0.5     2
90254      0.5     2
91355      0.5     2
94131      0.5     2
94501      0.5     2
94704      0.5     2
94928      0.5     4
95054      1.0     2
95070      0.5     2
95211      0.5     2
95818      1.0     2

In [5]:
merged_df

NameError: name 'merged_df' is not defined

In [6]:
bank_df = pd.read_csv('bank.csv')

zip_code_count = DataFrame(bank_df.groupby('ZIP Code')['Personal Loan'].count())
zip_code_count.rename(index=str, columns = {'Personal Loan':'size'}, inplace = True)

approved_loans = DataFrame(bank_df.groupby('ZIP Code')['Personal Loan'].sum())
approved_loans.rename(index=str, columns = {'Personal Loan':'approved loans'}, inplace = True)

merged_df = zip_code_count.merge(approved_loans, left_index = True, right_index = True)

merged_df['mean'] = round(merged_df['approved loans'] / merged_df['size'], 1).values

In [11]:
test_df = zip_code_count.reset_index()

In [12]:
test2_df = approved_loans.reset_index()

In [16]:
merged_df = test_df.merge(test2_df)

In [18]:
merged_df['mean'] = round(merged_df['approved loans'] / merged_df['size'], 1).values

In [20]:
merged_df.set_index('ZIP Code')

          size  approved loans  mean
ZIP Code
90018        1               0   0.0
90024        4               0   0.0
90025        4               1   0.2
90027        1               0   0.0
90028        1               0   0.0
90032        1               0   0.0
90033        2               0   0.0
90034        2               0   0.0
90035        1               0   0.0
90041        1               0   0.0
90049        1               0   0.0
90059        2               0   0.0
90089        2               0   0.0
90095        7               1   0.1
90210        2               1   0.5
90245        5               1   0.2
90254        2               1   0.5
90266        2               0   0.0
90274        1               0   0.0
90277        1               0   0.0
90291        3               1   0.3
90401        1               0   0.0
90404        1               1   1.0
90505        1               0   0.0
90630        1               0   0.0
90640        1               1   1.0
90717        1               0   0.0
90740        1               0   0.0
90747        1               0   0.0
90840        1               0   0.0
...        ...             ...   ...
95051        3               1   0.3
95053        1               0   0.0
95054        2               2   1.0
95060        3               1   0.3
95064        1               0   0.0
95070        2               1   0.5
95133        2               0   0.0
95134        1               1   1.0
95207        1               0   0.0
95211        2               1   0.5
95403        1               1   1.0
95449        1               0   0.0
95605        2               0   0.0
95616        8               0   0.0
95670        1               0   0.0
95747        2               0   0.0
95812        2               0   0.0
95814        8               1   0.1
95817        1               0   0.0
95818        2               2   1.0
95819        4               0   0.0
95821        1               0   0.0
95827        1               0   0.0
95828        1               0   0.0
95831        1               0   0.0
95833        1               0   0.0
95929        1               0   0.0
96001        2               0   0.0
96091        1               0   0.0
96150        1               0   0.0

[256 rows x 3 columns]

In [2]:
import pandas as pd
bank_df = pd.read_csv("bank.csv")

In [21]:
test_df = bank_df.groupby('ZIP Code')['Personal Loan'].value_counts().unstack().reset_index().fillna(0)

In [22]:
test_df['size'] = test_df[0] + test_df[1]

In [23]:
test_df['mean'] = round(test_df[1] / test_df['size'], 1)

In [40]:
test_df.index

RangeIndex(start=0, stop=256, step=1)

In [54]:
test_df.index.name = None

In [62]:
test_df

Personal Loan  ZIP Code    0    1  size  mean
0                 90018  1.0  0.0   1.0   0.0
1                 90024  4.0  0.0   4.0   0.0
2                 90025  3.0  1.0   4.0   0.2
3                 90027  1.0  0.0   1.0   0.0
4                 90028  1.0  0.0   1.0   0.0
5                 90032  1.0  0.0   1.0   0.0
6                 90033  2.0  0.0   2.0   0.0
7                 90034  2.0  0.0   2.0   0.0
8                 90035  1.0  0.0   1.0   0.0
9                 90041  1.0  0.0   1.0   0.0
10                90049  1.0  0.0   1.0   0.0
11                90059  2.0  0.0   2.0   0.0
12                90089  2.0  0.0   2.0   0.0
13                90095  6.0  1.0   7.0   0.1
14                90210  1.0  1.0   2.0   0.5
15                90245  4.0  1.0   5.0   0.2
16                90254  1.0  1.0   2.0   0.5
17                90266  2.0  0.0   2.0   0.0
18                90274  1.0  0.0   1.0   0.0
19                90277  1.0  0.0   1.0   0.0
20                90291  2.0  1.0   3.0   0.3
21                90401  1.0  0.0   1.0   0.0
22                90404  0.0  1.0   1.0   1.0
23                90505  1.0  0.0   1.0   0.0
24                90630  1.0  0.0   1.0   0.0
25                90640  0.0  1.0   1.0   1.0
26                90717  1.0  0.0   1.0   0.0
27                90740  1.0  0.0   1.0   0.0
28                90747  1.0  0.0   1.0   0.0
29                90840  1.0  0.0   1.0   0.0
..                  ...  ...  ...   ...   ...
226               95051  2.0  1.0   3.0   0.3
227               95053  1.0  0.0   1.0   0.0
228               95054  0.0  2.0   2.0   1.0
229               95060  2.0  1.0   3.0   0.3
230               95064  1.0  0.0   1.0   0.0
231               95070  1.0  1.0   2.0   0.5
232               95133  2.0  0.0   2.0   0.0
233               95134  0.0  1.0   1.0   1.0
234               95207  1.0  0.0   1.0   0.0
235               95211  1.0  1.0   2.0   0.5
236               95403  0.0  1.0   1.0   1.0
237               95449  1.0  0.0   1.0   0.0
238               95605  2.0  0.0   2.0   0.0
239               95616  8.0  0.0   8.0   0.0
240               95670  1.0  0.0   1.0   0.0
241               95747  2.0  0.0   2.0   0.0
242               95812  2.0  0.0   2.0   0.0
243               95814  7.0  1.0   8.0   0.1
244               95817  1.0  0.0   1.0   0.0
245               95818  0.0  2.0   2.0   1.0
246               95819  4.0  0.0   4.0   0.0
247               95821  1.0  0.0   1.0   0.0
248               95827  1.0  0.0   1.0   0.0
249               95828  1.0  0.0   1.0   0.0
250               95831  1.0  0.0   1.0   0.0
251               95833  1.0  0.0   1.0   0.0
252               95929  1.0  0.0   1.0   0.0
253               96001  2.0  0.0   2.0   0.0
254               96091  1.0  0.0   1.0   0.0
255               96150  1.0  0.0   1.0   0.0

[256 rows x 5 columns]

In [28]:
zip_code_count = DataFrame(bank_df.groupby('ZIP Code')['Personal Loan'].count())
zip_code_count.rename(index=str, columns = {'Personal Loan':'size'}, inplace = True)

In [44]:
approved_loans = DataFrame(bank_df.groupby('ZIP Code')['Personal Loan'].sum())
approved_loans.rename(index=str, columns = {'Personal Loan':'approved loans'}, inplace = True)

In [48]:
merged_df = zip_code_count.merge(approved_loans, left_index = True, right_index = True)

In [91]:
merged_df['mean'] = round(merged_df['approved loans'] / merged_df['size'], 1).values

In [95]:
merged_df[(merged_df['size'] >= 2) & (merged_df['mean'] >= .5)][['mean', 'size']]

          mean  size
ZIP Code
90210      0.5     2
90254      0.5     2
91355      0.5     2
94131      0.5     2
94501      0.5     2
94704      0.5     2
94928      0.5     4
95054      1.0     2
95070      0.5     2
95211      0.5     2
95818      1.0     2

In [27]:
team_avg('baseball.csv', .250, .275)

team
Athletics    0.253
Blue Jays    0.251
Braves       0.266
Cubs         0.266
Dodgers      0.273
Indians      0.270
Nationals    0.272
Orioles      0.255
Padres       0.269
Phillies     0.250
Red Sox      0.270
Royals       0.270
White Sox    0.263
dtype: float64

In [58]:
round(merged_df['approved loans'] / merged_df['size'], 2).values

array([0.  , 0.  , 0.25, 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.14, 0.5 , 0.2 , 0.5 , 0.  , 0.  , 0.  , 0.33, 0.  ,
       1.  , 0.  , 0.  , 1.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.5 , 0.  , 0.  , 0.33, 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.25, 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.33, 0.  , 0.4 , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.33, 0.  , 0.  , 0.  , 0.  , 0.25,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 1.  ,
       0.33, 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.33, 0.  , 0.  , 0.25,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 1.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.2 , 1.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.25, 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 1.  , 0.  , 0.  , 0.  , 0.  , 1.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.5 , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.4 , 0.23, 0.  , 0.  , 0.5 , 0.  , 0.  , 0.  , 0.  , 0.  ,
       1.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.5 , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.25, 0.  , 0.  , 0.  , 0.  , 0.5 , 0.  , 0.  , 0.  , 0.25,
       0.  , 0.  , 0.  , 1.  , 0.  , 0.  , 0.33, 0.  , 1.  , 0.33, 0.  ,
       0.5 , 0.  , 1.  , 0.  , 0.5 , 1.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.12, 0.  , 1.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  ])

In [7]:
baseball_df['avg'] = round(baseball_df['hits'] / baseball_df['at bats'], 3)

In [18]:
team_batt_avgs = round(baseball_df.groupby('team')['hits'].sum() / baseball_df.groupby('team')['at bats'].sum(), 3)

In [24]:
team_batt_avgs[team_batt_avgs.between(start_avg, end_avg)]

team
Mariners    0.242
Phillies    0.250
Rays        0.241
Reds        0.249
dtype: float64

In [17]:
team_players = baseball_df.groupby('team')['name'].count()

In [24]:
np.array(team_players[team_players == 7].index)

array(['Cardinals', 'Rangers', 'Tigers', 'Twins', 'Yankees'], dtype=object)

In [ ]:
baseball_df = pd.read_csv(filename, header = None, names = cols)

In [1]:
import pandas as pd
from pandas import Series, DataFrame
import datetime as dt
import numpy as np

cols = ['name', 'team', 'at bats', 'hits']

def teams_w_n_players(filename, n):
    
    baseball_df = pd.read_csv(filename, header = None, names = cols)
    
    team_players = baseball_df.groupby('team')['name'].count()
    
    return np.array(team_players[team_players == n].index)

In [26]:
teams_w_n_players('baseball.csv', 7)

array(['Cardinals', 'Rangers', 'Tigers', 'Twins', 'Yankees'], dtype=object)

In [27]:
teams_w_n_players('baseball.csv', 6)

array(['Diamondbacks', 'Royals'], dtype=object)

In [26]:
import pandas as pd
from pandas import Series, DataFrame
import datetime as dt

def avg_price_gt(products, manufacturers, p):
    
    products_df = pd.read_csv(products)
    manufacturers_df = pd.read_csv(manufacturers)
    
    merged_df = products_df.merge(manufacturers_df, left_on = 'mfr_id', right_on = 'mfr_id')
    
    prices = merged_df.groupby(['mfr_name']).mean()['price']
    
    return prices[prices > p]

In [27]:
avg_price_gt('products.csv', 'manufacturers.csv', 150)

mfr_name
Fujitsu            240.0
Hewlett-Packard    168.0
Sony               240.0
Name: price, dtype: float64

In [28]:
avg_price_gt('products.csv', 'manufacturers.csv', 200)

mfr_name
Fujitsu    240.0
Sony       240.0
Name: price, dtype: float64

In [5]:
products_df = pd.read_csv('products.csv')
manufacturers_df = pd.read_csv('manufacturers.csv')

In [11]:
merged_df = products_df.merge(manufacturers_df, left_on = 'mfr_id', right_on = 'mfr_id')

In [21]:
prices = merged_df.groupby(['mfr_name']).mean()['price']

In [22]:
prices[prices > n]

mfr_name
Fujitsu            240.0
Hewlett-Packard    168.0
Sony               240.0
Name: price, dtype: float64

In [4]:
pd.read_csv('manufacturers.csv')

   mfr_id         mfr_name
0       1             Sony
1       2    Creative Labs
2       3  Hewlett-Packard
3       4           Iomega
4       5          Fujitsu
5       6       Winchester

In [34]:
def misspellings(filename, n):
    
    misspellings =pd.read_csv(filename)
    
    misspellings = misspellings['corrected word'].value_counts()
    
    return np.array(misspellings[misspellings == n].sort_index().index)

In [35]:
misspellings('misspellings_r.csv', 4)

array(['acquaintance', 'because', 'constitution', 'definitely',
       'essential', 'going', 'harassed', 'independently', 'maintenance',
       'necessarily', 'perhaps', 'privileges', 'successful', 'the',
       'unnecessary', 'very', 'with'], dtype=object)

In [36]:
misspellings('misspellings_r.csv', 5)

array(['have', 'immediately', 'know', 'occasionally', 'occurrence',
       'parallel', 'parallelly', 'privilege', 'really', 'rhythm', 'that',
       'think', 'which', 'years'], dtype=object)

In [37]:
misspellings('misspellings_r.csv', 6)

array(['successfully'], dtype=object)

In [3]:
misspellings = pd.read_csv('misspellings_r.csv')

In [12]:
misspellings = misspellings['corrected word'].value_counts()

In [33]:
np.array(misspellings[misspellings == 4].sort_index().index)

array(['acquaintance', 'because', 'constitution', 'definitely',
       'essential', 'going', 'harassed', 'independently', 'maintenance',
       'necessarily', 'perhaps', 'privileges', 'successful', 'the',
       'unnecessary', 'very', 'with'], dtype=object)