In [ ]:
#!/usr/bin/env python

import sys

for line in sys.stdin:
   line = line.strip()
   (id, fname, lname, addr, city, state, zip, job, email, active, salary) = line.split("\t")

   if int(salary) >= 75000:
      print "%s,1" % state

In [29]:
with open("employee.txt") as e:
    for line in e:
        (id, fname, lname, addr, city, state, zip, job, email, active, salary) = line.strip().split(",")
        print(salary, state)
        if int(salary) >= 75000:
            print("%s,1") % state
  #      elif int(salary) < 75000:
   #         print("nothing")

22329 KY
99645 CA
%s,1

TypeError: unsupported operand type(s) for %: 'NoneType' and 'str'

In [3]:
import pandas as pd

In [13]:
employees = pd.read_csv("employee.txt", error_bad_lines = False, header = None)

b'Skipping line 1344: expected 11 fields, saw 12\n'

In [14]:
employees.head(2)

,0,1,2,3,4,5,6,7,8,9,10
0,AA1130960,Amy,Alicea,2472 25th Street,Fulton,KY,42041,Sales Associate,aa1130960@example.com,Y,22329
1,AA1146303,Anna,Atkins,4640 East 10th Street,Scotts Valley,CA,95066,Assistant Manager,aa1146303@example.com,Y,99645

In [12]:


for line in employees:
    #line = line.strip()
    print(line)
    #(id, fname, lname, addr, city, state, zip, job, email, active, salary) = line.split(",")

#   if int(salary) >= 75000:
#      print("%s,1") % state

0
1
2
3
4
5
6
7
8
9
10

In [21]:
with open("employee_sample.txt") as e:
    for line in e:
        (id, fname, lname, addr, city, state, zip, job, email, active, salary) = line.strip().split(",")
        print(salary)
        #
         #   print("%s,1") % state

22329
99645
26717
26078
17486
22278
17220
18566
25262