In [2]:
import pandas as pd

from pandas import Series, DataFrame

import datetime as dt

In [96]:
## January 1987-December 1993 - monthly

import pandas as pd

from pandas import Series, DataFrame

import datetime as dt

def avg_annual(filename):
    
    fancy = pd.read_csv("fancy.dat", header = None, names = ['sales'], squeeze = True)
    dates = pd.DatetimeIndex(start = '01/01/1987', periods = len(fancy), freq = 'M')
    fancy.index = dates
    
    annual_sales = fancy.groupby(lambda x: x.year).sum()
    
    return Series(round(annual_sales.mean(), 2), index =['sales'])

In [97]:
avg_annual('fancy.dat')

sales    171787.05
dtype: float64

In [3]:
fancy = pd.read_csv("fancy.dat", header = None, names = ['sales'], squeeze = True)
dates = pd.DatetimeIndex(start = '01/01/1987', periods = len(fancy), freq = 'M')
fancy.index = dates

In [15]:
fancy.groupby(lambda x: x.year).sum()

1987     64636.10
1988     93986.04
1989    121808.00
1990    126059.87
1991    164644.51
1992    268717.73
1993    362657.07
Name: sales, dtype: float64

In [58]:
annual_sales = fancy.groupby(lambda x: x.year).sum()

#fancy

In [95]:
return Series(round(annual_sales.mean(), 2), index =['sales'])

sales    171787.05
dtype: float64

In [68]:
dates = pd.DatetimeIndex(start = '01/01/1987', periods = 84, freq = 'M')
fancy = pd.read_csv("fancy.dat", header = None, names = ['sales'], squeeze = True)
fancy.index = dates

In [79]:
fancy.groupby(lambda x: x.month).max().idxmax()

12

In [15]:
pd.DatetimeIndex(start = '01/01/1987', periods = 84, freq = 'M')

DatetimeIndex(['1987-01-31', '1987-02-28', '1987-03-31', '1987-04-30',
               '1987-05-31', '1987-06-30', '1987-07-31', '1987-08-31',
               '1987-09-30', '1987-10-31', '1987-11-30', '1987-12-31',
               '1988-01-31', '1988-02-29', '1988-03-31', '1988-04-30',
               '1988-05-31', '1988-06-30', '1988-07-31', '1988-08-31',
               '1988-09-30', '1988-10-31', '1988-11-30', '1988-12-31',
               '1989-01-31', '1989-02-28', '1989-03-31', '1989-04-30',
               '1989-05-31', '1989-06-30', '1989-07-31', '1989-08-31',
               '1989-09-30', '1989-10-31', '1989-11-30', '1989-12-31',
               '1990-01-31', '1990-02-28', '1990-03-31', '1990-04-30',
               '1990-05-31', '1990-06-30', '1990-07-31', '1990-08-31',
               '1990-09-30', '1990-10-31', '1990-11-30', '1990-12-31',
               '1991-01-31', '1991-02-28', '1991-03-31', '1991-04-30',
               '1991-05-31', '1991-06-30', '1991-07-31', '1991-08-31',
               '1991-09-30', '1991-10-31', '1991-11-30', '1991-12-31',
               '1992-01-31', '1992-02-29', '1992-03-31', '1992-04-30',
               '1992-05-31', '1992-06-30', '1992-07-31', '1992-08-31',
               '1992-09-30', '1992-10-31', '1992-11-30', '1992-12-31',
               '1993-01-31', '1993-02-28', '1993-03-31', '1993-04-30',
               '1993-05-31', '1993-06-30', '1993-07-31', '1993-08-31',
               '1993-09-30', '1993-10-31', '1993-11-30', '1993-12-31'],
              dtype='datetime64[ns]', freq='M')