In [37]:
import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader.data as web

In [38]:
def gdp_data(start, end):
    
    gdp_df = web.DataReader(['GDP', 'POP'], 'fred', start, end)
    gdp_df = gdp_df.interpolate()
    gdp_df['per_capita'] = gdp_df['GDP'] / gdp_df['POP'] * 1000000
    
    return gdp_df

In [39]:
gdp_data('2015-1-1', '2015-7-1')

                     GDP     POP    per_capita
DATE
2015-01-01  17970.422000  320195  56123.368572
2015-02-01  18054.047667  320346  56357.961912
2015-03-01  18137.673333  320508  56590.391919
2015-04-01  18221.299000  320684  56820.106398
2015-05-01  18257.897000  320871  56901.050578
2015-06-01  18294.495000  321066  56980.480649
2015-07-01  18331.093000  321275  57057.327834

In [10]:
df = web.DataReader(['GDP', 'POP'], 'fred', '2015-1-1', '2015-7-1')

In [34]:
df.interpolate()

                     GDP     POP
DATE
2015-01-01  17970.422000  320195
2015-02-01  18054.047667  320346
2015-03-01  18137.673333  320508
2015-04-01  18221.299000  320684
2015-05-01  18257.897000  320871
2015-06-01  18294.495000  321066
2015-07-01  18331.093000  321275

In [33]:
df.asfreq('BMS')

                  GDP       POP
DATE
2015-01-01  17970.422  320195.0
2015-02-02        NaN       NaN
2015-03-02        NaN       NaN
2015-04-01  18221.299  320684.0
2015-05-01        NaN  320871.0
2015-06-01        NaN  321066.0
2015-07-01  18331.093  321275.0

In [25]:
df.resample('M').sum()

                  GDP     POP
DATE
2015-01-31  17970.422  320195
2015-02-28      0.000  320346
2015-03-31      0.000  320508
2015-04-30  18221.299  320684
2015-05-31      0.000  320871
2015-06-30      0.000  321066
2015-07-31  18331.093  321275

In [15]:
web.DataReader('USALORSGPNOSTSAM', 'fred', '2015-1-1', '2015-7-1')

            USALORSGPNOSTSAM
DATE
2015-01-01        100.649109
2015-02-01        100.698273
2015-03-01        100.739217
2015-04-01        100.762874
2015-05-01        100.760031
2015-06-01        100.724736
2015-07-01        100.659559

In [11]:
gdp['per_capita'] = gdp['GDP'] / gdp['POP'] * 1000000

In [27]:
pdr.fred.FredReader(['NAEXKP04USA652S'], start='2015-1-1', end='2015-7-1').read()

            NAEXKP04USA652S
DATE
2015-01-01     3.557920e+12

In [6]:
web.DataReader(['GDP', 'POP'], 'fred', '2015-1-1', '2015-7-1')

                  GDP     POP
DATE
2015-01-01  17970.422  320195
2015-02-01        NaN  320346
2015-03-01        NaN  320508
2015-04-01  18221.299  320684
2015-05-01        NaN  320871
2015-06-01        NaN  321066
2015-07-01  18331.093  321275