In [1]:
import pandas as pd

from pandas import Series, DataFrame

In [ ]:
In [1]: duplicates('names2.txt')
Out[1]: array(['Jane', 'Ruth', 'Thomas', 'Dana', 'Paul'], dtype=object)

In [38]:
names[names.duplicated(keep = False)].T

     6     7     11    12    13    25    26    31    32      38      39
0  Dana  Dana  Jane  Jane  Jane  Paul  Paul  Ruth  Ruth  Thomas  Thomas

In [2]:
names = pd.read_csv("names2.txt", header = None)

In [43]:
names_df = names[names.duplicated()]

In [48]:
names_df[~names_df.duplicated()].values

array([['Dana'],
       ['Jane'],
       ['Paul'],
       ['Ruth'],
       ['Thomas']], dtype=object)

In [40]:
import pandas as pd

from pandas import Series, DataFrame

def duplicates(filename):
    
    names = pd.read_csv(filename, header = None, squeeze = True)
    names = names[names.duplicated()]
    
    return names[~names.duplicated()].values

In [41]:
duplicates("names2.txt")

array(['Dana', 'Jane', 'Paul', 'Ruth', 'Thomas'], dtype=object)

In [20]:
names = pd.read_csv('names2.txt', header = None, squeeze = True)

In [30]:
dup = names[names.duplicated(keep = 'first')]

In [37]:
dup[~dup.duplicated()].values

array(['Dana', 'Jane', 'Paul', 'Ruth', 'Thomas'], dtype=object)