In [ ]:
In [1]: compare_names_for_years('yob2016.txt','yob2007.txt',5)
Out[1]:
array([],
dtype='<U15')
In [2]: compare_names_for_years('yob2016.txt','yob2007.txt',10)
Out[2]:
array(['Isabella', 'William'],
dtype='<U15')
In [3]: compare_names_for_years('yob2016.txt','yob2007.txt',20)
Out[3]:
array(['Alexander', 'Ava', 'Daniel', ..., 'Noah', 'Sophia', 'William'],
dtype='<U15')

"names/yob2016.txt"

In [72]:
import numpy as np

def compare_names_for_years(file_1, file_2, n):
    
    file_1 = np.loadtxt(file_1, delimiter = ",", dtype = str)
    file_2 = np.loadtxt(file_2, delimiter = ",", dtype = str)
    
    first_names = file_1[:, 0:1]
    counts = file_1[:, 2:3].astype(int)
    
    second_names = file_2[:, 0:1]
    second_counts = file_2[:, 2:3].astype(int)
    
    return np.intersect1d(first_names[np.argsort(counts, axis = 0)][::-1][:n].flatten(), second_names[np.argsort(second_counts, axis = 0)][::-1][:n].flatten())

In [74]:
compare_names_for_years('names/yob2016.txt','names/yob2007.txt',10)

array(['Isabella', 'William'], dtype='<U15')

In [61]:
year2016 = np.loadtxt("names/yob2016.txt", delimiter = ",", dtype = str)

In [62]:
year2007 = np.loadtxt("names/yob2007.txt", delimiter = ",", dtype = str)

In [63]:
first_names = year2016[:, 0:1]
counts = year2016[:, 2:3].astype(int)

first_names[np.argsort(counts, axis = 0)][::-1][:10].flatten()

array(['Emma', 'Olivia', 'Noah', 'Liam', 'Ava', 'Sophia', 'William',
       'Mason', 'James', 'Isabella'], dtype='<U15')

In [64]:
second_names = year2007[:, 0:1]
second_counts = year2007[:, 2:3].astype(int)

second_names[np.argsort(second_counts, axis = 0)][::-1][:10].flatten()

array(['Jacob', 'Michael', 'Ethan', 'Joshua', 'Daniel', 'Christopher',
       'Anthony', 'Emily', 'Isabella', 'William'], dtype='<U15')

In [67]:
np.intersect1d(first_names[np.argsort(counts, axis = 0)][::-1][:20].flatten(), second_names[np.argsort(second_counts, axis = 0)][::-1][:20].flatten())

array(['Alexander', 'Ava', 'Daniel', 'Emma', 'Ethan', 'Isabella', 'Jacob',
       'Michael', 'Noah', 'Sophia', 'William'], dtype='<U15')

In [54]:
second_names[np.argsort(second_counts, axis = 0)][::-1][:10].flatten()

array(['Jacob', 'Michael', 'Ethan', 'Joshua', 'Daniel', 'Christopher',
       'Anthony', 'Emily', 'Isabella', 'William'], dtype='<U15')

In [58]:
year2007.sort(1)

In [60]:
year2007[:10]

array([['19355', 'Emily', 'F'],
       ['19137', 'F', 'Isabella'],
       ['18372', 'Emma', 'F'],
       ['18047', 'Ava', 'F'],
       ['17958', 'F', 'Madison'],
       ['17021', 'F', 'Sophia'],
       ['16580', 'F', 'Olivia'],
       ['15468', 'Abigail', 'F'],
       ['13304', 'F', 'Hannah'],
       ['13050', 'Elizabeth', 'F']], dtype='<U15')